@{
    ViewData["Title"] = "Kampagner";
}

<div class="content">
    <div class="content-head">
        <h2>@ViewData["Title"]</h2>
    </div>

    <div class="content-body">
        <div class="create-campaign">
            <div class="col-md-12">

                <div class="col-md-6">
                    <div class="campaing-box">
                        <h3>Kampagner</h3>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="campaing-box">
                        <p>HELLO</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="campaing-box">
                        <p>HELLO</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
