@using BestfluenceBusiness.Models.CampaignsViewModel
@model CreateViewModel
@{
    ViewData["Title"] = "Step 2";
}

<div class="content">
    <div class="content-head">
        <h2>Ny kampagne</h2>
    </div>

    <div class="content-body">
        <div class="create-campaign">
            <div class="col-md-12">
                <div class="col-md-8">
                    <div class="create-campaign-box">
                        <div class="create-campaign-box-head">
                            <ul>
                                <li>Step 1</li>
                                <li class="active">Step 2</li>
                                <li>Step 3</li>
                            </ul>
                        </div>
                        <div class="create-campaign-box-body">
                            <div class="col-md-12 new-row">
                                <div class="col-md-12">
                                    <p>General beskrivelse af kampagnen</p>
                                    <textarea placeholder="Beskriv din kampagne og forklar hvad der forventes af influenceren"></textarea>
                                </div>
                            </div>

                            <div class="col-md-12 new-row">
                                <div class="col-md-12">
                                    <p>General beskrivelse af kampagnen</p>
                                    <textarea></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
