@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>@ViewData["Title"] - BusinessMockUp</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300|Open+Sans:300,400|Roboto:300|Raleway:300|Hind:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['line'] });
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.load('current', { 'packages': ['bar'] });
        google.charts.load('current', {
            'packages': ['geochart'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            'mapsApiKey': 'AIzaSyDWEZSe_DCiFhdLBoel5bw7YL4FEp3018g'
        });
    </script>
</head>
<body>

    <nav class="sidenav" id="sideMenuContainer" style="display: none">
        <div class="header">

        </div>
        <div class="content">
            <p>GENERELT</p>
            <ul>
                <li><a><i class="material-icons">dashboard</i>Dashboard</a></li>
            </ul>
        </div>

        <div class="content">
            <p>KAMPAGNER</p>
            <ul>
                <li><a><i class="material-icons">show_chart</i>Kampagner</a></li>
                <li><a><i class="material-icons">assignment</i>Opret kampagne</a></li>
            </ul>
        </div>

        @*<div class="content">
            <p>DATA</p>
            <ul>
                <li><a><i class="material-icons">search</i>Søg i data</a></li>
                <li><a><i class="material-icons">email</i>Kontakt influencere</a></li>
            </ul>
        </div>*@

        <div class="content">
            <p>ANDET</p>
            <ul>
                <li><a><i class="material-icons">settings</i>Indstillinger</a></li>
                <li><a><i class="material-icons">help_outline</i>Hjælp</a></li>
            </ul>
        </div>

    </nav>


    <script>
        if (location.pathname != "/") {
            var elements = document.getElementById("sideMenuContainer").style.display = "block";
        }
    </script>

    @RenderBody()

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
