<footer>
    <div class="col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-5 footer-area">
            <h4><b>OM BESTFLUENCE</b></h4>
            <ul>
                <li><a asp-controller="Home" asp-action="About">Om Bestfluence</a></li>
                <li><a asp-controller="Home" asp-action="Blog">Blog</a></li>
                <li><a asp-controller="Home" asp-action="Parents">Forældre</a></li>
                <li><a asp-controller="Home" asp-action="FAQ">FAQ</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Kontakt os</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-5 footer-area">
            <h4><b>ANDET</b></h4>
            <ul>
                <li><a asp-controller="Home" asp-action="TermsAndConditions">Vilkår og betingelser</a></li>
                <li><a asp-controller="Home" asp-action="Privacy">Persondatapolitik</a></li>
                <li><a asp-controller="Home" asp-action="UserGuidelines">Retningslinjer for brugere</a></li>
            </ul>
        </div>

        @*<div class="col-md-3 col-sm-5 footer-area">
                <h4><b>VIRKSOMHEDER</b></h4>
                <ul>
                    <li><a href="#">Markedføring</a></li>
                    <li><a href="#">Find en influenter</a></li>
                    <li><a href="#">Ambasadør</a></li>
                </ul>
            </div>*@


        <div class="col-md-offset-3 col-md-3 col-sm-5 footer-area">
            <h4><b>FØLG OS PÅ</b></h4>
            <a href="https://www.facebook.com/Bestfluence/?fref=ts" target="_blank" class="fa fa-footer fa-facebook fa-facebook-footer"></a>
            <a href="https://www.instagram.com/bestfluence/?hl=da" target="_blank" class="fa fa-footer fa-instagram fa-instagram-footer"></a>
            <a href="http://www.youtube.com/channel/UCQN7zow-WSbvbihW8yht2sw" target="_blank" class="fa fa-footer fa-youtube fa-youtube-footer"></a>
            <br /><br />
            <p>&#169; @DateTime.Now.Year Bestfluence</p>
            <p style="font-size: 12px">Icons made by <a href="http://www.roundicons.com" style="color: #fff; text-decoration: none">Roundicons</a> from <a href="http://www.flaticon.com" style="color: #fff; text-decoration: none">www.flaticon.com</a></p>

        </div>

    </div>
</footer>