<footer>
    <div class="col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-5 footer-area">
            <h4><b>OM BESTFLUENCE</b></h4>
            <ul>
                <li><a asp-controller="Footer" asp-action="About">Om Bestfluence</a></li>
                <li><a asp-controller="Footer" asp-action="Job">Job</a></li>
                <li><a asp-controller="Footer" asp-action="Kontakt">Kontakt os</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-5 footer-area">
            <h4><b>FOLLOWERS & INFLUENCERS</b></h4>
            <ul>
                <li><a asp-controller="Footer" asp-action="Forældre">Forældre</a></li>
                <li><a asp-controller="Footer" asp-action="FAQ">FAQ</a></li>
            </ul>
        </div>
        @*<div class="col-md-3 col-sm-5 footer-area">
            <h4><b>VIRKSOMHEDER</b></h4>
            <ul>
                <li><a href="#">Markedføring</a></li>
                <li><a href="#">Find en influenter</a></li>
                <li><a href="#">Ambasadør</a></li>
            </ul>
        </div>*@
        <div class="col-md-3">

        </div>

        <div class="col-md-3 col-sm-5 footer-area">
            <a href="https://www.facebook.com/Bestfluence/?fref=ts" target="_blank" class="fa fa-footer fa-facebook fa-facebook-footer"></a>
            <a href="https://www.instagram.com/bestfluence/?hl=da" target="_blank" class="fa fa-footer fa-instagram fa-instagram-footer"></a>
            <a href="http://www.youtube.com/" target="_blank" class="fa fa-footer fa-youtube fa-youtube-footer"></a>
          
            <ul>
                <li><a href="#">Vilkår og betingelser</a></li>
                <li><a href="#">Persondatapolitik</a></li>
                <li><a href="#">Retningslinjer for brugere</a></li>
            </ul>

        </div>

    </div>
</footer>