@inject Bestfluence.Services.Interfaces.IBlogService BlogService

<footer id="myFooter">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="col-md-3 col-sm-3">
                <p><b>OM BESTFLUENCE</b></p>
                <ul>
                    <li><a asp-controller="home" asp-action="about">Om Bestfluence</a></li>
                    <li><a asp-controller="home" asp-action="parents">Forældre</a></li>
                    <li><a asp-controller="blog" asp-action="index">Blog</a></li>
                    <li><a asp-controller="home" asp-action="contact">Kontakt os</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-3">
                <p><b>FØLGERE & INFLUENCERE</b></p>
                <ul>
                    <li><a asp-controller="home" asp-action="faq">FAQ</a></li>
                    <li><a asp-controller="home" asp-action="feedbackAndAnswers">Feedback & Svar</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-3">
                <p><b>ANDET</b></p>
                <ul>
                    <li><a asp-controller="home" asp-action="termsAndConditions">Vilkår og betingelser</a></li>
                    <li><a asp-controller="home" asp-action="privacy">Persondatapolitik</a></li>
                    <li><a asp-controller="home" asp-action="userGuidelines">Retningslinjer for brugere</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-3">
                <p><b>NYESTE ARTIKLER</b></p>
                <ul>
                    @foreach (var v in BlogService.GetLast4BlogArticle())
                    {
                        @if (string.IsNullOrEmpty(v.Url))
                        {
                            <li><a asp-controller="blog" asp-action="article" asp-route-id="@v.Id">@v.Title</a></li>
                        }
                        else
                        {
                            <li><a href="/blog/@v.Url">@v.Title</a></li>
                        }
                    }
                </ul>
            </div>
            <div class="col-md-12 col-sm-12">
                <hr style="border-color: #666666" />
                <span>&#169; Bestfluence | @DateTime.Now.Year</span>
                <a class="social-footer" href="https://www.linkedin.com/company/bestfluence" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a class="social-footer" href="https://www.facebook.com/Bestfluence/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                <a class="social-footer" href="https://www.instagram.com/bestfluence" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <br />
                <span class="small-footer-text">Icons made by <a href="http://www.roundicons.com" style="color: #fff; text-decoration: none">Roundicons</a> from <a href="http://www.flaticon.com" style="color: #fff; text-decoration: none">www.flaticon.com</a></span>
            </div>


        </div>
    </div>
</footer>