@using Microsoft.AspNetCore.Identity
@using RateBlog.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RateBlog.Services.IFeedbackService FeedbackService
@inject RateBlog.Services.Interfaces.IInfluencerService InfluencerService
@{
    var user = await UserManager.GetUserAsync(User);
}


@if (SignInManager.IsSignedIn(User))
{
    <input type="hidden" value="@user.Id" id="applicationUserId" />
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right" id="dropdownPc">

            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Feedback" class="navLinks">
                    Min feedback
                    <span class="badge navbarBagde" style="font-family: Arial; background: #FFA500"></span>
                </a>
            </li>

            <li class="drop">
                <a href="#" class="navLinks">Konto</a>
                <div class="dropdownContain">
                    <div class="dropOut">
                        <div class="triangle"></div>
                        <ul>
                            <li><a asp-area="" asp-controller="Manage" asp-action="Profile" class="dropOut-a">Vis profil</a></li>
                            <li><a asp-area="" asp-controller="Manage" asp-action="Edit" class="dropOut-a">Rediger profil</a></li>
                            <li><a asp-area="" asp-controller="Manage" asp-action="Influencer" class="dropOut-a">Influencer</a></li>

                            @*<li><a asp-area="" asp-controller="Manage" asp-action="Password" class="dropOut-a">Indstillinger</a></li>*@
                            <li><a id="logOut" href="#" class="dropOut-a">Log af</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="dropdownMobile" style="display: none">

            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Feedback">
                    Min feedback
                    <span class="badge navbarBagde" style="font-family: Arial; background: #FFA500"></span>
                </a>
            </li>

            <li><a asp-area="" asp-controller="Manage" asp-action="Profile">Vis profil</a></li>
            <li><a asp-area="" asp-controller="Manage" asp-action="Edit">Rediger profil</a></li>
            <li><a asp-area="" asp-controller="Manage" asp-action="Influencer">Influencer</a></li>

            @*<li><a asp-area="" asp-controller="Manage" asp-action="Password">Indstillinger</a></li>*@
            <li><a id="logOutMobile" href="#">Log af</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a id="signup" class="login-links navLinks" data-toggle="modal" data-target="#opretModal">Opret</a></li>
        <li><a class="login-links navLinks" data-toggle="modal" data-target="#loginModal">Log ind</a></li>
    </ul>
}

