@using Microsoft.AspNetCore.Identity
@using RateBlog.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RateBlog.Repository.IRatingRepository RatingRepo
@{ 
    var user = await UserManager.GetUserAsync(User);
}

@if (SignInManager.IsSignedIn(User))
{

    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right" id="dropdownPc">
            
 
            @if (User.IsInRole("Ekspert"))
            {


                <li class="drop">
                    <a href="#">Ekspert</a>
                    <div class="dropdownContain">
                        <div class="dropOut">
                            <div class="triangle"></div>
                            <ul>
                                <li><a asp-area="" asp-controller="Ekspert" asp-action="Index" class="dropOut-a">Søg</a></li>
                                <li><a asp-area="" asp-controller="Ekspert" asp-action="Anmeldelser" class="dropOut-a">Se anmeldser</a></li>

                            </ul>
                        </div>
                    </div>
                </li>
            }
            else
            {

            @if (UserManager.GetUserAsync(User).Result.InfluenterId.HasValue)
            {
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Anmeldelser">
                        Anmeldelser
                        @if (RatingRepo.GetUnreadRatingsNumber(user.InfluenterId.Value) != 0)
                        {
                            <span class="badge" style="font-family: Arial; background: #f08301">@RatingRepo.GetUnreadRatingsNumber(user.InfluenterId.Value)</span>
                        }
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Anmeldelser">
                        Anmeldelser
                        @if (RatingRepo.GetUnreadAnswer(user.Id) != 0)
                        {
                            <span class="badge" style="font-family: Arial; background: #f08301">@RatingRepo.GetUnreadAnswer(user.Id)</span>
                        }
                    </a>
                </li>

            }

            }

            <li class="drop">
                <a href="#">Konto</a>
                <div class="dropdownContain">
                    <div class="dropOut">
                        <div class="triangle"></div>
                        <ul>
                            <li><a asp-area="" asp-controller="Manage" asp-action="Index" class="dropOut-a">Vis profil</a></li>
                            <li><a asp-area="" asp-controller="Manage" asp-action="EditProfile" class="dropOut-a">Rediger profil</a></li>
                            <li><a asp-area="" asp-controller="Manage" asp-action="ChangePassword" class="dropOut-a">Skift kodeord</a></li>
                            <li><a id="logOut" href="#" class="dropOut-a">Log af</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" id="dropdownMobile" style="display: none">
            @if (UserManager.GetUserAsync(User).Result.InfluenterId.HasValue)
            {
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Anmeldelser">
                        Anmeldelser
                        @if (RatingRepo.GetUnreadRatingsNumber(UserManager.GetUserAsync(User).Result.InfluenterId.Value) != 0)
                        {
                            <span class="badge" style="font-family: Arial; background: #f08301">@RatingRepo.GetUnreadRatingsNumber(UserManager.GetUserAsync(User).Result.InfluenterId.Value)</span>
                        }
                    </a>
                </li>
            }
            <li><a asp-area="" asp-controller="Manage" asp-action="Index">Vis profil</a></li>
            <li><a asp-area="" asp-controller="Manage" asp-action="EditProfile">Rediger profil</a></li>
            <li><a asp-area="" asp-controller="Manage" asp-action="ChangePassword">Skift kodeord</a></li>
            <li><a id="logOutMobile" href="#">Log af</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="login-links" data-toggle="modal" data-target="#opretModal">Opret</a></li>
        <li><a class="login-links" data-toggle="modal" data-target="#loginModal">Log in</a></li>
    </ul>
}