@{
    ViewData["Title"] = "Fejl";
}

<div class="background-all">
    <div class="navbar-allaround"></div>
    <div class="col-md-offset-4 col-md-4" style="padding-top: 25vh">
        <div class="white-box">
            <h2 style="margin-top: 10px; font-family: 'Raleway', sans-serif; text-align: center; ">Der skete en fejl!</h2>
            <hr />
            <p style="line-height: 180%">Der skete desværre en fejl! Du må gerne kontakte os og fortælle hvornår fejlen indtræffede, så vi kan fikse den! <br /><br />Mvh. Bestfluence Team</p>
        </div>
    </div>
</div>