@{
    ViewData["Title"] = "Error";
}

<div style="height: 100vh; background: #fafafa">



    <div class="navbar-allaround"></div>

    <div class="container">
        <div class="col-md-offset-3 col-md-6" style="padding-top: 40px;">
            <div class="white-box">
                <h2 style="margin-top: 10px">Der skete en fejl!</h2>
                <hr />
                <h5>Du er velkommen til at kontakte os og forklare hvornår og hvad der skete, da fejlen indtræffede, så vi kan løse det hurtigst muligt!</h5>
                <h5>Mvh. Bestfluence</h5>
            </div>

        </div>
        <div class="col-md-3">
        </div>
    </div>

</div>