@model RateBlog.Models.RatingViewModels.IndexViewModel

<div class="navbar-allaround">
</div>


<div class="outer">
    <div class="middle">
        <div class="inner">
            <h1>Giv din vurdering på</h1>

        </div>
    </div>
</div>
<hr />
<br />

<div class="contaitner">
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="kategoriNavn">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <h2>Orginalitet</h2>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <div class="col-md-9">
                                <h3>X antal stjerner</h3>
                            </div>
                        </div>
                            <div class="col-md-3">
                                <i class="fa fa-check" aria-hidden="true" style="color:#53b90a"></i>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <i class="fa fa-info-circle fa-4x" aria-hidden="true" style="color: #08468d"></i>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        
    </div>

    <div class="col-md-12">
        <div class="col-md-3">
            <div class="kategoriNavn">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <h2>Orginalitet</h2>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <div class="col-md-9">
                                <h3>X antal stjerner</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check" aria-hidden="true" style="color:#53b90a"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <i class="fa fa-info-circle fa-4x" aria-hidden="true" style="color: #08468d"></i>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="kategoriNavn">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <h2>Orginalitet</h2>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <div class="col-md-9">
                                <h3>X antal stjerner</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check" aria-hidden="true" style="color:#53b90a"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <i class="fa fa-info-circle fa-4x" aria-hidden="true" style="color: #08468d"></i>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="kategoriNavn">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <h2>Orginalitet</h2>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <div class="col-md-9">
                                <h3>X antal stjerner</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check" aria-hidden="true" style="color:#53b90a"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <i class="fa fa-info-circle fa-4x" aria-hidden="true" style="color: #08468d"></i>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="kategoriNavn">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <h2>Orginalitet</h2>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <div class="col-md-9">
                                <h3>X antal stjerner</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check" aria-hidden="true" style="color:#53b90a"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <i class="fa fa-info-circle fa-4x" aria-hidden="true" style="color: #08468d"></i>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="kategoriNavn">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <h2>Orginalitet</h2>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <div class="col-md-9">
                                <h3>X antal stjerner</h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check" aria-hidden="true" style="color:#53b90a"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <i class="fa fa-info-circle fa-4x" aria-hidden="true" style="color: #08468d"></i>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

    <hr />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

</div>


