@model RateBlog.Models.RatingViewModels.IndexViewModel

<div class="navbar-allaround">
</div>


<div class="outer">
    <div class="middle">
        <div class="inner">
            <h1>Giv din vurdering af X</h1>

        </div>
    </div>
</div>
<br />



<div class="container">

    <div class="col-md-12 rating-container">
        <hr />
        <div class="col-md-3" style="padding-left: 0px;">
            <div class="kategoriNavn">

                <h2>Orginalitet</h2>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">

                            <div class="col-md-9" >
                                <div class="stars1">
                                    <form action="">
                                        <input class="star1 star-5" id="star-51" type="radio" name="star" />
                                        <label class="star1 star-5" for="star-51"></label>
                                        <input class="star1 star-4" id="star-41" type="radio" name="star" />
                                        <label class="star1 star-4" for="star-41"></label>
                                        <input class="star1 star-3" id="star-31" type="radio" name="star" />
                                        <label class="star1 star-3" for="star-31"></label>
                                        <input class="star1 star-2" id="star-21" type="radio" name="star" />
                                        <label class="star1 star-2" for="star-21"></label>
                                        <input class="star1 star-1" id="star-11" type="radio" name="star" />
                                        <label class="star1 star-1" for="star-11"></label>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check fa-3x" id="orginalitetCheck" aria-hidden="true" style="color:#53b90a; padding-top: 20px; display: none;"></i>
                        </div>

       
        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <a title="Orginalitet" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Du skal give din samlede vurdering af influenterens orginalitet"><i class="fa fa-info-circle fa-3x" aria-hidden="true" style="color: #08468d; padding-top: 10px;"></i></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="col-md-12 rating-container">
        <hr />
        <div class="col-md-3" style="padding-left: 0px;">
            <div class="kategoriNavn">

                <h2>Kvalitet</h2>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">

                <div class="col-md-9">
                    <div class="stars2">
                        <form action="">
                            <input class="star2 star-5" id="star-52" type="radio" name="star" />
                            <label class="star2 star-5" for="star-52"></label>
                            <input class="star2 star-4" id="star-42" type="radio" name="star" />
                            <label class="star2 star-4" for="star-42"></label>
                            <input class="star2 star-3" id="star-32" type="radio" name="star" />
                            <label class="star2 star-3" for="star-32"></label>
                            <input class="star2 star-2" id="star-22" type="radio" name="star" />
                            <label class="star2 star-2" for="star-22"></label>
                            <input class="star2 star-1" id="star-12" type="radio" name="star" />
                            <label class="star2 star-1" for="star-12"></label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fa fa-check fa-3x" id="kvalitetCheck" aria-hidden="true" style="color:#53b90a; padding-top: 20px; display: none;"></i>
            </div>


        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <a title="Orginalitet" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Du skal give din samlede vurdering af influenterens orginalitet"><i class="fa fa-info-circle fa-3x" aria-hidden="true" style="color: #08468d; padding-top: 10px;"></i></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div class="col-md-12 rating-container">
        <hr />
        <div class="col-md-3" style="padding-left: 0px;">
            <div class="kategoriNavn">

                <h2>Troværdighed</h2>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">

                <div class="col-md-9">
                    <div class="stars3">
                        <form action="">
                            <input class="star3 star-5" id="star-53" type="radio" name="star" />
                            <label class="star3 star-5" for="star-53"></label>
                            <input class="star3 star-4" id="star-43" type="radio" name="star" />
                            <label class="star3 star-4" for="star-43"></label>
                            <input class="star3 star-3" id="star-33" type="radio" name="star" />
                            <label class="star3 star-3" for="star-33"></label>
                            <input class="star3 star-2" id="star-23" type="radio" name="star" />
                            <label class="star3 star-2" for="star-23"></label>
                            <input class="star3 star-1" id="star-13" type="radio" name="star" />
                            <label class="star3 star-1" for="star-13"></label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fa fa-check fa-3x" id="troværdighedCheck" aria-hidden="true" style="color:#53b90a; padding-top: 20px; display: none;"></i>
            </div>


        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <a title="Orginalitet" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Du skal give din samlede vurdering af influenterens orginalitet"><i class="fa fa-info-circle fa-3x" aria-hidden="true" style="color: #08468d; padding-top: 10px;"></i></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div class="col-md-12 rating-container">
        <hr />
        <div class="col-md-3" style="padding-left: 0px;">
            <div class="kategoriNavn">

                <h2>Interaktion</h2>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">

                <div class="col-md-9">
                    <div class="stars4">
                        <form action="">
                            <input class="star4 star-5" id="star-54" type="radio" name="star" />
                            <label class="star4 star-5" for="star-54"></label>
                            <input class="star4 star-4" id="star-44" type="radio" name="star" />
                            <label class="star4 star-4" for="star-44"></label>
                            <input class="star4 star-3" id="star-34" type="radio" name="star" />
                            <label class="star4 star-3" for="star-34"></label>
                            <input class="star4 star-2" id="star-24" type="radio" name="star" />
                            <label class="star4 star-2" for="star-24"></label>
                            <input class="star4 star-1" id="star-14" type="radio" name="star" />
                            <label class="star4 star-1" for="star-14"></label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fa fa-check fa-3x" id="interaktionCheck" aria-hidden="true" style="color:#53b90a; padding-top: 20px; display: none;"></i>
            </div>


        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <a title="Orginalitet" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Du skal give din samlede vurdering af influenterens orginalitet"><i class="fa fa-info-circle fa-3x" aria-hidden="true" style="color: #08468d; padding-top: 10px;"></i></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div class="col-md-12 rating-container">
        <hr />
        <div class="col-md-3" style="padding-left: 0px;">
            <div class="kategoriNavn">

                <h2>Aktivitet</h2>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">

                <div class="col-md-9">
                    <div class="stars5">
                        <form action="">
                            <input class="star5 star-5" id="star-55" type="radio" name="star" />
                            <label class="star5 star-5" for="star-55"></label>
                            <input class="star5 star-4" id="star-45" type="radio" name="star" />
                            <label class="star5 star-4" for="star-45"></label>
                            <input class="star5 star-3" id="star-35" type="radio" name="star" />
                            <label class="star5 star-3" for="star-35"></label>
                            <input class="star5 star-2" id="star-25" type="radio" name="star" />
                            <label class="star5 star-2" for="star-25"></label>
                            <input class="star5 star-1" id="star-15" type="radio" name="star" />
                            <label class="star5 star-1" for="star-15"></label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fa fa-check fa-3x" id="aktivitetCheck" aria-hidden="true" style="color:#53b90a; padding-top: 20px; display: none;"></i>
            </div>


        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <a title="Orginalitet" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Du skal give din samlede vurdering af influenterens orginalitet"><i class="fa fa-info-circle fa-3x" aria-hidden="true" style="color: #08468d; padding-top: 10px;"></i></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div class="col-md-12 rating-container">
        <hr />
        <div class="col-md-3" style="padding-left: 0px;">
            <div class="kategoriNavn">

                <h2>Fulgt personen</h2>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">

                <div class="col-md-9">
                    <div class="stars6">
                        <form action="">
                            <input class="star6 star-5" id="star-56" type="radio" name="star" />
                            <label class="star6 star-5" for="star-56"></label>
                            <input class="star6 star-4" id="star-46" type="radio" name="star" />
                            <label class="star6 star-4" for="star-46"></label>
                            <input class="star6 star-3" id="star-36" type="radio" name="star" />
                            <label class="star6 star-3" for="star-36"></label>
                            <input class="star6 star-2" id="star-26" type="radio" name="star" />
                            <label class="star6 star-2" for="star-26"></label>
                            <input class="star6 star-1" id="star-16" type="radio" name="star" />
                            <label class="star6 star-1" for="star-16"></label>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fa fa-check fa-3x" id="fulgtCheck" aria-hidden="true" style="color:#53b90a; padding-top: 20px; display: none;"></i>
            </div>


        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <a title="Orginalitet" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Du skal give din samlede vurdering af influenterens orginalitet"><i class="fa fa-info-circle fa-3x" aria-hidden="true" style="color: #08468d; padding-top: 10px;"></i></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="col-md-12 rating-container">
        <hr />
        <div class="col-md-3" style="padding-left: 0px;">
            <div class="kategoriNavn">

                <h2>Overskrift på anmeddelse</h2>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">

                <div class="col-md-9">
                    <input class="rating-input" type="text" style="width: 100%"/>
                </div>
            </div>
            <div class="col-md-3">
                <i class="fa fa-check fa-3x" id="overskriftCheck" aria-hidden="true" style="color:#53b90a; padding-top: 20px; display: none;"></i>
            </div>


        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <a title="Orginalitet" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Du skal give din samlede vurdering af influenterens orginalitet"><i class="fa fa-info-circle fa-3x" aria-hidden="true" style="color: #08468d; padding-top: 10px;"></i></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>



    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


</div>


