@model RateBlog.Models.RatingViewModels.IndexViewModel

<div class="navbar-allaround">
</div>


<div class="outer">
    <div class="middle">
        <div class="inner">
            <h1>Giv din vurdering af X</h1>

        </div>
    </div>
</div>



<div class="contaitner">

    <div class="col-md-12">
        <hr />
        <div class="col-md-3">
            <div class="kategoriNavn">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <h2>Orginalitet</h2>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <div class="col-md-9">
                                <fieldset class="rating">
                                    <input type="radio" id="field1_star5" name="rating1" value="5" /><label class="full" for="field1_star5"></label>

                                    <input type="radio" id="field1_star4" name="rating1" value="4" /><label class="full" for="field1_star4"></label>

                                    <input type="radio" id="field1_star3" name="rating1" value="3" /><label class="full" for="field1_star3"></label>

                                    <input type="radio" id="field1_star2" name="rating1" value="2" /><label class="full" for="field1_star2"></label>

                                    <input type="radio" id="field1_star1" name="rating1" value="1" /><label class="full" for="field1_star1"></label>

                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check fa-3x" aria-hidden="true" style="color:#53b90a"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <a  title="Orginalitet" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Du skal give din samlede vurdering af influenterens orginalitet"><i class="fa fa-info-circle fa-3x" aria-hidden="true" style="color: #08468d; padding-top: 10px;"></i></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

    <div class="col-md-12">
        <div class="col-md-3">
            <div class="kategoriNavn">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <h2>Orginalitet</h2>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <div class="col-md-9">
                                <fieldset class="rating">
                                    <input type="radio" id="field2_star5" name="rating2" value="5" /><label class="full" for="field2_star5"></label>

                                    <input type="radio" id="field2_star4" name="rating2" value="4" /><label class="full" for="field2_star4"></label>

                                    <input type="radio" id="field2_star3" name="rating2" value="3" /><label class="full" for="field2_star3"></label>

                                    <input type="radio" id="field2_star2" name="rating2" value="2" /><label class="full" for="field2_star2"></label>

                                    <input type="radio" id="field2_star1" name="rating2" value="1" /><label class="full" for="field2_star1"></label>

                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check fa-3x" aria-hidden="true" style="color:#53b90a"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <a title="Orginalitet" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Du skal give din samlede vurdering af influenterens orginalitet"><i class="fa fa-info-circle fa-3x" aria-hidden="true" style="color: #08468d"></i></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="kategoriNavn">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <h2>Orginalitet</h2>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <div class="col-md-9">
                                <fieldset class="rating">
                                    <input type="radio" id="field3_star5" name="rating3" value="5" /><label class="full" for="field3_star5"></label>

                                    <input type="radio" id="field3_star4" name="rating3" value="4" /><label class="full" for="field3_star4"></label>

                                    <input type="radio" id="field3_star3" name="rating3" value="3" /><label class="full" for="field3_star3"></label>

                                    <input type="radio" id="field3_star2" name="rating3" value="2" /><label class="full" for="field3_star2"></label>

                                    <input type="radio" id="field3_star1" name="rating3" value="1" /><label class="full" for="field3_star1"></label>

                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check fa-3x" aria-hidden="true" style="color:#53b90a"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <a title="Orginalitet" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Du skal give din samlede vurdering af influenterens orginalitet"><i class="fa fa-info-circle fa-3x" aria-hidden="true" style="color: #08468d"></i></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="kategoriNavn">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <h2>Orginalitet</h2>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <div class="col-md-9">
                                <fieldset class="rating">
                                    <input type="radio" id="field4_star5" name="rating4" value="5" /><label class="full" for="field4_star5"></label>

                                    <input type="radio" id="field1_star4" name="rating4" value="4" /><label class="full" for="field1_star4"></label>

                                    <input type="radio" id="field4_star3" name="rating4" value="3" /><label class="full" for="field4_star3"></label>

                                    <input type="radio" id="field4_star2" name="rating4" value="2" /><label class="full" for="field4_star2"></label>

                                    <input type="radio" id="field4_star1" name="rating4" value="1" /><label class="full" for="field4_star1"></label>

                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check fa-3x" aria-hidden="true" style="color:#53b90a"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <a title="Orginalitet" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Du skal give din samlede vurdering af influenterens orginalitet"><i class="fa fa-info-circle fa-3x"aria-hidden="true" style="color: #08468d"></i></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="kategoriNavn">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <h2>Orginalitet</h2>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <div class="col-md-9">
                                <fieldset class="rating">
                                    <input type="radio" id="field5_star5" name="rating5" value="5" /><label class="full" for="field5_star5"></label>

                                    <input type="radio" id="field5_star4" name="rating5" value="4" /><label class="full" for="field5_star4"></label>

                                    <input type="radio" id="field5_star3" name="rating5" value="3" /><label class="full" for="field5_star3"></label>

                                    <input type="radio" id="field5_star2" name="rating5" value="2" /><label class="full" for="field5_star2"></label>

                                    <input type="radio" id="field5_star1" name="rating5" value="1" /><label class="full" for="field5_star1"></label>

                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check fa-3x" aria-hidden="true" style="color:#53b90a"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <a title="Orginalitet" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Du skal give din samlede vurdering af influenterens orginalitet"><i class="fa fa-info-circle fa-3x" aria-hidden="true" style="color: #08468d"></i></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="kategoriNavn">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <h2>Orginalitet</h2>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="Rating">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <div class="col-md-9">
                                <fieldset class="rating">
                                    <input type="radio" id="field6_star5" name="rating6" value="5" /><label class="full" for="field6_star5"></label>

                                    <input type="radio" id="field6_star4" name="rating6" value="4" /><label class="full" for="field6_star4"></label>

                                    <input type="radio" id="field6_star3" name="rating6" value="3" /><label class="full" for="field6_star3"></label>

                                    <input type="radio" id="field6_star2" name="rating6" value="2" /><label class="full" for="field6_star2"></label>

                                    <input type="radio" id="field6_star1" name="rating6" value="1" /><label class="full" for="field6_star1"></label>

                                </fieldset>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <i class="fa fa-check fa-3x" aria-hidden="true" style="color:#53b90a"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="kategoriInfo">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <a title="Orginalitet" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Du skal give din samlede vurdering af influenterens orginalitet"><i class="fa fa-info-circle fa-3x" aria-hidden="true" style="color: #08468d"></i></a>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        <hr />
    </div>
 

    
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    

</div>


