<div class="navbar-allaround">

</div>
<br />
<div class="container">
    <fieldset class="rating">
        <input type="radio" id="field1_star5" name="rating1" value="5" /><label class="full" for="field1_star5"></label>

        <input type="radio" id="field1_star4" name="rating1" value="4" /><label class="full" for="field1_star4"></label>

        <input type="radio" id="field1_star3" name="rating1" value="3" /><label class="full" for="field1_star3"></label>

        <input type="radio" id="field1_star2" name="rating1" value="2" /><label class="full" for="field1_star2"></label>

        <input type="radio" id="field1_star1" name="rating1" value="1" /><label class="full" for="field1_star1"></label>

    </fieldset>


    <fieldset class="rating">
        <input type="radio" id="field2_star5" name="rating2" value="5" /><label class="full" for="field2_star5"></label>

        <input type="radio" id="field2_star4" name="rating2" value="4" /><label class="full" for="field2_star4"></label>

        <input type="radio" id="field2_star3" name="rating2" value="3" /><label class="full" for="field2_star3"></label>

        <input type="radio" id="field2_star2" name="rating2" value="2" /><label class="full" for="field2_star2"></label>

        <input type="radio" id="field2_star1" name="rating2" value="1" /><label class="full" for="field2_star1"></label>

    </fieldset>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="stars1">
    <form action="">
        <input class="star1 star-5" id="star-51" type="radio" name="star" />
        <label class="star1 star-5" for="star-51"></label>
        <input class="star1 star-4" id="star-41" type="radio" name="star" />
        <label class="star1 star-4" for="star-41"></label>
        <input class="star1 star-3" id="star-31" type="radio" name="star" />
        <label class="star1 star-3" for="star-31"></label>
        <input class="star1 star-2" id="star-21" type="radio" name="star" />
        <label class="star1 star-2" for="star-21"></label>
        <input class="star1 star-1" id="star-11" type="radio" name="star" />
        <label class="star1 star-1" for="star-11"></label>
    </form>
</div>