@{
    ViewData["Title"] = "Access Denied";
}

<div class="navbar-allaround"></div>
<div class="container">
    <header>
        <h1 class="text-danger">Adgang nægtet</h1>
        <p class="text-danger">Du har ikke adgang til denne side.</p>
    </header>
</div>

