@{
    ViewData["Title"] = "Access Denied";
}

<div class="background-all">
    <div class="navbar-allaround"></div>

    <div class="container" style="padding-top: 80px;">
        <div class="col-md-offset-3 col-md-6">
            <div class="white-box">
                <h3 style="text-align: center; margin-top: 10px;">Adgang nægtet!</h3>
                <hr />
                <p>Du har ikke tilladelse til denne side. Skulle det ske, at dette er en fejl, så kontakt os gerne!</p>
                <p>Mvh. Bestfluence</p>
            </div>
        </div>
    </div>

</div>

