@{
    ViewData["Title"] = "Bekræftelse";
}

<div class="background-all">


    <div class="navbar-allaround"></div>

    <div class="container text-center" style="padding-top: 40px;">
        <div class="col-md-offset-3 col-md-6">
            <div class="white-box">

                <h2 class="text-center" style="font-family: 'Raleway', sans-serif; margin-bottom: 30px;">Dit kodeord vil blive nulstillet</h2>
                <hr />
                <p>
                    Tjek din mail for at nulstille dit kodeord. Der kan gå nogle minutter...
                </p>
            </div>
        </div>

    </div>

</div>