@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@{
    ViewData["Title"] = "Log in";
}

<div class="navbar-allaround"></div>

<div class="container">

    <div class="col-md-offset-3 col-md-6">
        @if (ViewData["ReturnUrl"] != null)
        {
            <h2 class="text-center">Du skal logge ind</h2>
        }
        else
        {
            <h2 class="text-center">Log ind</h2>
        }
        <hr />
        <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
            <button name="provider" value="Facebook" type="submit" class="btn btn-block btn-social btn-facebook btn-lg">
                <span class="fa fa-facebook"></span> Log ind via Facebook
            </button>
            <button name="provider" type="submit" class="btn btn-block btn-social btn-google btn-lg" value="Google" style="margin-top: 20px;">
                <span class="fa fa-google"></span> Log ind via Google
            </button>
        </form>
        <div class="divider">
            <h4><span>ELLER</span></h4>
        </div>
        <span id="errorMsgTop1" style="color: red"></span>
        @Html.AntiForgeryToken()
        <input id="email1" type="email" class="text-input" placeholder="Email" />
        <span id="errorMsgBot1" style="color: red"></span>
        <input id="password1" class="text-input" placeholder="Kodeord" type="password" />
        <input type="submit" class="login-button" id="loginBtn1" value="Log på" />
        

        
        <a data-toggle="modal" href="#opretModal" class="text-center" style="cursor: pointer;"><p style="margin-top: 20px; color: #000">Ny på Bestfluence? Opret en profil</p></a>
        <a href="/Account/ForgotPassword" class="text-center" style="cursor: pointer;"><p style="margin-top: 20px; color: #000">Har du glemt kodeord?</p></a>
    </div>
</div>



@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }


    <script>
        $(document).ready(function () {
            var errorMsgTop = $("#errorMsgTop1");
            var errorMsgBot = $("#errorMsgBot1");
            var returnNothing = false;

                $("#loginBtn1").click(function () {

        //collect the user data
        var data = {};
        data.Email = $("#email1").val();
        data.Password = $("#password1").val();
        var token = $('input[name="__RequestVerificationToken"]').val();

        if (!isEmail(data.Email)) {
            $("#email").focus();
            errorMsgTop.text("Dette er ikke en gyldig email.");
            if (data.Password === '') {
                errorMsgBot.text("Du mangler kodeord.");
            }
            else {
                errorMsgBot.text("");
            }
            return;
        }

        $.ajax({
            url: "/Account/Login",
            method: "POST",
            data: {
                model: data,
                __RequestVerificationToken: token
            },
            success: function (result) {
                var JSONString = JSON.stringify(result);
                var resultObj = JSON.parse(JSONString);

                console.log(data.Password);

                if (resultObj.result === "Missing") {
                    if (data.Password === '') {
                        $("#password").focus();
                        errorMsgBot.text("Du mangler kodeord.");
                    }
                    if (isEmail(data.Email)) {
                        errorMsgTop.text("");
                    }
                }
                else {
                    errorMsgBot.text("");
                }

                if (resultObj.result === "Wrong") {
                    $("#email").focus();
                    errorMsgTop.text("Brugernavn eller kodeordet er forkert.");
                }

                if (resultObj.result === "Accepted") {
                    window.location = "@ViewData["ReturnUrl"]"
                }

            },
            error: function () {
                console.log("fail");
            }
        });
    });
});
    </script>

}
