@model RateBlog.Models.AccountViewModels.ProfileViewModel
@inject RateBlog.Services.IFeedbackService FeedbackService
@inject RateBlog.Repository.IInfluencerRepository InfluencerRepo
@{
    ViewData["Title"] = Model.ApplicationUser.Name + "'s profil";
}

<div style="padding-bottom: 100px; min-height: 100vh; background: #fafafa">

    <div class="navbar-allaround"></div>

    <div class="container" style="padding-top: 40px;">

        <div class="col-md-offset-4 col-md-4 nopaddingmobile">
            <div class="white-box">
                <img class="profile-img-big center-block" style="margin-bottom: 40px; margin-top: 25px" src="@Url.Action("UsersProfilePic", "Manage", new { id = Model.ApplicationUser.Id })" />
                <hr />
                <h3>@Model.ApplicationUser.Name</h3>
                <h5>@Model.Age år</h5>
                <h5>@Model.Gender</h5>       
            </div>

        </div>
    </div>
    
</div>