@{
    ViewData["Title"] = "Dashboard";
}

<div class="main-content">
    <div class="header">
        <h2>Dashboard</h2>
    </div>

    <div class="body">
        <div class="dashboard">
            <div class="col-md-12">
                <div class="col-md-8">
                    <div class="dashboard-box" style="border-bottom: none">
                        <h3 class="request-title">Nyeste anmodninger</h3>

                        @for (int i = 0; i < 6; i++)
                        {
                            <div class="request-dash-body">
                                <img src="~/images/pic1.jpg" />
                                <p>Navn: Christoffer Jespersen</p><br />
                            </div>

                        }

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12 noPadding">
                        <div class="dashboard-box">
                            <i class="material-icons" style="color: #ffa500">timeline</i>
                            <h3>Antal kampagner</h3>
                            <h2>3</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 new-row">
                    <div class="col-md-12 noPadding">
                        <div class="dashboard-box">
                            <i class="material-icons" style="color: #53b80a">people</i>
                            <h3>Samarbejder lavet</h3>
                            <h2>6</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 new-row">
                    <div class="col-md-12 noPadding">
                        <div class="dashboard-box">
                            <i class="material-icons" style="color: #089de3">public</i>
                            <h3>Samlet reach</h3>
                            <h2>25k</h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12 new-row">
                <div class="col-md-8">
                    <div class="dashboard-box">
                        <h3 style="margin-top: 30px;">Dine kampagners engagement</h3>
                        <canvas id="myChart" width="600" height="300"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Views", "Likes", "Comments", "Spilletid (min.)"],
                datasets: [{
                    label: 'status',
                    data: [12842, 3200, 993, 6784],
                    backgroundColor: [
                        'rgb(8, 157, 227)',
                        'rgb(234, 67, 53)',
                        'rgb(83, 184, 10)',
                        'rgb(255, 165, 0)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: false

                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                layout: {
                    padding: {
                        left: 30,
                        right: 30,
                        top: 30,
                        bottom: 30
                    }
                }
            }
        });
    </script>
}
