@model RateBlog.Models.InfluenterViewModels.IndexViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Find en influenter";
    var user = await UserManager.GetUserAsync(User);
}

<div style="height: 100vh; background: #f5f5f5">

    <div class="navbar-allaround"></div>

    <div style="background-color: #fff; padding-bottom: 15px;">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h2>Søg på influencers</h2>
                    <form method="get" asp-area="" asp-co ntroller="Influenter" asp-action="Index">
                        <input type="text" name="search" class="search-inputsøg" placeholder="F.eks. Gaming eller Armin" />
                        <span>
                            <input class="search-button" type="submit" value="Søg" />
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-bottom: 100px; background: #fafafa; border-top: 1px solid #ddd">
        <div class="container" style="padding-top: 20px">
            <div class="col-md-12 noPaddingLeft">
                <div class="col-md-3 hidden-sm hidden-xs noPaddingLeft">
                    <div class="sorter">
                        <div class="col-md-12 noPadding">
                            <h4><b>Platforme</b></h4>
                            <div class="col-md-6 noPadding">
                                <label class="checkbox-inline"><input type="checkbox" name="platforme" value="4" style="background: #fff">Facebook</label><br />
                                <label class="checkbox-inline"><input type="checkbox" name="platforme" value="2" style="background: #fff">Instagram</label><br />
                                <label class="checkbox-inline" style="padding-bottom: 0;"><input type="checkbox" name="platforme" value="1" style="background: #fff;">YouTube</label><br />
                            </div>
                            <div class="col-md-6 noPadding">
                                <label class="checkbox-inline"><input type="checkbox" name="platforme" value="3" style="background: #fff">Snapchat</label><br />
                                <label class="checkbox-inline"><input type="checkbox" name="platforme" value="6" style="background: #fff">Twitter</label><br />
                                <label class="checkbox-inline" style="padding-bottom: 0;"><input type="checkbox" name="platforme" value="5" style="background: #fff;">Twitch</label>
                            </div>
                            <div class="col-md-12 noPadding">
                                <hr />
                            </div>
                        </div>
                        <div class="col-md-12 noPadding">
                            <h4><b>Kategorier</b></h4>

                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="5" style="background: #fff">Gaming</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="4" style="background: #fff">Beauty</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="6" style="background: #fff">Entertainment</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="8" style="background: #fff">Fashion</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="1" style="background: #fff">Lifestyle</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="7" style="background: #fff">Food</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="9" style="background: #fff">Mommy</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="3" style="background: #fff">Vlogger</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="2" style="background: #fff">DIY</label><br />
                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-sm-12 noPadding">
                    <div class="infoInfluenter">
                        <h2 style="margin-top: 5px; margin-bottom: 20px;">
                            Resultater for @Model.SearchString
                        </h2>

                        <div id="listOfInfluencers">
                            @Html.Partial("InfluencerListPartial", Model.InfluentList)
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>