@model RateBlog.Models.InfluenterViewModels.IndexViewModel
@inject UserManager<ApplicationUser> UserManager
@inject RateBlog.Repository.IInfluenterRepository InfluenterReposritory
@inject RateBlog.Repository.IInfluenterKategoriRepository InfluenterKategoriRepository
@inject RateBlog.Repository.IInfluenterPlatformRepository InfluenterPlatformRepo
@inject RateBlog.Repository.IPlatformRepository PlatformRepository
@{
    ViewData["Title"] = "Find en influenter";
    var user = await UserManager.GetUserAsync(User);
    string last = "";
}

<div class="navbar-allaround">

</div>

<div style="background-color: #f6f6f6; padding-bottom: 20px;">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h2>Find og anmeld Influentere</h2>
                <form asp-controller="Influenter" asp-action="Index">
                    <input type="text" name="search" class="search-inputsøg" placeholder="Søg Influenter" />
                    <span>
                        <input class="search-button" type="submit" value="Søg" />
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 20px">
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="sorter">
                <p><b>Platform</b></p>

                <br />
                <p><b>Kategori</b></p>
                <label class="checkbox-inline"><input type="checkbox" value="" style="background: #fff">Gamer</label><br />
                <label class="checkbox-inline"><input type="checkbox" value="" style="background: #fff">Beauty</label><br />
                <label class="checkbox-inline"><input type="checkbox" value="" style="background: #fff">Underholdning</label><br />
                <label class="checkbox-inline"><input type="checkbox" value="" style="background: #fff">Fashion</label><br />
                <label class="checkbox-inline"><input type="checkbox" value="" style="background: #fff">Lifestyle</label><br />
                <label class="checkbox-inline"><input type="checkbox" value="" style="background: #fff">Food</label><br />
                <label class="checkbox-inline"><input type="checkbox" value="" style="background: #fff">Mommy</label><br />
                <label class="checkbox-inline"><input type="checkbox" value="" style="background: #fff">Vlogger</label><br />
                <label class="checkbox-inline"><input type="checkbox" value="" style="background: #fff">DIY</label><br />
                <label class="checkbox-inline"><input type="checkbox" value="" style="background: #fff">Reality</label><br />
            </div>
        </div>
        <div class="col-md-9">
            <div class="infoInfluenter">
                <h1 style="margin-top: 0">Resultater for @Model.SearchString</h1>







                @foreach (var influ in Model.InfluentList)
                {
                    <div class="col-md-12 search-result">
                        <div class="col-md-3">
                            <img class="influ-img" src="~/images/pp.jpg" />
                        </div>
                        <div class="col-md-6 noPadding">
                            <h4>@InfluenterReposritory.Get(influ.InfluenterId.Value).Alias</h4>

                            <p style="margin-top: 15px;">
                                @foreach (var kategori in InfluenterKategoriRepository.GetAllKategori(influ.InfluenterId.Value))
                                {
                                    @if (kategori.Equals(InfluenterKategoriRepository.GetAllKategori(influ.InfluenterId.Value).Last()))
                                    {
                                        @kategori
                                    }
                                    else
                                    {
                                        @kategori <span>|</span>
                                    }
                                }
                            </p>

                            @foreach (var platform in InfluenterPlatformRepo.GetAllByInfluenter(influ.InfluenterId.Value))
                            {
                                @if (PlatformRepository.Get(platform.PlatformId).PlatformNavn == "Facebook")
                                {
                                    <a href="http://www.facebook.com/@platform.Link" target="_blank" class="fa fa-search fa-facebook fa-facebook-search"></a>
                                }
                                else if (PlatformRepository.Get(platform.PlatformId).PlatformNavn == "YouTube")
                                {
                                    <a href="http://www.youtube.com/user/@platform.Link" target="_blank" class="fa fa-search fa-youtube fa-youtube-search"></a>
                                }
                                else if (PlatformRepository.Get(platform.PlatformId).PlatformNavn == "SnapChat")
                                {
                                    <a href="http://www.snapchat.com/add/@platform.Link" target="_blank" class="fa fa-search fa-snapchat-ghost fa-snapchat-ghost-search"></a>
                                }
                                else if (PlatformRepository.Get(platform.PlatformId).PlatformNavn == "Instagram")
                                {
                                    <a href="http://www.instagram.com/@platform.Link" target="_blank" class="fa fa-search fa-instagram fa-instagram-search"></a>
                                }
                                else if (PlatformRepository.Get(platform.PlatformId).PlatformNavn == "Twitter")
                                {
                                    <a href="http://www.twitter.com/@platform.Link" target="_blank" class="fa fa-search fa-twitter fa-twitter-search"></a>
                                }
                                else if (PlatformRepository.Get(platform.PlatformId).PlatformNavn == "Twitch")
                                {
                                    <a href="http://www.twitch.tv/@platform.Link" target="_blank" class="fa fa-search fa-twitch fa-twitch-search"></a>
                                }
                                else if (PlatformRepository.Get(platform.PlatformId).PlatformNavn == "Website")
                                {
                                    <a href="http://@platform.Link" target="_blank" class="fa fa-search fa-globe fa-globe-search"></a>
                                }
                            }



                        </div>
                        <div class="col-md-3">
                            <a asp-controller="Rating" asp-action="Index" asp-route-id="@influ.InfluenterId.Value">Rate</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
