@model RateBlog.Models.InfluenterViewModels.IndexViewModel

<div class="navbar-allaround">

</div>
<div style="background-color: #f6f6f6; padding-bottom: 20px;">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h2>Find og anmeld Influentere</h2>
                <form asp-controller="Influenter" asp-action="Index">
                    <input type="text" name="search" class="search-inputsøg" placeholder="Søg Influenter" />
                    <span>
                        <input class="search-button" type="submit" value="Søg" />
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 20px">
    <div class="col-md-12">
        <div class="col-md-3">
            <div class="sorter">
                <h1>Søge muligheder</h1>
                <br />
                <p>Kategori</p>
                <br />
                <p>Vurdering</p>
                <br />
                <p>Køn</p>
                <br />
                <p>Alder</p>
                <br />
                <p>Mulighed X</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="infoInfluenter">
                <h1>Influertere: @Model.SearchString</h1>
                <hr />
                @foreach (var influ in Model.InfluentList)
                {
                    <div class="col-md-12 search-result">
                        <div class="col-md-3">
                            <div class="picinfluenter">
                                <img src="http://via.placeholder.com/100x100/eee" class="influ-img">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="specifikInfo">
                                <p>Fornavn: @influ.Fornavn</p>
                                <p>Efternavn: @influ.Efternavn</p>
                                <p>Alder: @influ.Alder</p>
                                <br />
                            </div>
                        </div>
                    </div>     
                }
            </div>



        </div>

    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
