@inject RateBlog.Repository.IRatingRepository RatingRepository
@{
    ViewData["Title"] = Model.Influenter.Alias + "'s ratings";
}

<div style="padding-bottom: 100px;">
    <div class="navbar-allaround"></div>
    <div class="container">
       <div class="col-md-12">
           <div class="col-md-4">

           </div>

           <div class="col-md-4">
               <br /><br />
               <h2>Ratings for @Model.ApplicationUser.Name</h2>
               
              

         


           </div>
           
         
            <div class="col-md-4">

           

            </div>



       </div>
       
    </div>
</div>