@model RateBlog.Helper.SearchHelpModel



@foreach (var v in Model.PlatformList)
            {
    <option value="@v.PlatformNavn">Platform</option>
}

@foreach (var v in Model.KategoriList)
{
    <option value="@v.KategoriNavn">Kategori</option>
}


@foreach (var v in Model.InfluencerList)
            {
    <option value="@v.Alias">Influencer</option>
}
