@{
    ViewData["Title"] = "About";
}
@inject RateBlog.Repository.IRatingRepository RatingRepository

<div class="navbar-allaround"></div>

<div class="container">

    <a href="#" class="feedback-influencer-btn"><i class="fa fa-heart icon-hover-heart" aria-hidden="true"></i>&nbsp;&nbsp;Se feedback</a><br /><br /><br /><br /><br />
    <a href="#" class="feedback-influencer-btn" style="background: #08468d"><i class="fa fa-star icon-hover-star" aria-hidden="true"></i>&nbsp;&nbsp;Giv feedback</a>
</div>


