@{
    ViewData["Title"] = "About";
}
@inject RateBlog.Repository.IRatingRepository RatingRepository

<div class="navbar-allaround"></div>

<div class="container">
    <div class="show-rating">
        <div class="show-rating-front">
            @for (int i = 0; i < RatingRepository.GetRatingAverage(1007); i++)
            {
                <i class="fa fa-star" aria-hidden="true"></i>

            }
        </div>      
        <div class="show-rating-back">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </div>   
    </div>
</div>
