@{ 
    ViewData["Title"] = "Blog";
}

<div class="footer-img blog">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1>Der findes ingen dumme spørgsmål</h1>
            </div>
        </div>
    </div>
</div>