@{ 
    ViewData["Title"] = "Blog";
}

<div class="footer-img blog">
    <div class="outer">
        <div class="middle">
            <div class="inner">

            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="col-md-12 footer-text">

        <h1>Guldtuben | Gyldent eller fattigt?</h1>

        <p>
            For tredje år i træk afholdes awardshowet “Guldtuben”, som har til formål at hylde videoskabere på tværs af platforme. Guldtuben bliver større og vildere for hvert år der går, og det er kun positivt for branchen. Generelt gælder, at influencere får uendeligt lidt anerkendelse for deres arbejde og den forskel de gør i deres mange følgeres hverdag, i den brede offentlighed. Ofte bliver de mødt med nedladenhed og stigmatisering - som regel fra det ældre publikum, der ikke forstår de unges verden:
            I modebranchen fnyser modejournalisterne af bloggerne. På Facebook misser forældre og bedsteforældre ikke en chance for at skrive nedladende om Youtubere, hver eneste gang en artikel popper op i deres feed. I medierne bliver Instagrammere kritiseret for at fremstille et utroværdigt billede af deres egne liv - og listen bliver ved
        </p>

        <br />

        <p>
            Derfor er det et kærkomment afbræk med et event, som hylder videoskabere og helt grundlæggende er positivt stemt over for universet. Spørgsmålet er bare, om Guldtuben i sit nuværende format er i stand til at løfte opgaven og få branchen til at fremstå seriøs? Der er nogle helt klare problemer ved den måde showet bliver afviklet på, som ikke taler for hverken ærlighed, seriøsitet eller kvalitet - og hvis denne kurs følges, kan influencerne kæmpe herfra og til nytårsaften, stadig uden at blive taget alvorligt.
        </p>

        <br />

        <p>
            Det helt primære problem ved Guldtuben er den manglende gennemsigtighed. Showet bliver afholdt af Splay, som må siges at have en vis interesse i at promovere deres egne youtubere, i kraft af deres virke som netværk. Der er da også en kraftig overrepræsentation af Splay-medlemmer blandt de nominerede samt vindere år efter år. At det hænger sammen med, at Splay repræsenterer de fleste af landets store Youtubere, er naturligvis en forklaring, men det ændrer ikke på, at Guldtuben store dele af tiden handler om Splay, der uddeler priser til Splay. 
        </p>

        <br />

        <p>
            Den mulige, positive særbehandling af egne Youtubere og plejen af egne interesser er ikke befordrende for et awardshow, der burde favne branchen som helhed. Det efterlader mange med et indtryk af, at vil man i betragtning til en pris, skal man først og fremmest være medlem af Splay. Det er selvfølgelig ikke holdbart i længden, hvis man har en ambition om at fremme influenceres omdømme generelt. Hvem kunne forestille sig en privat virksomhed stå bag Oscaruddelingen eller Grammy Awards? Naturligvis har influencerne endnu ikke en brancheorganisation til at varetage et awardshow, men måske det ville sende et mere troværdigt signal hvis flere aktører i branchen samarbejdede om at få showet stablet på benene?
        </p>

        <br />

        <p>
            Dertil kommer spørgsmålet om hele awardshowets struktur på nominerings- og afstemningsfronten. Er præmissen om, at “størst er bedst” nødvendigvis sand? Vinderne ved Guldtuben er jo helt basalt kendetegnet ved, hvor mange mennesker de kan overbevise om at stemme på sig. Det giver først og fremmest de største kanaler, såvel som dem, der er først ude med et “call to action” så snart der er åbnet for stemmeafgivelse, en fordel. Men er det egentlig fair eller holdbart? Som med så meget andet her i livet, hænger kvantitet og kvalitet ikke nødvendigvis sammen. 
        </p>

        <br />

        <p>
            Hvis man har en ambition om at hylde videoskabere og kvalitetsindhold i Danmark, burde strukturen så ikke omlægges, således at der i det mindste var en jury bestående er personer, som har et minimum af erfaring med at udvikle og producere indhold? Disse mennesker behøver ikke være eksperter i Youtube, men det skal man nu heller ikke være for at genkende kvalitetsindhold. En jury bestående af fagpersoner inden for eksempelvis områder som online kommunikation og reklame, indholdsudvikling og underholdning ville højne niveauet gevaldigt og også øge mulighederne for, at mindre kanaler med kvalitetsindhold kan komme i betragtning til en pris. 
        </p>

        <br />

        <p>
            Som det ser ud nu, findes der faktisk en jury i Guldtuben. Den består af 200 af Danmarks største kanaler, og det er positivt. Problemet er bare, at disse mennesker formentlig er tilbøjelige til at nominere deres egne venner i stedet for objektivt at vurdere, om indhold er godt eller ej. Desuden offentliggøres juryens stemmer versus offentlighedens stemmer ikke, så til hvad nytte er de? Hvis eksperternes mening ikke engang bliver tilkendegivet er den intet værd. 
        </p>

        <br />

        <p>
            En professionel jury ville give awardshowet mere tyngde og legitimitet. Det ville desuden gøre Guldtuben til mere end bare en “hvem kan trække flest stemmer”-konkurrence, og rent faktisk være med til at gøre begivenheden relevant i forhold til at lade dansk Youtube udvikle sig. Branchen bliver mindre kreativ og eksperimenterende, hvis det gang på gang ses, at det gængse og basale indhold hyldes som noget særligt; andre vil nemlig forsøge at følge dette eksempel, og så udvikler vi os i hvert fald ikke. 
        </p>

        <br />

        <p>
            Sidst men ikke mindst skal det overvejes, om Splay og Guldtuben som helhed har et ansvar for, at de som hyldes, er ordentlige rollemodeller. Når over hundredetusinde - primært børn - følger begivenheden tæt, kan det så være rigtigt, at Guldtuben aktivt promoverer indholdsskabere, som med fuldt overlæg lyver, bedrager og misleder deres følgere? Er der ikke et minimumskrav for kvaliteten, eller afhænger det hele af likes og views? I så fald har Guldtuben intet med guld at gøre - det er bare fattigt.
        </p>

        <br />

        <p>
            Vi glæder os til Guldtuben her hos Bestfluence og ser frem til en skøn aften i Youtubes tegn. Selvom der er plads til forbedring, er det efter vores mening vigtigt at støtte op om et branchefællesskab og vi sætter pris på, at nogen tager ansvar for det.
        </p>

    </div>
</div>





@Html.Partial("_FooterPartial")

