@{
    ViewData["Title"] = "Forside";
}

<div id="noPaddingBottomBody">


    <div class="home-img">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h2>Søg på influencers</h2>

                        <form method="get" asp-area="" asp-controller="Influenter" asp-action="Index">
                            <input type="text" name="search" id="search" class="search-input" style="border: solid 1px" placeholder="F.eks. Gaming eller Armin" />
                            <span>
                                <input class="search-button" type="submit" value="Søg" />
                            </span>
                        </form>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-container">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-4 col-sm-4">
                    <h3>Tag kampen op</h3>
                    <p>Bestfluence tager kampen op mod mobning, løgne og utroværdighed på de sociale medier, ved at hylde influencers med kvalitetsindhold.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3>Gør en forskel</h3>
                    <p>Bestfluence gør en forskel, ved at lade seernes og læsernes meninger bliver hørt gennem konstruktiv feedback til influencerne.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3>Opdag det nye</h3>
                    <p style="margin-bottom: 0;">Bestfluence er med på beatet og ønsker at nye influencers som producerer kvalitetsunderholdning nemt skal kunne opdages.</p>
                </div>
            </div>
        </div>
    </div>



    <div class="video-container">
        <div class="container">
            <div class="col-md-12 noPadding">

                <div class="col-md-6 col-sm-12">
                    <iframe src="https://www.youtube.com/embed/_w8zya4BGIY"></iframe>
                </div>
                <div class="col-md-6 col-sm-12 video-container-responsive" style="margin-top: 15px">

                    <div class="icon-box">
                        <span class="fa fa-video fa-search fa-search-video"></span>
                        <span class="margin-left">Find din influencer</span>
                    </div>

                    <div class="icon-box">
                        <span class="fa fa-video fa-star fa-star-video"></span>

                        <span class="margin-left">Giv konstruktiv feedback</span>
                    </div>

                    <div class="icon-box" style="margin-bottom: 0;">
                        <span class="fa fa-video fa-heart fa-heart-video"></span>
                        <span class="margin-left">Hjælp andre</span>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="categori-container">
        <div class="container">
            <h1 class="text-center">Opdag influencers</h1>
            <div class="col-sm-12" style="padding-bottom: 60px;">
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=Beauty">
                            <div class="img"><img src="~/images/beauty-kat.jpg" alt="img"></div>
                            <div class="info">
                                <h3>Beauty</h3>
                                <p>Find beauty influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=Gaming">
                            <div class="img"><img src="~/images/gaming-kat.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>Gaming</h3>
                                <p>Find gaming influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=Entertainment">
                            <div class="img"><img src="~/images/entertainment-kat.jpeg" alt="img"></div>
                            <div class="info">
                                <h3 style="font-size: 14px">Entertainment</h3>
                                <p>Find entertainment influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12" style="padding-bottom: 60px;">
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=Fashion">
                            <div class="img"><img src="~/images/fashion-kat.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>Fashion</h3>
                                <p>Find fashion influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=Mommy">
                            <div class="img"><img src="~/images/mommy-kat.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>Mommy</h3>
                                <p>Find mommy influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=Lifestyle">
                            <div class="img"><img src="~/images/lifestyle-kat.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>Lifestyle</h3>
                                <p>Find lifestyle influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=VLOG">
                            <div class="img"><img src="~/images/vlog-pic.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>VLOG</h3>
                                <p>Find VLOG influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=Food">
                            <div class="img"><img src="~/images/food-kat.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>Food</h3>
                                <p>Find food influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=DIY">
                            <div class="img"><img src="~/images/DIY-kat.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>DIY</h3>
                                <p>Find DIY influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @Html.Partial("_FooterPartial")

</div>