@{
    ViewData["Title"] = "Forside";
}

<div id="noPaddingBottomBody">

    <div class="home-img">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h2>Søg efter influencere</h2>

                    <form method="get" asp-area="" asp-controller="Influencer" asp-action="Index">
                        <input type="text" name="search" id="search" class="search-input" list="searchSug" placeholder="F.eks. YouTube, beauty eller navn" />
                        <datalist id="searchSug">
                            
                        </datalist>
                        <input class="search-button" type="submit" value="Søg" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-container">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-4 col-sm-4">
                    <h3>Behold integriteten</h3>
                    <p>Bestfluence tager kampen op mod click-bait, løgne og utroværdighed på sociale medier ved at hylde dem, som er troværdige og skaber kvalitetsindhold   </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3>Gør en forskel</h3>
                    <p>Bestfluence lader følgernes meninger blive hørt gennem konstruktiv feedback til influencerne og deres ucensurerede budskab er med til at gøre en forskel</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3>Opdag de bedste</h3>
                    <p style="margin-bottom: 0;">Bestfluence er drevet af passionerede følgere som aktivt opretter, giver feedback til og hjælper andre med at finde nye kvalitetsinfluencere</p>
                </div>
            </div>
        </div>
    </div>



    <div class="video-container">
        <div class="container">
            <div class="col-md-12 noPadding">

                <div class="col-md-6 col-sm-12">
                    <iframe src="https://www.youtube.com/embed/_w8zya4BGIY"></iframe>
                </div>
                <div class="col-md-6 col-sm-12 video-container-responsive" style="margin-top: 15px">

                    <div class="icon-box">
                        <span class="fa fa-video fa-search fa-search-video"></span>
                        <span class="margin-left">Find og opret influencere</span>
                    </div>

                    <div class="icon-box">
                        <span class="fa fa-video fa-star fa-star-video"></span>

                        <span class="margin-left">Giv dem konstruktiv feedback</span>
                    </div>

                    <div class="icon-box" style="margin-bottom: 0;">
                        <span class="fa fa-video fa-heart fa-heart-video"></span>
                        <span class="margin-left">Del din mening og hjælp andre</span>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="categori-container">
        <div class="container">
            <h1 class="text-center">Opdag nye influencere</h1>
            <div class="col-sm-12" style="padding-bottom: 60px;">
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influencer?search=Beauty">
                            <div class="img"><img src="~/images/Kategori/beauty-kat.jpg" alt="img"></div>
                            <div class="info">
                                <h3>Beauty</h3>
                                <p>Alt indenfor kosmetik og personlig pleje</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influencer?search=Gaming">
                            <div class="img"><img src="~/images/Kategori/gaming-kat.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>Gaming</h3>
                                <p>Find gaming influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influencer?search=Entertainment">
                            <div class="img"><img src="~/images/Kategori/entertainment-kat.jpeg" alt="img"></div>
                            <div class="info">
                                <h3 style="font-size: 14px">Entertainment</h3>
                                <p>Find entertainment influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12" style="padding-bottom: 60px;">
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influencer?search=Fashion">
                            <div class="img"><img src="~/images/Kategori/fashion-kat.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>Fashion</h3>
                                <p>Find fashion influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influencer?search=Mommy">
                            <div class="img"><img src="~/images/Kategori/mommy-kat.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>Mommy</h3>
                                <p>Find mommy influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influencer?search=Lifestyle">
                            <div class="img"><img src="~/images/Kategori/lifestyle-kat.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>Lifestyle</h3>
                                <p>Find lifestyle influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influencer?search=VLOG">
                            <div class="img"><img src="~/images/Kategori/vlog-pic.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>VLOG</h3>
                                <p>Find VLOG influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influencer?search=Food">
                            <div class="img"><img src="~/images/Kategori/food-kat.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>Food</h3>
                                <p>Find food influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influencer?search=DIY">
                            <div class="img"><img src="~/images/Kategori/DIY-kat.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>DIY</h3>
                                <p>Find DIY influencer</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    @Html.Partial("_FooterPartial")

</div>