@{
    ViewData["Title"] = "Feedback til influencere – Find kvalitetsindhold";
}
@section metatags{
    <meta name="description" content="Her handler det om konstruktiv feedback til influencere. Læs, skriv, del og find kvalitetsindhold på Bestfluence og vær med til at gøre en forskel.">
}

<div id="noPaddingBottomBody">

    <div class="home-img">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h2>Hvem vil du give feedback til i dag?</h2>
                    <form method="get" asp-area="" asp-controller="Influencer" asp-action="Index" class="form-inline">
                        <div class="input-group">
                            <input autocomplete="off" type="text" name="search" id="search" class="form-control search-input" list="searchSug" placeholder="Søg på influencere" />
                            <datalist id="searchSug"></datalist>
                            <div class="input-group-btn">
                                <button class="btn search-button" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-container">
        <div class="container">
            <div class="col-md-12 nopaddingmobile">
                <div class="col-md-4 col-sm-4 nopaddingmobile">
                    <h3>Behold integriteten</h3>
                    <p>Bestfluence tager kampen op mod click-bait, løgne og utroværdighed på sociale medier ved at hylde dem, som er troværdige og skaber kvalitetsindhold   </p>
                </div>
                <div class="col-md-4 col-sm-4 nopaddingmobile">
                    <h3>Gør en forskel</h3>
                    <p>Bestfluence lader følgernes meninger blive hørt gennem konstruktiv feedback til influencerne og deres ucensurerede budskab gør en forskel</p>
                </div>
                <div class="col-md-4 col-sm-4 nopaddingmobile">
                    <h3>Opdag de bedste</h3>
                    <p style="margin-bottom: 0;">Bestfluence er drevet af passionerede følgere som aktivt opretter, giver feedback til og hjælper andre følgere med at finde nye kvalitetsinfluencere</p>
                </div>
            </div>
        </div>
    </div>


    <div class="video-container">
        <div class="container nopaddingmobile">
            <div class="col-md-12 noPadding nopaddingmobile">

                <div class="col-md-offset-2 col-md-8 col-sm-12">
                    <h1 class="text-center">Det bedste sted at finde kvalitetesindhold!</h1>
                    <h4>Se videoen og kom godt i gang med Bestfluence</h4>
                    <div class="videoWrapper">
                        <iframe width="560" height="349" src="https://www.youtube.com/embed/FaGEIt2G9kA" allowfullscreen frameborder="0"></iframe>
                    </div>

                </div>
                @*<div class="col-md-6 col-sm-12 video-container-responsive" style="margin-top: 15px">

                        <div class="icon-box">
                            <span class="fa fa-video fa-search fa-search-video"></span>
                            <span class="margin-left">Find eller opret influencere</span>
                        </div>

                        <div class="icon-box">
                            <span class="fa fa-video fa-star fa-star-video"></span>
                            <span class="margin-left">Giv dem konstruktiv feedback</span>
                        </div>

                        <div class="icon-box" style="margin-bottom: 0;">
                            <span class="fa fa-video fa-heart fa-heart-video"></span>
                            <span class="margin-left">Del din mening og hjælp andre</span>
                        </div>

                    </div>*@
            </div>
        </div>
    </div>

    <div class="how-to-container">
        <div class="container">
            <div class="col-md-12 nopaddingmobile">
                <div class="col-md-6 nopaddingmobile padding-right">
                    <h2>Er du influencer?</h2>
                    <div class="col-md-12" style="height: auto; overflow: hidden">

                        <i class="fa fa-user-o fa-2x fa-pull-left" aria-hidden="true" style="color: #FFA500"></i>
                        <h4>Opret en influencerprofil og link til dine sociale medier</h4>

                    </div>
                    <div class="col-md-12" style="height: auto; overflow: hidden">

                        <i class="fa fa-thumbs-o-up fa-2x fa-pull-left" aria-hidden="true" style="color: #089de3"></i>
                        <h4>Vi bruger derefter op til 24 timer på at godkende din profil</h4>

                    </div>
                    <div class="col-md-12" style="height: auto; overflow: hidden">

                        <i class="fa fa-star-o fa-2x fa-pull-left" aria-hidden="true" style="color: #53b80a"></i>
                        <h4>Du er nu klar til at modtage verdensklasse feedback fra dine egne følgere og blive opdaget af nye</h4>

                    </div>
                </div>
                <div class="visible-xs visible-sm">
                    <br />
                </div>

                <div class="col-md-6 nopaddingmobile padding-left">
                    <h2>Er du følger?</h2>
                    <div class="col-md-12" style="height: auto; overflow: hidden">

                        <i class="fa fa-user-o fa-2x fa-pull-left" aria-hidden="true" style="color: #FFA500"></i>
                        <h4>Opret en følgerprofil og find dine favoritinfluencere</h4>

                    </div>
                    <div class="col-md-12" style="height: auto; overflow: hidden">

                        <i class="fa fa-star-o fa-2x fa-pull-left" aria-hidden="true" style="color: #089de3"></i>
                        <h4>Giv dem konstruktiv feedback og hjælp dem med at lave endnu bedre indhold i fremtiden</h4>

                    </div>
                    <div class="col-md-12" style="height: auto; overflow: hidden">

                        <i class="fa fa-comment-o fa-2x fa-pull-left" aria-hidden="true" style="color: #53b80a"></i>
                        <h4>Gå på opdagelse i andres feedback og find de bedste influencere</h4>

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <button data-toggle="modal" data-target="#opretModal" class="center-block">OPRET EN PROFIL</button>
            </div>

        </div>
    </div>

    <div class="categori-container">
        <div class="container">
            <h1 class="text-center">Opdag nye influencere</h1>

            <div class="col-sm-12 noPadding">
                <div class="col-sm-12 padding-bottom">

                    <div class="col-sm-6">
                        <div class="ih-item circle effect19 center-block">
                            <a href="Influencer?search=Gaming">
                                <div class="img"><img src="~/images/Kategori/gaming.png" alt="img"></div>
                                <div class="info">
                                    <div class="info-back">
                                        <h3>Gaming</h3>
                                        <p>Alt indenfor spil og underholdning</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="ih-item circle effect19 center-block">
                            <a href="Influencer?search=Entertainment">
                                <div class="img"><img src="~/images/Kategori/entertainment.png" alt="img"></div>
                                <div class="info">
                                    <div class="info-back">
                                        <h3 style="font-size: 16px">Entertainment</h3>
                                        <p>Alt indenfor nyheder og underholdning</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-sm-12 padding-bottom">
                    <div class="col-sm-4">
                        <div class="ih-item circle effect19 center-block">
                            <a href="Influencer?search=Beauty">
                                <div class="img"><img src="~/images/Kategori/beauty.png" alt="img"></div>
                                <div class="info">
                                    <div class="info-back">
                                        <h3>Beauty</h3>
                                        <p>Alt indenfor kosmetik og personlig pleje</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="ih-item circle effect19 center-block">
                            <a href="Influencer?search=Fashion">
                                <div class="img"><img src="~/images/Kategori/fashion.png" alt="img"></div>
                                <div class="info">
                                    <div class="info-back">
                                        <h3>Fashion</h3>
                                        <p>Alt indenfor trends på tøj, sko og accessoires</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="ih-item circle effect19 center-block">
                            <a href="Influencer?search=Lifestyle">
                                <div class="img"><img src="~/images/Kategori/lifestyle.png" alt="img"></div>
                                <div class="info">
                                    <div class="info-back">
                                        <h3>Lifestyle</h3>
                                        <p>Alt indenfor livsstile, -interesser og -kulturer</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <div class="ih-item circle effect19 center-block">
                            <a href="Influencer?search=Interests">
                                <div class="img"><img src="~/images/Kategori/interests.png" alt="img"></div>
                                <div class="info">
                                    <div class="info-back">
                                        <h3>Interests</h3>
                                        <p>Alt indenfor kreativitet og læring</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="ih-item circle effect19 center-block">
                            <a href="Influencer?search=Personal">
                                <div class="img"><img src="~/images/Kategori/personal.png" alt="img"></div>
                                <div class="info">
                                    <div class="info-back">
                                        <h3>Personal</h3>
                                        <p>Alt indenfor det personlige univers</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>