@{
    ViewData["Title"] = "Forside";
}

<div id="noPaddingBottomBody">

    <div class="home-img">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h2>Søg efter influencere</h2>
                    <form method="get" asp-area="" asp-controller="Influencer" asp-action="Index" class="form-inline">
                        <div class="input-group">
                            <input autocomplete="off" type="text" name="search" id="search" class="form-control search-input" list="searchSug" placeholder="F.eks. Anna, Fashion eller YouTube" />
                            <datalist id="searchSug"></datalist>
                            <div class="input-group-btn">
                                <button class="btn search-button" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-container" style="border-bottom: 1px solid #ddd">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-4 col-sm-4">
                    <h3>Behold integriteten</h3>
                    <p>Bestfluence tager kampen op mod click-bait, løgne og utroværdighed på sociale medier ved at hylde dem, som er troværdige og skaber kvalitetsindhold   </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3>Gør en forskel</h3>
                    <p>Bestfluence lader følgernes meninger blive hørt gennem konstruktiv feedback til influencerne og deres ucensurerede budskab gør en forskel</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3>Opdag de bedste</h3>
                    <p style="margin-bottom: 0;">Bestfluence er drevet af passionerede følgere som aktivt opretter, giver feedback til og hjælper andre følgere med at finde nye kvalitetsinfluencere</p>
                </div>
            </div>
        </div>
    </div>

    <div class="home-create-container">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h2>Ser eller skaber du kvalitetsindhold?</h2>
                    <button data-toggle="modal" data-target="#opretModal">Opret en profil</button>
                </div> 
            </div>
                    
        </div>
    </div>


    @*<div class="video-container">
        <div class="container">
            <div class="col-md-12 noPadding">

                <div class="col-md-6 col-sm-12">
                    <iframe src="https://www.youtube.com/embed/_w8zya4BGIY"></iframe>
                </div>
                <div class="col-md-6 col-sm-12 video-container-responsive" style="margin-top: 15px">

                    <div class="icon-box">
                        <span class="fa fa-video fa-search fa-search-video"></span>
                        <span class="margin-left">Find eller opret influencere</span>
                    </div>

                    <div class="icon-box">
                        <span class="fa fa-video fa-star fa-star-video"></span>
                        <span class="margin-left">Giv dem konstruktiv feedback</span>
                    </div>

                    <div class="icon-box" style="margin-bottom: 0;">
                        <span class="fa fa-video fa-heart fa-heart-video"></span>
                        <span class="margin-left">Del din mening og hjælp andre</span>
                    </div>

                </div>
            </div>
        </div>
    </div>*@

    <div class="categori-container">
        <div class="container">
            <h1 class="text-center">Opdag nye influencere</h1>
            
            <div class="col-sm-12 noPadding">

                <div class="col-sm-12" style="padding-bottom: 60px;">

                    <div class="col-sm-6 responsive-padding">
                        <div class="ih-item circle effect19 center-block">
                            <a href="Influencer?search=Gaming">
                                <div class="img"><img src="~/images/Kategori/gaming.png" alt="img"></div>
                                <div class="info">
                                    <div class="info-back">
                                        <h3>Gaming</h3>
                                        <p>Alt indenfor spil og underholdning</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-sm-6 responsive-padding">
                        <div class="ih-item circle effect19 center-block">
                            <a href="Influencer?search=Entertainment">
                                <div class="img"><img src="~/images/Kategori/entertainment.png" alt="img"></div>
                                <div class="info">
                                    <div class="info-back">
                                        <h3 style="font-size: 16px">Entertainment</h3>
                                        <p>Alt indenfor nyheder og underholdning</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="col-sm-12" style="padding-bottom: 60px;">
                    <div class="col-sm-4 responsive-padding">
                        <div class="ih-item circle effect19 center-block">
                            <a href="Influencer?search=Beauty">
                                <div class="img"><img src="~/images/Kategori/beauty.png" alt="img"></div>
                                <div class="info">
                                    <div class="info-back">
                                        <h3>Beauty</h3>
                                        <p>Alt indenfor kosmetik og personlig pleje</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 responsive-padding">
                        <div class="ih-item circle effect19 center-block">
                            <a href="Influencer?search=Fashion">
                                <div class="img"><img src="~/images/Kategori/fashion.png" alt="img"></div>
                                <div class="info">
                                    <div class="info-back">
                                        <h3>Fashion</h3>
                                        <p>Alt indenfor trends på tøj, sko og accessoires</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 responsive-padding">
                        <div class="ih-item circle effect19 center-block">
                            <a href="Influencer?search=Lifestyle">
                                <div class="img"><img src="~/images/Kategori/lifestyle.png" alt="img"></div>
                                <div class="info">
                                    <div class="info-back">
                                        <h3>Lifestyle</h3>
                                        <p>Alt indenfor livsstile, -interesser og -kulturer</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12">
                    <div class="col-sm-6 responsive-padding">
                        <div class="ih-item circle effect19 center-block">
                            <a href="Influencer?search=Interests">
                                <div class="img"><img src="~/images/Kategori/interests.png" alt="img"></div>
                                <div class="info">
                                    <div class="info-back">
                                        <h3>Interests</h3>
                                        <p>Alt indenfor kreativitet og læring</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="ih-item circle effect19 center-block">
                            <a href="Influencer?search=Personal">
                                <div class="img"><img src="~/images/Kategori/personal.png" alt="img"></div>
                                <div class="info">
                                    <div class="info-back">
                                        <h3>Personal</h3>
                                        <p>Alt indenfor det personlige univers</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_FooterPartial")

</div>