
@{
    ViewData["Title"] = "Forside";
}

<div id="noPaddingBottomBody">


    <div class="home-img">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h2>Find og anmeld Influentere</h2>
                    <form method="get" asp-area="" asp-controller="Influenter" asp-action="Index">
                        <input type="text" name="search" class="search-input" style="border: solid 1px" placeholder="Find en influenter" />
                        <span>
                            <input class="search-button" type="submit" value="Søg" />
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-container">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-4 col-sm-4">
                    <h3>Gør en forskel</h3>
                    <p>Ved at dele din mening er du med til at skabe et bedre online fællesskab.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3>Snak pænt</h3>
                    <p>Giv din mening og hjælp til med at skabe en pænere tone online. Lad os snakke pænt.</p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3>Stop mobning</h3>
                    <p style="margin-bottom: 0;">Lad os sammen stoppe mobning, shaming eller shitstorms. Vi er alle mennesker.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="video-container">
        <div class="container">
            <div class="col-md-12 noPadding">

                <div class="col-md-6 col-sm-6">
                    <iframe src="https://www.youtube.com/embed/_w8zya4BGIY"></iframe>
                </div>
                <div class="col-md-6 col-sm-6 video-container-responsive" style="margin-top: 15px">

                    <div class="icon-box">
                        <span class="fa fa-video fa-search fa-search-video"></span>
                        <span class="margin-left">Find din influenter</span>
                    </div>

                    <div class="icon-box">
                        <span class="fa fa-video fa-star fa-star-video"></span>

                        <span class="margin-left">Giv dit feedback</span>
                    </div>

                    <div class="icon-box" style="margin-bottom: 0;">
                        <span class="fa fa-video fa-heart fa-heart-video"></span>
                        <span class="margin-left">Opdag nye influenters</span>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="categori-container">
        <div class="container">
            <h1 class="text-center">Opdag nye influenter</h1>
            <div class="col-sm-12" style="padding-bottom: 60px;">
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=Beauty">
                            <div class="img"><img src="~/images/beauty-pic.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>Beauty</h3>
                                <p>Find beauty influenter</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=Gaming">
                            <div class="img"><img src="~/images/gaming-pic.jpg" alt="img"></div>
                            <div class="info">
                                <h3>Gaming</h3>
                                <p>Find gaming influenter</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=Entertainment">
                            <div class="img"><img src="~/images/entertainment-pic.jpeg" alt="img"></div>
                            <div class="info">
                                <h3 style="font-size: 14px">Entertainment</h3>
                                <p>Find entertainment influenter</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-12" style="padding-bottom: 60px;">
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=Fashion">
                            <div class="img"><img src="~/images/fashion-pic.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>Fashion</h3>
                                <p>Find fashion influenter</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=Mommy">
                            <div class="img"><img src="~/images/mommy-pic.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>Mommy</h3>
                                <p>Find mommy influenter</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=Lifestyle">
                            <div class="img"><img src="~/images/lifestyle-pic.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>Lifestyle</h3>
                                <p>Find lifestyle influenter</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=VLOG">
                            <div class="img"><img src="~/images/vlog-pic.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>VLOG</h3>
                                <p>Find VLOG influenter</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 responsive-padding">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=Food">
                            <div class="img"><img src="~/images/food-pic.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>Food</h3>
                                <p>Find food influenter</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ih-item circle effect19 center-block">
                        <a href="/Influenter?search=DIY">
                            <div class="img"><img src="~/images/diy-pic.jpeg" alt="img"></div>
                            <div class="info">
                                <h3>DIY</h3>
                                <p>Find DIY influenter</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <div class="col-md-12">
            <div class="col-md-3 footer-area">
                <h4><b>OM BESTFLUENCE</b></h4>
                <ul>
                    <li><a asp-controller="Footer" asp-action="About">Om Bestfluence</a></li>
                    <li><a asp-controller="Footer" asp-action="Presse">Presse</a></li>
                    <li><a asp-controller="Footer" asp-action="Job">Job</a></li>
                    <li><a asp-controller="Footer" asp-action="Blog">Blog</a></li>
                    <li><a asp-controller="Footer" asp-action="Kontakt">Kontakt os</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-area">
                <h4><b>FANS OG INFLUENTERS</b></h4>
                <ul>
                    <li><a asp-controller="Footer" asp-action="How">Sådan virker det</a></li>
                    <li><a asp-controller="Footer" asp-action="Forældre">Forældre</a></li>
                    <li><a asp-controller="Footer" asp-action="FAQ">FAQ</a></li>
                    <li><a asp-controller="Footer" asp-action="Kommunikation">God kommunikation</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-area">
                <h4><b>VIRKSOMHEDER</b></h4>
                <ul>
                    <li><a href="#">Markedføring</a></li>
                    <li><a href="#">Find en influenter</a></li>
                    <li><a href="#">Ambasadør</a></li>
                </ul>
            </div>

            <div class="col-md-3 footer-area">
                <a href="http://www.facebook.com/" target="_blank" class="fa fa-footer fa-facebook fa-facebook-footer"></a>
                <a href="http://www.instagram.com/" target="_blank" class="fa fa-footer fa-instagram fa-instagram-footer"></a>
                <a href="http://www.youtube.com/" target="_blank" class="fa fa-footer fa-youtube fa-youtube-footer"></a>
                <a href="http://www.twitter.com/" target="_blank" class="fa fa-footer fa-twitter fa-twitter-footer"></a>
                <ul>
                    <li><a href="#">Vilkår og betingelser</a></li>
                    <li><a href="#">Persondatapolitik</a></li>
                    <li><a href="#">Retningslinjer for brugere</a></li>
                </ul>

            </div>

        </div>
    </footer>

</div>