@{
    ViewData["Title"] = "Home Page";
}

<div class="home-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h2>Find og anmeld Influentere</h2>
                <form asp-controller="Influenter" asp-action="Index">
                    <input type="text" name="search" class="search-input" placeholder="Find en influenter" />
                    <span>
                        <input class="search-button" type="submit" value="Søg" />
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="banner-container">
    <div class="container">
        <h1 class="text-center">Hjælp os med at gøre de sociale medier gode igen</h1>
    </div>
</div>

<div class="video-container">
    <div class="container">
        <div class="col-md-12">

            <div class="col-md-6">
                <iframe src="https://www.youtube.com/embed/_w8zya4BGIY"></iframe>
            </div>
            <div class="col-md-6">
                <div class="col-md-offset-1 col-md-11" style="margin-top: 5px">
                    <p><i class="fa fa-search" aria-hidden="true" style="margin-right: 25px"></i>Find din yndlings stjerne</p>
                </div>
                <div class="col-md-offset-1 col-md-11" style="margin-top: 40px">
                    <p><i class="fa fa-handshake-o" aria-hidden="true" style="margin-right: 25px"></i>Bliv medlem af fællesskabet</p>
                </div>
                <div class="col-md-offset-1 col-md-11" style="margin-top: 40px">
                    <p><i class="fa fa-star" aria-hidden="true" style="margin-right: 25px"></i>Giv din mening til kende</p>
                </div>
                <div class="col-md-offset-1 col-md-11" style="margin-top: 40px">
                    <p><i class="fa fa-lightbulb-o" aria-hidden="true" style="margin-right: 25px"></i>Bliv inspireret af influenter</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="categori-container">
    <div class="container">  
        
        <div class="col-md-12">
            <div class="col-md-4 extra-padding">
                <a href="#">
                    <div class="circle center-block" style="background-color: #CC0000">
                        Gaming
                    </div>
                </a>             
            </div>

            <div class="col-md-4 extra-padding ">
                <a href="#">
                    <div class="circle center-block" style="background-color: #FFFF4C">
                        Entertainment
                    </div>
                </a>              
            </div>

            <div class="col-md-4 extra-padding ">
                <a href="#">
                    <div class="circle center-block" style="background-color: #FFCCCC">
                        Beauty
                    </div>
                </a>              
            </div>

        </div>
        

        <div class="col-md-12">
            <div class="col-md-4 extra-padding">
                <a href="#">
                    <div class="circle center-block" style="background-color: #800080">
                        Fashion
                    </div>
                </a>
            </div>

            <div class="col-md-4 extra-padding">
                <a href="#">
                    <div class="circle center-block" style="background-color: #6F6FFF">
                        Lifestyle
                    </div>
                </a>
            </div>

            <div class="col-md-4 extra-padding ">
                <a href="#">
                    <div class="circle center-block" style="background-color: #99CC99">
                        Food
                    </div>
                </a>
            </div>

        </div>

        <div class="col-md-12">
            <div class="col-md-4 extra-padding">
                <a href="#">
                    <div class="circle center-block" style="background-color: #FFB732">
                        VLOG
                    </div>
                </a>
            </div>

            <div class="col-md-4 extra-padding">
                <a href="#">
                    <div class="circle center-block" style="background-color: #BEE4F6">
                        Mommy
                    </div>
                </a>
            </div>

            <div class="col-md-4 extra-padding ">
                <a href="#">
                    <div class="circle center-block" style="background-color: #4CDC4C">
                        DIY
                    </div>
                </a>
            </div>

        </div>


    </div>
</div>





<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
