@{
    ViewData["Title"] = "Home Page";
}

<div class="home-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h2>Find og anmeld Influentere</h2>
                <form asp-controller="Influenter" asp-action="Index">
                    <input type="text" name="search" class="search-input" placeholder="Søg Influenter" />
                    <span>
                        <input class="search-button" type="submit" value="Søg" />
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>


@*<div class="video-container">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-6">
                    <iframe src="https://www.youtube.com/embed/mKkLjJHwRec"></iframe>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12" style="margin-top: 80px">
                        <p><i class="fa fa-usd" aria-hidden="true" style="margin-right: 25px"></i>100% Gratis</p>
                    </div>
                    <div class="col-md-12" style="margin-top: 40px">
                        <p><i class="fa fa-usd" aria-hidden="true" style="margin-right: 25px"></i>Nummer 1</p>
                    </div>
                    <div class="col-md-12" style="margin-top: 40px">
                        <p><i class="fa fa-usd" aria-hidden="true" style="margin-right: 25px"></i>Nummer 1</p>
                    </div>
                    <div class="col-md-12" style="margin-top: 40px">
                        <p><i class="fa fa-usd" aria-hidden="true" style="margin-right: 25px"></i>Nummer 1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="video-container">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-6">
                <iframe src="https://www.youtube.com/embed/_w8zya4BGIY"></iframe>
            </div>
            <div class="col-md-6">
                <div class="col-md-offset-1 col-md-11" style="margin-top: 100px">
                    <p><i class="fa fa-search" aria-hidden="true" style="margin-right: 25px"></i>Find din yndlings stjerne</p>
                </div>
                <div class="col-md-offset-1 col-md-11" style="margin-top: 40px">
                    <p><i class="fa fa-handshake-o" aria-hidden="true" style="margin-right: 25px"></i>Bliv medlem af fællesskabet</p>
                </div>
                <div class="col-md-offset-1 col-md-11" style="margin-top: 40px">
                    <p><i class="fa fa-star" aria-hidden="true" style="margin-right: 25px"></i>Giv din mening til kende</p>
                </div>
                <div class="col-md-offset-1 col-md-11" style="margin-top: 40px">
                    <p><i class="fa fa-lightbulb-o" aria-hidden="true" style="margin-right: 25px"></i>Bliv inspireret af influenter</p>
                </div>
            </div>
        </div>
    </div>
</div>






<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
