@{
    ViewData["Title"] = "Forældre";
}

<div class="footer-img parents">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1>Tid til at engagere dig!</h1>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="col-md-12 footer-text">
        <h1>Forældre</h1>

        <h3>Hvad kan Bestfluence gøre for mig som forælder?</h3>
        <p>
            Bestfluence kan agere værktøj for dig som ønsker at skabe sig et overblik over, hvilke personligheder dit barn følger online. Vi bestræber os på at profilerne på vores site modtager konstruktiv feedback og at deres ratings afspejler den objektive virkelighed af omverdenens opfattelse. Vi håber at kunne være udgangspunkt for samtaler med dit barn om emner som god internet-etik, onlinemobning og sprogbrug.
        </p>
        <br />
        <h3>Hvordan bruger jeg Bestfluence?</h3>
        <p style="padding-bottom: 40px;">
            Du kan frit klikke rundt her på siden for at se de forskellige onlinepersonligheders - dem, vi kalder influencers - vurderinger. Brug søgefunktionen for at finde frem til specifikke influencers ved at indtaste deres navn eller alias, eller kig på hele segmenter af influencere. Deres profiler giver direkte links til de platforme hvorpå de er aktive, så du hurtigt selv kan orientere dig i deres indhold.
        </p>
    </div>
</div>

@Html.Partial("_FooterPartial")
