@{
    ViewData["Title"] = "Vilkår & Betingelser";
}
@section metatags{
    <meta name="description" content="Se Bestfluence's vilkår og betingelser og bliv klogere på hvordan hjemmesiden fungerer og hvordan du bør benytte dig af den.">
}

<div class="footer-img terms">

</div>

<div class="container">
    <div class="col-md-12 footer-text">

        <h1>Vilkår og betingelser</h1>

        <h3>
            BRUGERVILKÅR FOR BESTFLUENCE.DK (AUGUST 2017)
        </h3>
        <p>
            Følgende brugervilkår (herefter "Brugervilkår") gælder for enhver brug af Bestfluences website (herefter "Website"). I Brugervilkårene refereres ”vores” til Bestfluence og brugerne af vores Website som ”du”, ”dig” og ”din”.
        </p>
        <br>
        <br>
        Følgende Brugervilkår omfatter alle regelsæt, politikker og retningslinjer, inklusive og uden undtagelse:
        <ul>
            <li>Vores "Retningslinjer for brugeres anvendelse af Bestfluences website" (herefter "Brugerretningslinjer"), der kan findes <a asp-controller="Home" asp-action="UserGuidelines">her</a></li>
            <li>Vores Persondatapolitik, der kan findes på <a asp-controller="Home" asp-action="Privacy">her</a></li>
        </ul>
        Ved oprettelse af bruger og brug af vores Website accepterer du at være underlagt Brugervilkårene og Brugerretningslinjerne.

        <ol>
            <li>
                <b> Registreret Bruger </b>
                <ol>
                    <li>For at få adgang til at bruge Websitet fuldt ud skal du registrere dig som enten følger- eller influencerbruger (herefter "Registreret Bruger").</li>
                    <br>
                    <li>Det er kun tilladt at oprette én profil pr. person på Websitet.</li>
                    <br>
                    <li>Når du opretter en bruger skal du angive en adgangskode, som du selv vælger. Adgangskoden er personligt og må ikke overdrages til andre.</li>
                    <br>
                    <li>Under oprettelse skal du angive dit navn. Hvis ikke du ønsker at offentliggøre dit fulde borgerlige navn, kan du vælge at bruge for- og efternavne med initialer f.eks. H. C. Andersen eller Hans A.</li>
                    <br>
                    <li>Vi har ret til når som helst og uden varsel at ændre, blokere og slette din profil og dennes bidrag fra vores Website, hvis du handler i strid med Brugervilkårene eller gældende lovgivning.</li>
                    <br>
                    <li>Det er ikke tilladt at skaffe eller forsøge at skaffe sig adgang til at bruge de dele af Websitet, som forudsætter brugerregistrering, hvis man ikke er Registreret Bruger.</li>
                </ol>
            </li>
            <br>

            <li>
                <b> Bidrag fra Registreret Bruger </b>
                <ol>
                    <li>Rettighederne (inklusive immaterielle rettigheder) til al materiale, information, feedback, rating, artikelomtale eller anden form for kommunikation (herefter "Bidrag"), som Registrerede Brugere opretter på Websitet, overdrages i videst muligt omfang tilladt i henhold til gældende ret til Bestfluences ikkeeksklusive brug. Registrerede Brugere er ikke berettiget til royalty eller anden form for godtgørelse eller honorering. Vi kan frit anvende og overdrage Bidrag. Vores ikkeeksklusive adgang til frit at anvende Bidrag gælder uigenkaldeligt, uden tidsbegrænsning og uden territorial begrænsning.</li>
                    <br>
                    <li>Registrerede bruger er selv ansvarlige for indholdet af de Bidrag, som de opretter på Websitet.</li>
                    <br>
                    <li>Registrerede Brugere indestår for, at indholdet af de Bidrag, de publicerer på Websitet er korrekt (hvor der angives fakta) og oprigtigt ment (i tilfælde af holdninger).</li>
                    <br>
                    <li>Bidrag skal vedrøre en influencer, hvor den Registrerede Bruger har set eller på anden vis benyttet influenceren og/eller dennes indhold.</li>
                    <br>
                    <li>Ydere af Bidrag indestår i enhver sammenhæng for Bidragets lovlighed og overholdelse af Brugervilkårene. Hvis vi modtager underretning eller på anden vis konstaterer, at et Bidrag krænker gældende lovgivning og/eller Brugervilkårene, kan vi uden varsel slette Bidraget.</li>
                    <br>
                </ol>
            </li>

            <li>
                <b> Generelt </b>
                <ol>
                    <li>Websitets indhold, såsom - men ikke begrænset til - immaterielle rettigheder, tekst, kendetegn, grafik, ikoner, billeder, beregninger, henvisninger og software tilhører enten Bestfluence eller tredjemand (udover den Registrerede Bruger) og er beskyttet af dansk og international lovgivning. Bidrager du med feedback, ideer eller forslag til Websitet, kan vi frit og uden begrænsning anvende denne Feedback.</li>
                </ol>
            </li>
            <br>

            <li>
                <b> Personoplysninger </b>
                <ol>
                    <li>Vi foretager forskellige former for behandling af personoplysninger i forbindelse med brugen af Websitet. Vores behandling af persondata sker under iagttagelse af persondataloven samt vores Persondatapolitik, som du kan finde <a asp-controller="Home" asp-action="Privacy">her</a>.</li>
                </ol>
                Ved at acceptere Brugervilkårene erklærer du, at du har læst og accepteret vores Persondatapolitik.
            </li>
            <br>


            <li>
                <b> Ansvarsfraskrivelse og skadeløsholdelse </b>
                <ol>
                    <li>Vi hverken gennemgår eller overvåger Bidrag på Websitet. Uanset ovenstående kan vi til enhver tid undersøge, ændre, redigere eller slette (inklusive anonymisere) Bidrag, hvis dette (i) foranlediges af tredjeparts anmodning, (ii) kræves i henhold til gældende lovgivning eller (iii) er nødvendig for, at Bidrag er i overensstemmelse med vores Brugerretningslinjer.</li>
                    <br>

                    <li>Vi er ikke ansvarlige for indholdet af Bidrag. Vores ansvarsfraskrivelse gælder for ethvert Bidrag, inklusive Bidrag, som er redigeret af os. Vi er ikke ansvarlige for links til en tredjemands hjemmeside i Bidrag, herunder for indholdet af den side, der linkes til.</li>
                </ol>
            </li>
            <br>

            <li>
                <b> Andre vilkår </b>
                <ol>
                    <li>Vi kan til enhver tid og uden varsel revidere eller ændre disse Brugervilkår eller efter eget skøn og uden varsel nedlægge, ændre eller omstrukturere Websitet. Som Registreret Bruger accepterer du at være omfattet af de til enhver tid gældende Brugervilkår. Revidering eller ændring af Vilkårene vil blive omtalt på Websitet. Bestfluence bestræber sig endvidere på at orientere Registrerede Brugere om ændringen af Brugervilkårene. Som Registreret Bruger accepterer du, at den fortsatte brug af Websitet efter offentliggørelsen af de ændrede Brugervilkår udgør en accept af de ændrede Brugervilkår.</li>
                </ol>
            </li>
            <br>

            <li>
                <b> Varighed og opsigelse </b>
                <ol>
                    <li>Vi kan til enhver tid opsige din ret til at tilgå og bruge de services, der udbydes via Websitet af en hvilken som helst årsag og uden ansvar. Hvis vi gør det, eller hvis du vælger at slette din profil, vil alle rettigheder, du måttet have opnået herigennem, øjeblikkeligt ophøre.</li>
                </ol>
            </li>
            <br>

            <li>
                <b> Lovvalg og værneting </b>
                <ol>
                    <li>Brugervilkårene er undergivet dansk ret, og hvor andet ikke er anført, gælder dansk rets almindelige regler i ethvert indbyrdes forhold mellem Bestfluence og Registrerede Brugere samt brugere af Websitet. Eventuelle tvister og uoverensstemmelser skal indbringes for domstolen ved Bestfluences danske hjemting, medmindre dette strider mod præceptive værnetingsregler.</li>
                </ol>
            </li>

        </ol>

    </div>

</div>
