



<div class="background-all">
    <div class="navbar-allaround"></div>

    <div class="container" style="padding-top: 40px;">
        <div class="col-md-8">

            <a href="#">
                <h4 style="font-weight: bold; display: inline-block">DJ NUMMI </h4>
            </a>
           

            <div style="height: 190px; background: #fff">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <h4>DJ NUMMI</h4>
                            <h5>TEST</h5>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>