@model RateBlog.Models.Blog
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
@{
    ViewData["Title"] = "ProfilePage";


}


<div class="navbar-allaround">

</div>
<div class="container">
    <div class="col-md-12">
        <h1 style="text-align:center;">Lave en artikel</h1>
        <br />
    </div>

    <div class="col-md-12">



        <div class="col-md-4">
            <h2 style="margin-top:-30px">Indsæt billed til artikel</h2>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/131611/avatar.jpg" style="margin-top:5px" />
        </div>


        <form id="createBlog" method="post" asp-controller="Blog" asp-action="CreateArticle">
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td class="col-md-2"><h5>Navn på artikel</h5></td>
                            <td class="col-md-4"><h5><input asp-for="@Model.ArticleHeader" placeholder="Navnet på artikel" /></h5></td>
                        </tr>

                        <tr>
                            <td>Dato for artikel</td>
                            <td><input type="text" asp-for="@Model.DateTime" placeholder="Dato på Artikel" id="datepicker"></td>
                        </tr>
                       


                        <tr>
                            <td>Ekstra undertekst</td>
                            <td><input asp-for="@Model.BriefText" placeholder="Under teksten folk ser" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div>
        <hr />
        <a style="background:green;" class="blog-btn">Redigere artikeler</a>

        <input form="createBlog" style="background:blue;" type="submit" class="blog-btn" value="Gem" />
        <a style="background:red;" class="blog-btn">Slet</a>
        <a style="background:orange;" class="blog-btn">Læg nyt billed ind</a>

        <hr />
    </div>
</div>
<div class="admin-profile-middle">
    <div class="container">

        <h2 style="text-align:center;">Indtast den ønskede artikel.</h2>
        <textarea form="createBlog" asp-for="@Model.ArticleText" id="txtEditor" style="min-height:1000px;"></textarea>

    </div>

    @section Scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#txtEditor").jqte();
            });
        </script>

    <script>
        $(function () {
            $("#datepicker").datepicker();
            });
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>
    }


</div>



