@model RateBlog.Models.BlogViewModel.BlogViewModel
@{
    ViewData["Title"] = "Artikel navn";

}

<div class="navbar-allaround">

</div>

    <div class="container">
       
 
      
       <div style="display: block;margin: 0 auto;margin-top:15px;">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/131611/avatar.jpg" class="blog-page-img" />
    </div> 

        <h3>@Model.blog.BriefText</h3>
            <div>
                <h4 style="opacity:0.9;padding-left;padding-bottom:5px;padding-top:5px;">@Model.blog.DateTime</h4>
                    <div style="min-width:1000px;min-height:700px;">

                        @Html.Raw(Model.blog.ArticleText) 
                </div>
          
                      
            </div>

            <div>




            </div>

        </div>
    </div>
