
/*#region Home */

.home-container {
    height: 100%;
}

    .home-container h1, .home-container h2, .home-container h3 {
        font-family: 'Roboto Slab', serif;
    }

    .home-container p, .home-container a {
        font-family: 'Roboto', sans-serif;
    }

    .home-container .first {
        height: 500px;
        width: 100%;
    }

        .home-container .first .textbox {
            padding: 50px;
        }

            .home-container .first .textbox a {
                padding: 15px 20px;
                display: inline-block;
                background: #53b80a;
                color: #fff;
                font-size: 16px;
                text-decoration: none;
                cursor: pointer;
                margin-top: 7px;
            }

                .home-container .first .textbox a:hover {
                    background: #429308;
                }

            .home-container .first .textbox p {
                line-height: 180%;
                font-size: 16px;
                color: #848484;
            }

        .home-container .first .iconbox {
            padding: 50px;
        }

            .home-container .first .iconbox i {
                width: 100%;
                display: block;
                height: 100%;
                font-size: 275px;
                text-align: center;
            }

    .home-container .second {
        width: 100%;
        color: #fff;
        height: 500px;
        background: #089de3; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0072ff, #089de3); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0072ff, #089de3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 50px;
    }

        .home-container .second h2 {
            margin-bottom: 40px;
        }

    .home-container .padding-left-right {
        padding-left: 65px;
        padding-right: 65px;
    }

.small-divider {
    width: 60px;
    border: 1.5px solid #ffa500;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*#endregion */

/*#region Navbar */

.sidenav {
    width: 250px;
    background: #313131;
    height: 100vh;
    position: fixed;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
}

    .sidenav .header {
        height: 80px;
        width: 100%;
        background: #e7604a;
        border-bottom: 1px solid #ddd;
    }

    .sidenav .content {
        height: auto;
        overflow: hidden;
        width: 100%;
        margin-top: 30px;
    }

        .sidenav .content p {
            color: #FFA500;
            margin-left: 15px;
            margin-bottom: 2px;
        }

    .sidenav ul {
        padding: 0;
        margin: 0;
    }

        .sidenav ul li a {
            display: block;
            width: 100%;
            font-size: 18px;
            color: #838383;
            padding: 10px 0 10px 0;
            cursor: pointer;
        }

            .sidenav ul li a:hover {
                color: #eaeaea;
                background: #454545;
                text-decoration: none;
            }

            .sidenav ul li a i {
                width: 60px;
                text-align: center;
                font-size: 18px !important;
                vertical-align: middle;
            }


/*#endregion */

/*#region General */

.main-content {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    font-family: 'Hind', sans-serif !important;
}

    .main-content .header {
        height: 80px;
        width: 100%;
        position: fixed;
        background: #fff;
        z-index: 100;
        border-bottom: 1px solid #ddd;
    }

        .main-content .header h2 {
            margin: 25px 0 0 45px;
            color: #555;
            font-weight: 300;
        }

    .main-content .body {
        padding-top: 110px;
        padding-bottom: 30px;
        background: #eaeaea;
        min-height: 100vh;
    }

.noPadding {
    padding: 0;
}

/*#endregion */

/*#region Dashboard */

.dashboard {
    display: block;
    color: #555;
}

    .dashboard .new-row {
        margin-top: 30px;
    }

.dashboard-box {
    width: 100%;
    background: #fff;
    height: auto;
    overflow: hidden;
    border: 1px solid #ddd;
}

    .dashboard-box i {
        width: 100%;
        text-align: center;
        font-size: 42px;
        margin-top: 10px;
    }

    .dashboard-box h3 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px;
        font-weight: 300;
    }

    .dashboard-box h2 {
        text-align: center;
        margin-bottom: 20px;
    }

.request-title {
    margin: 0 !important;
    padding: 20px 20px 15px 20px;
    text-align: left !important;
    border-bottom: 1px solid #ddd;
    font-weight: 300;
    color: #555;
}

.request-dash-body {
    width: 100%;
    height: 84.6px;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

    .request-dash-body img {
        width: 50px;
        height: 50px;
    }

    .request-dash-body p{
        display: inline-block;
    }

 

/*#endregion */
/*#region Campaigns */
.campaing-box {
    width: 100%;
    background: #fff;
    height: auto;
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 15px;
}

    .campaing-box h3 {
        margin-top: 10px;
    }

/*#endregion */


/*#region Create Campaign */

.create-campaign {
    display: block;
}

    .create-campaign .new-row {
        margin-top: 50px;
    }

.create-campaign-box {
    width: 100%;
    background: #fff;
    height: auto;
    overflow: hidden;
    border: 1px solid #ddd;
}

.create-campaign-box-head {
    height: auto;
    overflow: hidden;
}

    .create-campaign-box-head ul {
        list-style: none;
        padding: 0;
        text-align: center;
        margin: 0;
        border-bottom: 2px solid #089de3
    }

        .create-campaign-box-head ul li {
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            display: inline-block;
            margin: 30px;
            font-size: 24px;
            color: #ccc;
        }

            .create-campaign-box-head ul li.active {
                color: #089de3;
                font-weight: 400;
            }

.create-campaign-box-body {
    float: left;
    width: 100%;
}

    .create-campaign-box-body p {
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 20px;
    }

    .create-campaign-box-body textarea {
        width: 100%;
        resize: none;
        padding: 15px;
        font-size: 16px;
        min-height: 200px;
        border: 1px solid #ccc;
    }

        .create-campaign-box-body textarea:focus {
            outline: 1px solid #089de3
        }

.campaign-type {
    display: block;
    float: left;
    width: 100%;
}

    .campaign-type input {
        display: none;
    }

    .campaign-type label {
        text-align: center;
        font-weight: 300;
        font-size: 22px;
        color: #ccc;
        font-family: 'Open Sans', sans-serif;
        user-select: none;
        transition: ease .1s all;
    }

    .campaign-type input[type=radio] + label {
        display: block;
        border: 2px solid #ccc;
        width: 100%;
        max-width: 100%;
        padding: 25px 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
    }

    .campaign-type input[type=radio]:checked + label {
        border: 2px solid #089de3;
        color: #089de3;
        font-weight: 400;
    }

    .campaign-type input[type=checkbox] + label {
        display: block;
        border: 2px solid #ccc;
        width: 100%;
        max-width: 100%;
        padding: 25px 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
    }

    .campaign-type input[type=checkbox]:checked + label {
        border: 2px solid #089de3;
        color: #089de3;
        font-weight: 400;
    }

.describe-helper {
    font-size: 16px;
    line-height: 180%;
}

.create-campaign-continue-btn {
    padding: 10px;
    width: 100%;
    display: inline-block;
    background: #53b80a;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 40px;
    border: none;
    float: right;
}

    .create-campaign-continue-btn:hover {
        background: #429308
    }

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 10px;
}

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }


.influencer-number {
    display: block;
    float: left;
    width: 100%;
}

    .influencer-number input {
        display: none;
    }

    .influencer-number label {
        text-align: center;
        font-weight: 300;
        font-size: 22px;
        color: #ccc;
        font-family: 'Open Sans', sans-serif;
        user-select: none;
        transition: ease .1s all;
    }

    .influencer-number input[type=radio] + label {
        display: block;
        border: 2px solid #ccc;
        width: 100%;
        max-width: 100%;
        padding: 25px 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
    }

    .influencer-number input[type=radio]:checked + label {
        border: 2px solid #089de3;
        color: #089de3;
        font-weight: 400;
    }

/*#endregion */
