p, a {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

.noPadding {
    padding: 0;
}

.home-container {
    height: 100%;
}

    .home-container .first {
        height: 500px;
        width: 100%;
    }

        .home-container .first .textbox {
            padding: 50px;
        }

            .home-container .first .textbox a {
                padding: 15px 20px;
                display: inline-block;
                background: #53b80a;
                color: #fff;
                font-size: 16px;
                text-decoration: none;
                cursor: pointer;
                margin-top: 7px;
            }

                .home-container .first .textbox a:hover {
                    background: #429308;
                }

            .home-container .first .textbox p {
                line-height: 180%;
                font-size: 16px;
                color: #848484;
            }

        .home-container .first .iconbox {
            padding: 50px;
        }

            .home-container .first .iconbox i {
                width: 100%;
                display: block;
                height: 100%;
                font-size: 275px;
                text-align: center;
            }

    .home-container .second {
        width: 100%;
        color: #fff;
        height: 500px;
        background: #089de3; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #0072ff, #089de3); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #0072ff, #089de3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 50px;
    }

        .home-container .second h2 {
            margin-bottom: 40px;
        }

    .home-container .padding-left-right {
        padding-left: 65px;
        padding-right: 65px;
    }

.small-divider {
    width: 60px;
    border: 1.5px solid #ffa500;
    margin-top: 20px;
    margin-bottom: 20px;
}


.side-menu {
    height: 100vh;
    width: 230px;
    display: inline-block;
    position: fixed;
    background: #4c4c4c;
}

    .side-menu .header {
        height: 70px;
        border-bottom: 1px solid #666666
    }

        .side-menu .header h3 {
            color: #fff;
            font-family: 'Raleway', sans-serif;
            text-align: center;
            margin: 0;
            padding-top: 14px;
        }

        .side-menu .header p {
            color: #fff;
            text-align: center;
            color: #ffa500;
        }

    .side-menu ul {
        padding: 0;
        list-style: none;
    }

        .side-menu ul li a {
            width: 100%;
            padding: 15px 0;
            display: block;
            color: #fff;
            font-size: 16px;
            color: #cccccc;
            text-decoration: none;
        }

            .side-menu ul li a:hover {
                color: #fff;
                background: #323232;
                -moz-box-shadow: inset 0 0 2px #191919;
                -webkit-box-shadow: inset 0 0 2px #191919;
                box-shadow: inset 0 0 2px #191919;
            }

                .side-menu ul li a:hover ~ i {
                    color: #0072ff;
                }

            .side-menu ul li a i {
                width: 60px;
                text-align: center;
                font-size: 18px;
            }

            .side-menu ul li a.active i {
                color: #ffa500;
            }


.content-container {
    width: 100%;
    min-height: 100vh;
    padding-left: 230px;
    display: flex;
    flex-direction: column;
    background: #fafafa;
}

    .content-container .header {
        height: 70px;
        border-bottom: 1px solid #ddd;
        background: #fff
    }

        .content-container .header h2 {
            margin-left: 20px;
            margin-top: 16.5px;
            margin-bottom: 17.5px;
        }

    .content-container .body {
        padding: 60px 45px;
    }


.dashboard-container {
    background: #fff;
    border: 1px solid #ddd;
    height: 100%;
    display: block;
    padding: 0;
    border-radius: 5px;
}

    .dashboard-container .col-md-3, .dashboard-container .col-md-6 {
        padding: 0;
        border-bottom: 1px solid #ddd;
    }

    .dashboard-container .box {
        width: 100%;
        height: 150px;
        position: relative;
        text-align: center;
        border-right: 1px solid #ddd;
    }

        .dashboard-container .box .center {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            display: block;
            margin: auto;
        }

        .dashboard-container .box h2, h3 {
            margin: 0;
            margin-bottom: 7px;
            font-weight: normal !important;
        }

        .dashboard-container .box h2 {
            color: #000;
        }

        .dashboard-container .box h3 {
            color: #848484;
        }
