@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Skift kodeord";
}


<div class="navbar-allaround"></div>

<div class="container">
    <h2>Skift dit kodeord</h2>
    <hr />
    <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger" style="margin-left: -40px;"></div>

        <p>Gamle kodeord</p>
        <input asp-for="OldPassword" class="edit-input" />
        <span asp-validation-for="OldPassword" class="text-danger" style="margin-left: 5px;"></span>

        <p>Nye kodeord</p>
        <input asp-for="NewPassword" class="edit-input" />
        <span asp-validation-for="NewPassword" class="text-danger" style="margin-left: 5px;"></span>

        <p>Bekræft nye kodeord</p>
        <input asp-for="ConfirmPassword" class="edit-input" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <button type="submit" class="edit-button" style="margin-top: 20px;">Skift kodeord</button>

    </form>
</div>




@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
