@model ChangePasswordViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Skift kodeord";
    var user = await UserManager.GetUserAsync(User);
}


<div class="navbar-allaround"></div>

<div class="container">

    <h2 style="margin: 25px 0 25px 0;">Skift kodeord</h2>

    <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger" style="margin-left: -40px;"></div>

        <p>Gammelt kodeord</p>
        <input asp-for="OldPassword" class="edit-input-influ" />
        <span asp-validation-for="OldPassword" class="text-danger" style="margin-left: 5px;"></span>

        <p>Nyt kodeord</p>
        <input asp-for="NewPassword" class="edit-input-influ" />
        <span asp-validation-for="NewPassword" class="text-danger" style="margin-left: 5px;"></span>

        <p>Bekræft nyt kodeord</p>
        <input asp-for="ConfirmPassword" class="edit-input-influ" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <button type="submit" class="edit-button-influ" style="margin-top: 20px; background-color: #ffa500">Skift kodeord</button>

    </form>
</div>




@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
