@model FeedbackResponseViewModel
@{ 
    ViewData["Title"] = "Response"; 
}

<div class="navbar-allaround"></div>

<div class="container">
    <h2>Feedback</h2>
    <p>@Model.Rating.Review</p>
</div>


