@model FeedbackResponseViewModel
@inject UserManager<ApplicationUser> UserManager
@{ 
    ViewData["Title"] = "Response"; 
}

<div class="navbar-allaround"></div>

<div class="container">
    <h2 class="text-center" style="margin: 25px 0 25px 0">@UserManager.Users.SingleOrDefault(x => x.Id == Model.Rating.ApplicationUserId).Name's feedback til dig</h2>
    <hr />
    <p>@Model.Rating.Review</p>
</div>


