@model IndexViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Manage your account";
    var user = await UserManager.GetUserAsync(User);
}

<div class="navbar-allaround"></div>

<div class="container">
    <div class="col-md-12 margin-top">
        <img class="profil-img center-block" src="http://placehold.it/200x200" />
        <div class="text-center">
            <h2>@user.Name</h2>
            <h3>Gamer | Underholdning</h3>
            <hr />
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4 profile-text">
            <p> @user.ProfileText </p>
        </div>
        <div class="col-md-4">
            <div class="social-box">
                <a href="#" class="fa fa-profile fa-facebook fa-facebook-profile"></a>
                <span>/ChristofferJespersen...</span>
            </div>
            <div class="social-box">
                <a href="#" class="fa fa-profile fa-instagram fa-instagram-profile"></a>
                <span>ChristofferJespersen</span>
            </div>
            <div class="social-box">
                <a href="#" class="fa fa-profile fa-snapchat-ghost fa-snapchat-ghost-profile"></a>
                <span>Christoffer123</span>
            </div>
            <div class="social-box">
                <a href="#" class="fa fa-profile fa-youtube fa-youtube-profile"></a>
                <span>/ChristofferJespersen</span>
            </div>
            <div class="social-box">
                <a href="#" class="fa fa-profile fa-linkedin fa-linkedin-profile"></a>
                <span>Christoffer Jespersen</span>
            </div>
            <div class="social-box">
                <a href="#" class="fa fa-profile fa-globe fa-globe-profile"></a>
                <span>www.christoffertv.com</span>
            </div>
        </div>
    </div>
</div>