@model IndexViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Manage your account";
    var user = await UserManager.GetUserAsync(User);
}

<div class="navbar-allaround"></div>

<div class="container">
    <div class="col-md-12 margin-top">
        <img class="profil-img center-block" src="http://placehold.it/200x200" />
        <div class="text-center">
            <h2>@user.FirstName @user.LastName</h2>
            <h3>Gamer | Underholdning</h3>
            <hr />
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4 profile-text">
            <p> Jeg laver sjov underholdning og hardcore gaming videoer. 
                Subscribe og tjek min youtube kanal, instagram eller facebook profil, og bliv en del af mit sjove univers.
                Giv mig en god score her fordi jeg er så troværdig og sej, og mega sjov.</p>
        </div>
        <div class="col-md-4">
            <div class="social-box">
                <a href="#" class="fa fa-facebook"></a>
                <span>/ChristofferJespersen...</span>
            </div>
            <div class="social-box">
                <a href="#" class="fa fa-instagram"></a>
                <span>ChristofferJespersen</span>
            </div>
            <div class="social-box">
                <a href="#" class="fa fa-snapchat-ghost"></a>
                <span>Christoffer123</span>
            </div>
            <div class="social-box">
                <a href="#" class="fa fa-youtube"></a>
                <span>/ChristofferJespersen</span>
            </div>
            <div class="social-box">
                <a href="#" class="fa fa-linkedin"></a>
                <span>Christoffer Jespersen</span>
            </div>
            <div class="social-box">
                <a href="#" class="fa fa-globe"></a>
                <span>www.christoffertv.com</span>
            </div>
        </div>
    </div>
</div>