@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<div class="col-md-offset-4 col-md-8">
    <button id="instaBtn">Instagram</button>
    <button id="faceBtn">Facebook</button>


    
    <div>
        <p id="text">Followers: <span id="followers"></span></p>
        <p>Likes </p>

        <graph></graph>
    </div>


</div>


@section Scripts{ 
    <script>
        $("#instaBtn").click(function () {

            


            $("#followers").text(result.follower)


        });

        $("#faceBtn").click(function () {
            $("#followers").text("123123123123123")
        });




    </script>
}