@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">

    <div style="width: 100%; height: 70px; border-bottom: 1px solid #ddd;">

    </div>

    <div class="first">
        <div class="container">
            <div class="col-md-6">
                <div class="textbox">
                    <h1>Find de bedste influencere og boost dit brand.</h1>
                    <p>Har du brug for markedsføring af produkter, brands eller noget helt tredje? Så er Bestfluence det bedste sted at starte. Opret en ny kampange og hold øje med din reach og audience.</p>
                    <div class="small-divider"></div>
                    <a asp-action="Index" asp-controller="Dashboard">PRØV DET NU</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="iconbox">   
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="second">
        <div class="container">
            <div class="col-md-12 padding-left-right">
                <h2>Hvorfor influencer marketing?</h2>
            </div>
            <div class="col-md-6 padding-left-right">
                <h3>Kom ud til den rigtige målgruppe</h3>
                <p>Hvem ønsker du at ramme når du laver en marketing kampange. Få statistik på hvem der kigger med og hvem der bliver influeret af influenceren. </p>
                <br />
                <h3>Kom ud til den rigtige målgruppe</h3>
                <p>Hvem ønsker du at ramme når du laver en marketing kampange. </p>
            </div>
            <div class="col-md-6 padding-left-right">
                <h3>Kom ud til den rigtige målgruppe</h3>
                <p>Hvem ønsker du at ramme når du laver en marketing kampange. Få statistik på hvem der kigger med og hvem der bliver influeret af influenceren. </p>
                <br />
                <h3>Kom ud til den rigtige målgruppe</h3>
                <p>Hvem ønsker du at ramme når du laver en marketing kampange. </p>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


</div>