@model RateBlog.Models.InfluenterViewModels.IndexViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Find en influencer";
    var user = await UserManager.GetUserAsync(User);
}

<div style="height: 100vh; background: #fafafa">

    <div class="navbar-allaround"></div>

    <div style="background-color: #fff; height: 188px">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h2 style="margin-bottom: 30px; margin-top: 0">Søg på influencere</h2>
                    <form method="get" asp-area="" asp-controller="Influencer" asp-action="Index" class="form-inline">
                        <div class="input-group">
                            <input autocomplete="off" type="text" name="search" id="search" style="border: 1px solid #ddd" class="form-control search-input" list="searchSug" placeholder="F.eks. Anna, Fashion eller YouTube" />
                            <datalist id="searchSug"></datalist>
                            <div class="input-group-btn">
                                <button class="btn search-button" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-bottom: 50px; background: #fafafa; border-top: 1px solid #ddd">
        <div class="container" style="padding-top: 20px">
            <div class="col-md-12 noPaddingLeft">
                <div class="col-md-3 hidden-sm hidden-xs noPaddingLeft">
                    <div class="sorter">

                        <div class="col-md-12 noPadding">
                            <h4><b>Kategorier</b></h4>

                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="5" style="background: #fff">Gaming</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="4" style="background: #fff">Beauty</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="6" style="background: #fff">Entertainment</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="8" style="background: #fff">Fashion</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="1" style="background: #fff">Lifestyle</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="7" style="background: #fff">Food</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="9" style="background: #fff">Mommy</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="3" style="background: #fff">Vlogger</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="2" style="background: #fff">DIY</label><br />
                        </div>
                        <div class="col-md-12 noPadding">
                            <hr />
                        </div>
                        <div class="col-md-12 noPadding">
                            <h4><b>Platforme</b></h4>
                            <div class="col-md-6 noPadding">
                                <label class="checkbox-inline"><input type="checkbox" name="platforme" value="4" style="background: #fff">Facebook</label><br />
                                <label class="checkbox-inline"><input type="checkbox" name="platforme" value="2" style="background: #fff">Instagram</label><br />
                                <label class="checkbox-inline" style="padding-bottom: 0;"><input type="checkbox" name="platforme" value="1" style="background: #fff;">YouTube</label><br />
                            </div>
                            <div class="col-md-6 noPadding">
                                <label class="checkbox-inline"><input type="checkbox" name="platforme" value="3" style="background: #fff">Snapchat</label><br />
                                <label class="checkbox-inline"><input type="checkbox" name="platforme" value="6" style="background: #fff">Twitter</label><br />
                                <label class="checkbox-inline" style="padding-bottom: 0;"><input type="checkbox" name="platforme" value="5" style="background: #fff;">Twitch</label>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-sm-12 noPadding">
                    <div class="infoInfluenter">
                        <h2 style="margin-top: 0; margin-bottom: 20px;">
                            Resultater for @Model.SearchString

                            <span style="float: right;" class="hidden-xs">
                                <select class="dropdown-sort">
                                    <option value="" disabled selected hidden>Sorter influencers</option>
                                    <option>Højest score</option>
                                    <option>Lavest score</option>
                                    <option>Flest anmeldelser</option>
                                    <option>Færreste anmeldelser</option>
                                </select>
                            </span>

                        </h2>

                        <div class="col-md-12 search-result" style="padding-top: 15px; padding-bottom: 15px">
                            <div class="outer">
                                <div class="middle">
                                    <div class="inner">
                                        <h4 style="margin: 0">Mangler der en influencer?</h4>
                                        <a asp-controller="Influencer" asp-action="Create" class="a-button center-block" style="background-color: #FFA500; float: none; letter-spacing: 1.5px; margin-top: 20px; width: 170px"><b>Opret influencer</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="listOfInfluencers">
                            @Html.Partial("InfluencerListPartial", Model.InfluentList)
                        </div>

                        <div style="height: 100px;">
                            <div id="loadingBox" class="text-center" style="display: none">
                                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts{
    <script>

        var pageSize = 10;
        var pageIndex = 0;
        var searchString = "@Model.SearchString";
        var currentUsersArray;
        var ajaxDone = 0;
        var loadingComplete = false; 

        $(document).ready(function () {
            // Gets the data first
            GetData();
        });


        $(window).scroll(function () {
            if (ajaxDone === 0) {
                if ($(window).scrollTop() + $(window).height() + 100 > $(document).height()) {
                    GetData();
                }
            }
        });

        // Får data når der bliver scrollet ned til bunden
        function GetData() {

            // Platform og kategori Array skal sendes med, så der kun loades ind, hvad der er sorteret efter. //
            var platformArray = new Array();
            var kategoriArray = new Array();

            $("input[type='checkbox'][name='platforme']").each(function () {
                if ($(this).is(":checked")) {
                    platformArray.push($(this).attr("value"));
                }
            });

            $("input[type='checkbox'][name='kategorier']").each(function () {
                if ($(this).is(":checked")) {
                    kategoriArray.push($(this).attr("value"));
                }
            });

            // Samler platforme og kategorier som JSON //
            var jsonPlatformArray = {};
            var jsonKategoriArray = {};

            for (i in kategoriArray) {
                jsonKategoriArray[i] = kategoriArray[i];
            }

            for (i in platformArray) {
                jsonPlatformArray[i] = platformArray[i];
            }

            // Gets the current users, so i can make sure they dont appear twice in list...
            var currentInfluencers = UpdateCurrentUserList();

            var lastInfluencer = currentInfluencers[currentInfluencers.length - 1];

            

            $.ajax({
                type: "GET",
                async: true,
                url: '/Influencer/GetNextFromList',
                beforeSend: function () {
                    ajaxDone++;
                    if (!loadingComplete) {
                        $("#loadingBox").css("display", "block");
                    }                    
                },
                data: {
                    pageIndex: pageIndex,
                    pageSize: pageSize,
                    search: searchString,
                    platforme: jsonPlatformArray,
                    kategorier: jsonKategoriArray,
                    lastUser: lastInfluencer
                },
                error: function (request, error) {
                    ajaxDone--; 
                },
                success: function (response) {
                    ajaxDone--; 
                    if (response.trim()) {
                        $("#listOfInfluencers").append(response);
                        pageIndex++;
                        currentUsersArray = UpdateCurrentUserList();
                    }
                    else {
                        loadingComplete = true;
                    }
                },
                complete: function () {
                        $("#loadingBox").css("display", "none");
                }
            });
        };

        function UpdateCurrentUserList() {
            var currentUsersArray = new Array();

            $("input[type='hidden'][name='currentInfluencers']").each(function () {
                currentUsersArray.push($(this).attr("value"));
            });
            return currentUsersArray;
        }

        $(document).ready(function () {

            currentUsersArray = UpdateCurrentUserList();

            $("input[type='checkbox'][name='platforme'], input[type='checkbox'][name='kategorier']").click(function () {

                var platformArray = new Array();
                var kategoriArray = new Array();

                $("input[type='checkbox'][name='platforme']").each(function () {
                    if ($(this).is(":checked")) {
                        platformArray.push($(this).attr("value"));
                    }
                });

                $("input[type='checkbox'][name='kategorier']").each(function () {
                    if ($(this).is(":checked")) {
                        kategoriArray.push($(this).attr("value"));
                    }
                });

                var jsonPlatformArray = {};
                var jsonKategoriArray = {};

                for (i in kategoriArray) {
                    jsonKategoriArray[i] = kategoriArray[i];
                }

                for (i in platformArray) {
                    jsonPlatformArray[i] = platformArray[i];
                }

                // Get ajax
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '/Influencer/Sorter',
                    data: {
                        platforme: jsonPlatformArray,
                        kategorier: jsonKategoriArray,
                        pageIndex: pageIndex,
                        pageSize: pageSize,
                        search: searchString
                    },
                    error: function (request, error) {

                    },
                    success: function (response) {
                        $("#listOfInfluencers").html(response);
                    }
                });

            });
        });

    </script>

}