@model RateBlog.Models.InfluenterViewModels.IndexViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Find en influencer";
    var user = await UserManager.GetUserAsync(User);
}

<div style="height: 100vh; background: #fafafa">

    <div class="navbar-allaround"></div>

    <div style="background-color: #fff; padding-bottom: 15px;">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h2>Søg på influencers</h2>
                    <form method="get" asp-area="" asp-controller="Influencer" asp-action="Index">
                        <input type="text" name="search" class="search-input" style="border: 1px solid #888" placeholder="F.eks. Gaming, Youtube eller Armin" />
                        <span>
                            <input class="search-button" type="submit" value="Søg" />
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-bottom: 100px; background: #fafafa; border-top: 1px solid #ddd">
        <div class="container" style="padding-top: 20px">
            <div class="col-md-12 noPaddingLeft">
                <div class="col-md-3 hidden-sm hidden-xs noPaddingLeft">
                    <div class="sorter">
                        <div class="col-md-12 noPadding">
                            <h4><b>Platforme</b></h4>
                            <div class="col-md-6 noPadding">
                                <label class="checkbox-inline"><input type="checkbox" name="platforme" value="4" style="background: #fff">Facebook</label><br />
                                <label class="checkbox-inline"><input type="checkbox" name="platforme" value="2" style="background: #fff">Instagram</label><br />
                                <label class="checkbox-inline" style="padding-bottom: 0;"><input type="checkbox" name="platforme" value="1" style="background: #fff;">YouTube</label><br />
                            </div>
                            <div class="col-md-6 noPadding">
                                <label class="checkbox-inline"><input type="checkbox" name="platforme" value="3" style="background: #fff">Snapchat</label><br />
                                <label class="checkbox-inline"><input type="checkbox" name="platforme" value="6" style="background: #fff">Twitter</label><br />
                                <label class="checkbox-inline" style="padding-bottom: 0;"><input type="checkbox" name="platforme" value="5" style="background: #fff;">Twitch</label>
                            </div>
                            <div class="col-md-12 noPadding">
                                <hr />
                            </div>
                        </div>
                        <div class="col-md-12 noPadding">
                            <h4><b>Kategorier</b></h4>

                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="5" style="background: #fff">Gaming</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="4" style="background: #fff">Beauty</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="6" style="background: #fff">Entertainment</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="8" style="background: #fff">Fashion</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="1" style="background: #fff">Lifestyle</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="7" style="background: #fff">Food</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="9" style="background: #fff">Mommy</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="3" style="background: #fff">Vlogger</label><br />
                            <label class="checkbox-inline"><input type="checkbox" name="kategorier" value="2" style="background: #fff">DIY</label><br />
                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-sm-12 noPadding">
                    <div class="infoInfluenter">
                        <h2 style="margin-top: 0; margin-bottom: 20px;">
                            Resultater for @Model.SearchString
                        </h2>

                        <div class="col-md-12 search-result" style="padding-top: 15px; padding-bottom: 15px">
                            <div class="outer">
                                <div class="middle">
                                    <div class="inner">
                                        <h4 style="margin: 0">Mangler der en influencer?</h4>
                                        <a asp-controller="Influencer" asp-action="Create" class="a-button center-block" style="background-color: #f08301; float: none; letter-spacing: 1.5px; margin-top: 20px; width: 170px"><b>Opret influencer</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="listOfInfluencers">
                            @Html.Partial("InfluencerListPartial", Model.InfluentList)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts{
    <script>

        var pageSize = 10;
        var pageIndex = 0;
        var searchString = "@Model.SearchString";
        var currentUsersArray;
        var endLoading = false;

        $(document).ready(function () {
            // Gets the data first
            GetData();

            $(window).scroll(function () {
                if ($(window).scrollTop() ==
                    $(document).height() - $(window).height()) {
                    GetData();
                }
            });
        });



        // Får data når der bliver scrollet ned til bunden
        function GetData() {

            // Platform og kategori Array skal sendes med, så der kun loades ind, hvad der er sorteret efter. //
            var platformArray = new Array();
            var kategoriArray = new Array();

            $("input[type='checkbox'][name='platforme']").each(function () {
                if ($(this).is(":checked")) {
                    platformArray.push($(this).attr("value"));
                }
            });

            $("input[type='checkbox'][name='kategorier']").each(function () {
                if ($(this).is(":checked")) {
                    kategoriArray.push($(this).attr("value"));
                }
            });

            // Samler platforme og kategorier som JSON //
            var jsonPlatformArray = {};
            var jsonKategoriArray = {};

            for (i in kategoriArray) {
                jsonKategoriArray[i] = kategoriArray[i];
            }

            for (i in platformArray) {
                jsonPlatformArray[i] = platformArray[i];
            }

            // Gets the current users, so i can make sure they dont appear twice in list...
            var currentInfluencers = UpdateCurrentUserList();

            var lastInfluencer = currentInfluencers[currentInfluencers.length - 1];

            $.ajax({
                type: "GET",
                async: false,
                url: '/Influencer/GetNextFromList',
                data: {
                    pageIndex: pageIndex,
                    pageSize: pageSize,
                    search: searchString,
                    platforme: jsonPlatformArray,
                    kategorier: jsonKategoriArray,
                    lastUser: lastInfluencer
                },
                error: function (request, error) {

                },
                success: function (response) {
                    if (response.trim()) {
                        $("#listOfInfluencers").append(response);
                        pageIndex++;
                        currentUsersArray = UpdateCurrentUserList();
                    }
                }
            });
        };

        function UpdateCurrentUserList() {
            var currentUsersArray = new Array();

            $("input[type='hidden'][name='currentInfluencers']").each(function () {
                currentUsersArray.push($(this).attr("value"));
            });
            return currentUsersArray;
        }

        $(document).ready(function () {

            currentUsersArray = UpdateCurrentUserList();

            $("input[type='checkbox'][name='platforme'], input[type='checkbox'][name='kategorier']").click(function () {

                var platformArray = new Array();
                var kategoriArray = new Array();
                endLoading = false;

                $("input[type='checkbox'][name='platforme']").each(function () {
                    if ($(this).is(":checked")) {
                        platformArray.push($(this).attr("value"));
                    }
                });

                $("input[type='checkbox'][name='kategorier']").each(function () {
                    if ($(this).is(":checked")) {
                        kategoriArray.push($(this).attr("value"));
                    }
                });

                var jsonPlatformArray = {};
                var jsonKategoriArray = {};

                for (i in kategoriArray) {
                    jsonKategoriArray[i] = kategoriArray[i];
                }

                for (i in platformArray) {
                    jsonPlatformArray[i] = platformArray[i];
                }

                // Get ajax
                $.ajax({
                    type: "GET",
                    async: true,
                    url: '/Influencer/Sorter',
                    data: {
                        platforme: jsonPlatformArray,
                        kategorier: jsonKategoriArray,
                        pageIndex: pageIndex,
                        pageSize: pageSize,
                        search: searchString
                    },
                    error: function (request, error) {

                    },
                    success: function (response) {
                        $("#listOfInfluencers").html(response);
                    }
                });

            });
        });

    </script>

}