body {
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.noPadding{
    padding-left: 0; 
    padding-right: 0;
}

/*Modal*/

body.modal-open {
    overflow: auto;
}

    body.modal-open[style] {
        padding-right: 0px !important;
    }

.modal::-webkit-scrollbar {
    width: 0 !important; /*removes the scrollbar but still scrollable*/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}

/*Modal end*/

/*Center*/

.outer {
    display: table;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 100%;
    text-align: center;
}

/*Center end*/


/*Login*/

.login-links {
    cursor: pointer;
}

.text-input {
    width: 100%;
    max-width: 100%;
    height: 40px;
    padding: 15px 10px;
    margin-bottom: 20px;
    border: 2px solid #dadada;
    border-radius: 3px;
}

    .text-input:focus {
        outline: none;
        border-color: #f2cb80;
        border-width: 2px;
    }

.login-button {
    height: 40px;
    border-radius: 3px;
    border: none;
    max-width: none;
    width: 100%;
    background-color: #E67E22;
    color: #fff;
    font-size: 16px;
}

    .login-button:hover {
        background-color: #e0781d
    }

.divider {
    padding-bottom: 15px;
}

    .divider h4 {
        text-align: center;
        background: -moz-linear-gradient(top, #fff 0%, #fff 50%, #ddd 50%, #ddd 50.5%, #fff 50.5%, #fff 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #fff 50%, #ddd 50%, #ddd 50.5%, #fff 50.5%, #fff 100%);
        background: linear-gradient(top, #fff 0%, #fff 50%, #ddd 50%, #ddd 50.5%, #fff 50.5%, #fff 100%);
    }

        .divider h4 span {
            background: #fff;
            padding: 0 15px;
        }

.divider-small {
    padding-bottom: 15px;
}

.display-none {
    display: none;
}

/*Login end*/


/*--------------Home Index page----------------------*/

.home-img {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../images/pexels-photo-199497.png") no-repeat center;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*filter: brightness(50%);*/
}


    .home-img h2 {
        color: #fff;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-size: 45px;
        margin: 0;
        margin-bottom: 10px
    }

.search-input {
    margin: 20px auto;
    padding: 4px 16px;
    max-width: 400px;
    height: 45px;
    width: 100%;
    border-radius: 3px;
    border: none;
}

    .search-input:focus {
        outline: none;
    }

.search-button {
    height: 45px;
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    width: 100px;
    background-color: #2f477a;
    color: #fff;
}

    .search-button:hover {
        background-color: #e67e22
    }

    .search-button:focus {
        outline: none;
    }


/*------------------------------CENTER----------------------------------------*/

.outer {
    display: table;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 100%;
    text-align: center;
}




/*-----------------NavBar--------------------*/

/* navbar */
.navbar-default {
    background-color: transparent;
    border: none;
    margin: 0;
    position: absolute;
    width: 100%;
}
    /* Title */
    .navbar-default .navbar-brand {
        color: #fff;
        font-weight: bold;
        height: 100%;
        font-size: 24px;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #E67E22;
        }
    /* Link */
    .navbar-default .navbar-nav > li > a {
        color: #fff;
        font-size: 15px;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #E0E0E0;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: black;
        background-color: #E7E7E7;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #555;
        background-color: #D5D5D5;
    }
    /* Caret */
    .navbar-default .navbar-nav > .dropdown > a .caret {
        border-top-color: #777;
        border-bottom-color: #777;
    }

    .navbar-default .navbar-nav > .dropdown > a:hover .caret,
    .navbar-default .navbar-nav > .dropdown > a:focus .caret {
        border-top-color: #333;
        border-bottom-color: #333;
    }

    .navbar-default .navbar-nav > .open > a .caret,
    .navbar-default .navbar-nav > .open > a:hover .caret,
    .navbar-default .navbar-nav > .open > a:focus .caret {
        border-top-color: #555;
        border-bottom-color: #555;
    }
    /* Mobile version */
    .navbar-default .navbar-toggle {
        border-color: #DDD;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #DDD;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #CCC;
        }

.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-default .btn-link {
    color: #fff;
    line-height: 0px;
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

    .navbar-default .btn-link:hover {
        color: #E7E7E7;
        text-decoration: none;
    }

/*Mobil fixer */
@media (max-width: 767px) {
    .navbar-default {
        background-color: #fff;
        position: relative;
        width: 100%;
        border-bottom: 1px solid #ddd
    }

    .navbar-brand,
    .navbar-nav li a {
        line-height: 50px;
        height: 50px;
    }

    .navbar-default .navbar-brand {
        color: #E67E22;
        font-weight: bold;
        height: 100%;
        font-size: 24px;
    }

    .navbar-default .navbar-nav > li > a {
        color: #000;
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #333;
        }
}

.navbar-allaround {
    height: 70px;
    background-color: #18243d;
    width: 100%
}


@media (max-width: 767px) {
    .navbar-allaround {
        display: none;
    }
}

/*------------End navBar---------------------------------------------------*/

/*-------------Video-------------------------------------------------------*/
.video-container {
    background-color: #fff;
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}

    .video-container iframe {
        width: 100%;
        height: 296px;
    }

    .video-container p {
        font-size: 24px;
        margin-left: 20px;
    }

    .video-container h1 {
        margin: 0;
        padding-bottom: 50px
    }
/*-------------Video End-------------------------------------------------------*/

/*Categori container*/

.categori-container {
    background-color: #f6f6f6;
    padding-top: 100px;
    padding-bottom: 100px;
}

.circle {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0;
    padding: 50% 0;
    border-radius: 50%;
    background: #38a9e4;
    color: white;
    font-size: 26px;
    text-align: center;
    line-height: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 991px) {

    .circle {
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {

    .circle {
        font-size: 12px;
    }
}



/*Categori container end*/


.sorter {
    background-color: #eee;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 5px;
}

    .sorter h1 {
        font-size: 25px;
        padding-top: 0px;
    }



.influ-img {
    height: 150px;
    width: 150px;
    border-radius: 30%;
}

.search-result {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
}

.search-inputsøg {
    margin: 20px auto;
    padding: 4px 16px;
    max-width: 400px;
    height: 45px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid black;
}

/*Dropdown menu*/

ul li {
    font: 13px Verdana, 'Lucida Grande';
    cursor: pointer;
    -webkit-transition: padding .05s linear;
    -moz-transition: padding .05s linear;
    -ms-transition: padding .05s linear;
    -o-transition: padding .05s linear;
    transition: padding .05s linear;
}

    ul li.drop {
        position: relative;
    }

ul > li {
    display: inline-block;
}

ul li a {
    line-height: 80px;
    padding: 0 20px;
    height: 80px;
    color: #777;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

    ul li a:hover {
        color: #eee;
    }

.dropOut .triangle {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    top: -8px;
    left: 50%;
    margin-left: -8px;
}

.dropdownContain {
    width: 160px;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -80px; /* half of width */
    top: -400px;
}


.dropOut {
    width: 160px;
    background: white;
    float: left;
    position: relative;
    margin-top: 0px;
    opacity: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}


    .dropOut ul {
        float: left;
        padding: 10px;
    }


        .dropOut ul li a {
            text-align: left;
            float: left;
            width: 120px;
            padding: 20px 20px 20px 20px;
            margin: 0px 10px;
            color: #777;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-transition: background .1s ease-out;
            -moz-transition: background .1s ease-out;
            -ms-transition: background .1s ease-out;
            -o-transition: background .1s ease-out;
            transition: background .1s ease-out;
        }

            .dropOut ul li:hover {
                background: #f6f6f6;
            }

ul li:hover .dropdownContain {
    top: 62px;
}

ul li:hover .underline {
    border-bottom-color: #777;
}

ul li:hover .dropOut {
    opacity: 1;
    margin-top: 8px;
}

.dropOut-a{
    color: #777; 
    line-height: 0px !important;
    height: 0px !important;
    padding-left: 0px !important;
}

.dropOut-a:hover{
    text-decoration: none; 
    color: #777;
}

/*Profil Index*/

.margin-top{
    margin-top: 50px; 
}

.profil-img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.profile-info{
   
}

.profile-text{
    font-size: 16px;
}



/*Social Media buttons*/

.fa {
    display: block;
    padding: 15px;
    font-size: 28px !important;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    vertical-align: middle;
}

    .fa:hover {
        opacity: 0.7;
        color: #fff;
        text-decoration: none;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-globe {
    background: #5E9DC8; 
    color: white;
}

.social-box {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.social-box span {
    font-size: 20px;

}

@media screen and (min-width: 1200px) {

    .social-box span {
        font-size: 20px;
        margin-left: 15px;
    }
}