body {
    font-family: 'Raleway', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display: inline-block;
    content: "[";
    padding-right: 0.5em;
}

.btn-bracketed::after {
    display: inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.noPadding {
    padding-left: 0;
    padding-right: 0;
}


.noPaddingLeft {
    padding-left: 0;
}

.noPaddingRight {
    padding-right: 0;
}
/*Modal*/

body.modal-open {
    overflow: auto;
}

    body.modal-open[style] {
        padding-right: 0px !important;
    }

.modal::-webkit-scrollbar {
    width: 0 !important; /*removes the scrollbar but still scrollable*/
    /* reference: http://stackoverflow.com/a/26500272/2259400 */
}

/*Modal end*/

/*Center*/

.outer {
    display: table;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 100%;
    text-align: center;
}

/*Center end*/


/*Login*/


.fa-login {
    display: block;
    padding: 25px;
    font-size: 40px !important;
    width: 90px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
}

    .fa-login:hover {
        opacity: 0.7;
        color: #fff;
        text-decoration: none;
    }

.modal-header {
    border: none;
}

.modal-title {
    margin-top: 10px;
    font-weight: 900;
}

.login-head {
    margin-top: 15px;
    margin-bottom: 30px;
}

.login-links {
    cursor: pointer;
}

.text-input {
    width: 100%;
    max-width: 100%;
    height: 46px;
    padding: 15px 15px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 2px solid #dadada;
    border-radius: 6px;
    transition: all 0.3s ease 0s
}

    .text-input:focus {
        outline: none;
        border-color: #f2cb80;
        border-width: 2px;
    }

.login-button {
    height: 46px;
    border-radius: 6px;
    border: none;
    max-width: none;
    width: 100%;
    background-color: #f08301;
    color: #fff;
    font-size: 18px;
    transition: all 0.3s ease 0s
}

    .login-button:hover {
        background-color: #E67E22
    }

.divider {
    padding-bottom: 15px;
    padding-top: 15px;
}

    .divider h4 {
        text-align: center;
        background: -moz-linear-gradient(top, #fff 0%, #fff 50%, #ddd 50%, #ddd 50.5%, #fff 50.5%, #fff 100%);
        background: -webkit-linear-gradient(top, #fff 0%, #fff 50%, #ddd 50%, #ddd 50.5%, #fff 50.5%, #fff 100%);
        background: linear-gradient(top, #fff 0%, #fff 50%, #ddd 50%, #ddd 50.5%, #fff 50.5%, #fff 100%);
    }

        .divider h4 span {
            background: #fff;
            padding: 0 15px;
        }

.divider-small {
    padding-bottom: 15px;
}

.display-none {
    display: none;
}

/*Login end*/


/*--------------Home Index page----------------------*/

.home-img {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../images/pexels-photo-199497.png") no-repeat center;
    height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


    .home-img h2 {
        color: #fff;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        font-size: 45px;
        margin: 0;
        margin-bottom: 10px
    }

.search-input {
    margin: 20px auto;
    padding: 4px 16px;
    max-width: 400px;
    height: 45px;
    width: 100%;
    border-radius: 3px;
    border: none;
}

    .search-input:focus {
        outline: none;
    }

.search-button {
    height: 45px;
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    width: 100px;
    background-color: #f08301;
    color: #fff;
    transition: all 0.5s ease 0s;
}

    .search-button:hover {
        background-color: #d87500
    }

    .search-button:focus {
        outline: none;
    }


/*Center*/

.outer {
    display: table;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 100%;
    text-align: center;
}




/*Navbar*/

/* navbar */
.navbar-default {
    background-color: transparent;
    border: none;
    margin: 0;
    position: absolute;
    width: 100%;
}
    /* Title */
    .navbar-default .navbar-brand {
        color: #fff;
        font-weight: bold;
        height: 100%;
        font-size: 24px;
        transition: all 0.3s ease 0s;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #f08301;
        }
    /* Link */
    .navbar-default .navbar-nav > li > a {
        color: #fff;
        font-size: 15px;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #E0E0E0;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: black;
        background-color: #E7E7E7;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #555;
        background-color: #D5D5D5;
    }
    /* Caret */
    .navbar-default .navbar-nav > .dropdown > a .caret {
        border-top-color: #777;
        border-bottom-color: #777;
    }

    .navbar-default .navbar-nav > .dropdown > a:hover .caret,
    .navbar-default .navbar-nav > .dropdown > a:focus .caret {
        border-top-color: #333;
        border-bottom-color: #333;
    }

    .navbar-default .navbar-nav > .open > a .caret,
    .navbar-default .navbar-nav > .open > a:hover .caret,
    .navbar-default .navbar-nav > .open > a:focus .caret {
        border-top-color: #555;
        border-bottom-color: #555;
    }
    /* Mobile version */
    .navbar-default .navbar-toggle {
        border-color: #DDD;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #DDD;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #CCC;
        }

.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-default .btn-link {
    color: #fff;
    line-height: 0px;
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

    .navbar-default .btn-link:hover {
        color: #E7E7E7;
        text-decoration: none;
    }

/*Mobil fixer */
@media (max-width: 767px) {
    .navbar-default {
        background-color: #fff;
        position: relative;
        width: 100%;
        border-bottom: 1px solid #ddd
    }

    .navbar-brand,
    .navbar-nav li a {
        line-height: 50px;
        height: 50px;
    }

    .navbar-default .navbar-brand {
        color: #E67E22;
        font-weight: bold;
        height: 100%;
        font-size: 24px;
    }

    .navbar-default .navbar-nav > li > a {
        color: #000;
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #333;
        }
}

.navbar-allaround {
    height: 70px;
    background-color: #08468d;
    width: 100%
}


@media (max-width: 767px) {
    .navbar-allaround {
        display: none;
    }
}

.navbar-addon {
    height: 188px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

    .navbar-addon h2 {
        margin: 0;
        display: table-cell;
        vertical-align: middle;
    }

    .navbar-addon h1 {
        margin: 0;
    }

    .navbar-addon img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }

.addon-box {
    height: 188px;
    display: table;
}

.addon-number {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

    .addon-number h1 {
        margin-bottom: 15px;
    }

    .addon-number p {
        font-size: 16px;
        margin-bottom: 0;
    }

    .addon-number h3 {
        font-size: 30px;
        margin: 0;
    }

.addon-img-container {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

/*Video Container*/
.video-container {
    background-color: #f5f5f5;
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

    .video-container iframe {
        width: 100%;
        height: 296px;
    }

    .video-container span {
        font-size: 24px;
        vertical-align: middle
    }

    .video-container h1 {
        margin: 0;
        padding-bottom: 50px
    }

.margin-left {
    margin-left: 25px;
}

.icon-box {
    display: inline-block;
    padding-left: 40px;
    margin-bottom: 50px;
    width: 100%;
}

.fa-video {
    display: block;
    padding: 13px;
    font-size: 30px !important;
    width: 55px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.3s ease 0s
}

.fa-search-video {
    background: #f08301;
    color: #fff;
}

.fa-star-video {
    background: #08468d;
    color: #fff;
}

.fa-heart-video {
    background: #c75c5c;
    color: #fff;
}



/*Banner container*/

.banner-container {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background-color: #fff;
}

    .banner-container h3 {
        margin: 0;
        color: #f08301;
        font-weight: bold;
        letter-spacing: 1.1px;
    }

    .banner-container p {
        color: #444;
        margin-top: 20px;
    }


/*Categori container*/

.categori-container {
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 100px;
}

    .categori-container h1 {
        margin: 0;
        margin-bottom: 80px;
    }

.extra-padding {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

    .extra-padding a {
        outline: none;
        text-decoration: none;
    }

/*Search*/

/*.show-rating {
    border: none;
    float: left;
    height: 50px;
    display: block;
    float: right;
    margin-top: 30px;
}

    .show-rating label {
        margin-bottom: 0;
    }

    .show-rating > input {
        display: none;
    }

    .show-rating > label:before {
        content: '\f005';
        font-family: FontAwesome;
        text-shadow: 0px 0px 1px #000;
    }

    .show-rating > label {
        float: right;
        padding: 5px;
        font-size: 22px;
        color: #DCDCDC;
        transition: all .2s;
    }*/

.star-rating-search {
    display: flex;
    font-size: 28px;
    margin-top: 30px;
    float: right;
}

.star-rating-show {
    display: flex;
    font-size: 50px;
    align-items: center;
    justify-content: center;
}

.back-stars {
    display: flex;
    color: #DCDCDC;
    position: relative;
    text-shadow: 0px 0px 1px #000;
}


    .back-stars i {
        padding-left: 3px;
        padding-right: 3px;
    }

.front-stars {
    display: flex;
    color: #FD4;
    overflow: hidden;
    position: absolute;
    top: 0;
}

    .front-stars i {
        padding-left: 3px;
        padding-right: 3px;
    }

@media (max-width: 1199px) {
    .star-rating-show {
        display: flex;
        font-size: 36px;
    }
}

.a-button {
    display: block;
    text-decoration: none;
    background-color: #53b80a;
    color: #fff;
    padding: 10px 52px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    transition: all .2s ease-out;
    float: right;
}

    .a-button:hover {
        text-decoration: none;
        background: #479b0a;
        color: #fff;
    }

    .a-button:focus {
        text-decoration: none;
        background: #479b0a;
        color: #fff;
    }

.a-button-blue-100 {
    display: block;
    text-decoration: none;
    background-color: #08468d;
    color: #fff;
    padding: 10px 52px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    transition: all .2s ease-out;
    width: 100%;
}

    .a-button-blue-100:hover {
        text-decoration: none;
        background: #073f7e;
        color: #fff;
    }

    .a-button-blue-100:focus {
        text-decoration: none;
        background: #073f7e;
        color: #fff;
    }


.a-button-green-100 {
    display: block;
    text-decoration: none;
    background-color: #53b80a;
    color: #fff;
    padding: 10px 52px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    transition: all .2s ease-out;
    width: 100%;
}

    .a-button-green-100:hover {
        text-decoration: none;
        background: #479b0a;
        color: #fff;
    }

    .a-button-green-100:focus {
        text-decoration: none;
        background: #479b0a;
        color: #fff;
    }


.sorter {
    background-color: #fff;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-top: 53px;
}

    .sorter h1 {
        font-size: 25px;
        padding-top: 0px;
    }



.influ-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #eee;
    margin-right:10px;

}

.search-result {
    border: 1px solid #ddd;
    height: 150px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}

    .search-result h4 {
        margin-top: 20px;
        font-weight: bold;
    }

.search-inputsøg {
    margin: 20px auto;
    padding: 4px 16px;
    max-width: 400px;
    height: 45px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid black;
}

.search-inputsøg {
    outline: none;
}

.fa-search-o {
    display: block;
    padding: 10px;
    font-size: 12px !important;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

    .fa-search-o:hover {
        opacity: 0.5;
        color: #fff;
        text-decoration: none;
    }

    .fa-search-o:focus {
        opacity: 0.7;
        color: #fff;
        text-decoration: none;
    }

.fa-facebook-search {
    background: #3B5998;
    color: white;
}

.fa-twitter-search {
    background: #55ACEE;
    color: white;
}

.fa-google-search {
    background: #dd4b39;
    color: white;
}

.fa-linkedin-search {
    background: #007bb5;
    color: white;
}

.fa-youtube-search {
    background: #bb0000;
    color: white;
}

.fa-instagram-search {
    background: #bc2a8d;
    color: white;
}

.fa-snapchat-ghost-search {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-globe-search {
    background: #5E9DC8;
    color: white;
}

.fa-twitch-search {
    background: #6441A5;
    color: white;
}

.button-rate {
    float: right;
    margin-top: 10px;
    padding: 10px 30px;
    background: #E67E22;
    color: #fff;
    border: 1px solid #E67E22;
    border-radius: 3px;
    font-size: 13px;
    outline: none;
}

    .button-rate:hover {
        text-decoration: none;
        color: #fff;
    }

    .button-rate:focus {
        text-decoration: none;
        color: #fff;
    }

/*Dropdown menu*/



ul li.drop {
    position: relative;
    margin-right: 20px;
}

.dropOut ul > li {
    display: inline-block;
}

.dropOut ul li a {
    line-height: 80px;
    padding: 0 20px;
    height: 80px;
    color: #777;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

    .dropOut ul li a:hover {
        color: #777;
    }

.dropOut .triangle {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    top: -8px;
    left: 50%;
    margin-left: -8px;
}

.dropdownContain {
    width: 160px;
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: -80px; /* half of width */
    top: -400px;
}

    .dropdownContain ul li {
        font: 13px Verdana, 'Lucida Grande';
        cursor: pointer;
        -webkit-transition: padding .05s linear;
        -moz-transition: padding .05s linear;
        -ms-transition: padding .05s linear;
        -o-transition: padding .05s linear;
        transition: padding .05s linear;
    }


.dropOut {
    width: 160px;
    background: white;
    float: left;
    position: relative;
    margin-top: 0px;
    opacity: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}


    .dropOut ul {
        float: left;
        padding: 10px;
    }


        .dropOut ul li a {
            text-align: left;
            float: left;
            width: 120px;
            padding: 20px 20px 20px 20px;
            margin: 0px 10px;
            color: #777;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-transition: background .1s ease-out;
            -moz-transition: background .1s ease-out;
            -ms-transition: background .1s ease-out;
            -o-transition: background .1s ease-out;
            transition: background .1s ease-out;
        }

        .dropOut ul li:hover {
            background: #f6f6f6;
        }

ul li:hover .dropdownContain {
    top: 62px;
}

ul li:hover .underline {
    border-bottom-color: #777;
}

ul li:hover .dropOut {
    opacity: 1;
    margin-top: 8px;
}

.dropOut-a {
    color: #777;
    line-height: 0px !important;
    height: 0px !important;
    padding-left: 0px !important;
}

    .dropOut-a:hover {
        text-decoration: none;
        color: #777;
    }

/*Profil Index*/

.margin-top {
    margin-top: 50px;
}

.profil-img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.profile-text {
    font-size: 15px;
    word-break: break-word;
}



/*Social Media buttons*/

.social-box {
    width: 100%;
}

    .social-box a {
        vertical-align: middle;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        color: #fff;
    }


    .social-box span {
        font-size: 16px;
        margin-left: 10px;
    }

.fa-profile {
    display: block;
    padding: 15px;
    font-size: 24px !important;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 5px;
    transition: all 0.3s ease 0s
}

    .fa-profile:hover {
        opacity: 0.7;
        color: #fff;
        text-decoration: none;
    }

.fa-facebook-profile {
    background: #3B5998;
    color: white;
}

.fa-twitter-profile {
    background: #55ACEE;
    color: white;
}

.fa-google-profile {
    background: #dd4b39;
    color: white;
}

.fa-linkedin-profile {
    background: #007bb5;
    color: white;
}

.fa-youtube-profile {
    background: #bb0000;
    color: white;
}

.fa-instagram-profile {
    background: #bc2a8d;
    color: white;
}

.fa-snapchat-ghost-profile {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-globe-profile {
    background: #5E9DC8;
    color: white;
}

.fa-twitch-profile {
    background: #6441A5;
    color: white;
}


/*Rediger profil*/


.editprofile-head {
    margin-top: 25px;
    margin-bottom: 25px;
}

    .editprofile-head h2, .editprofile-head button {
        display: inline;
        vertical-align: top;
        line-height: 38px;
    }

    .editprofile-head button {
        float: right;
        margin-left: 10px;
        margin-right: 10px;
        padding: 2px 20px;
        background: #fff;
        color: #000;
        border: 1px solid #000;
        border-radius: 3px;
        font-size: 12px;
        outline: none;
        transition: all 0.3s ease 0s
    }

        .editprofile-head button.active {
            float: right;
            margin-left: 10px;
            margin-right: 10px;
            padding: 2px 20px;
            background: #E67E22;
            color: #fff;
            border: 1px solid #E67E22;
            border-radius: 3px;
            font-size: 12px;
            outline: none;
        }

    .editprofile-head h2 {
        font-weight: 500;
    }

.edit-input {
    width: 100%;
    max-width: 100%;
    height: 40px;
    padding: 15px 15px;
    font-size: 16px;
    border: 1px solid #dadada;
    margin-bottom: 20px;
    border-radius: 6px;
    outline: none;
}

.edit-input-influ {
    width: 50%;
    max-width: 100%;
    height: 40px;
    padding: 15px 15px;
    font-size: 16px;
    border: 1px solid #dadada;
    margin-bottom: 20px;
    border-radius: 6px;
    outline: none;
}

.edit-input-multiple {
    width: 50%;
    max-width: 100%;
    height: 40px !important;
}

.edit-button {
    height: 40px;
    border-radius: 6px;
    border: none;
    max-width: none;
    width: 100%;
    background-color: #4BB543;
    color: #fff;
    font-size: 16px;
}

.edit-button-influ {
    height: 40px;
    border-radius: 6px;
    border: none;
    max-width: none;
    width: 50%;
    background-color: #4BB543;
    color: #fff;
    font-size: 16px;
}

@media screen and (max-width: 767px) {

    .edit-input-influ {
        width: 100%;
    }

    .edit-button-influ {
        height: 46px;
        border-radius: 6px;
        border: none;
        max-width: none;
        width: 100%;
        background-color: #4BB543;
        color: #fff;
        font-size: 18px;
    }
}

.edit-social-box {
    width: 100%;
}

    .edit-social-box a {
        vertical-align: middle;
    }

    .edit-social-box input[type="checkbox"] {
        display: none;
    }

    .edit-social-box input[type="text"] {
        width: 100%;
        max-width: 502px;
        margin-left: 10px;
        height: 40px;
        padding: 15px 15px;
        font-size: 16px;
        border: 1px solid #dadada;
        border-radius: 6px;
        outline: none;
    }

@media screen and (max-width: 1199px) {
    .edit-social-box input[type="text"] {
        max-width: 405px;
    }
}

@media screen and (max-width: 991px) {
    .edit-social-box input[type="text"] {
        max-width: 292px;
    }
}

.fa-edit {
    display: block;
    padding: 15px;
    font-size: 24px !important;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 5px;
    transition: all 0.3s ease 0s
}

    .fa-edit:hover {
        opacity: 0.7;
        color: #fff;
        text-decoration: none;
    }

.fa-facebook-edit {
    background: #3B5998;
    color: white;
}

.fa-twitter-edit {
    background: #55ACEE;
    color: white;
}

.fa-google-edit {
    background: #dd4b39;
    color: white;
}

.fa-linkedin-edit {
    background: #007bb5;
    color: white;
}

.fa-youtube-edit {
    background: #bb0000;
    color: white;
}

.fa-instagram-edit {
    background: #bc2a8d;
    color: white;
}

.fa-snapchat-ghost-edit {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-globe-edit {
    background: #5E9DC8;
    color: white;
}

.fa-twitch-edit {
    background: #6441A5;
    color: white;
}

/*Kategori*/

.choose-category {
    width: 53%;
    margin-bottom: 20px;
}

    .choose-category label {
        position: relative;
        cursor: pointer;
        border-radius: 5px;
        margin: 5px;
        width: 30%;
    }

    .choose-category span {
        text-align: center;
        width: 100%;
        font-weight: normal;
        transition: all 0.3s ease 0s;
        border: 1px solid #000;
        border-radius: 5px;
    }

    .choose-category label [type="checkbox"] {
        display: none;
    }

    .choose-category [type="checkbox"] + span {
        display: inline-block;
        padding: 1em;
    }

    .choose-category :checked + span {
        background: #E67E22;
        border-color: #E67E22;
        display: inline-block;
        border-radius: 4px;
        color: #fff;
        font-weight: normal;
    }

    .choose-category [type="checkbox"][disabled] + span {
        background: #f00;
    }

/*------Hover Info Rating---------*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: -5px;
        right: 105%;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

/*------End Hover Info Rating---------*/

.rating-container {
    padding-bottom: 0px;
}

.rating-input {
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 15px 15px;
    margin-bottom: 30px;
    font-size: 16px;
    border: 1px solid #dadada;
    border-radius: 6px;
    outline: none;
    margin-top: 20px;
}

/*Rating*/

.rating {
    border: none;
    float: left;
    height: 70px;
}

    .rating label {
        margin-bottom: 0;
    }

    .rating > input {
        display: none;
    }

    .rating > label:before {
        content: '\f005';
        font-family: FontAwesome;
        text-shadow: 0px 0px 1px #000;
    }

    .rating > label {
        float: right;
        padding: 10px;
        font-size: 36px;
        color: #DCDCDC;
        transition: all .2s;
    }

    /***** CSS Magic to Highlight Stars on Hover *****/

    .rating label:hover {
        transform: scale(1.3);
        cursor: pointer;
    }

.rating-box {
    border-bottom: 1px solid #eee;
    height: 70px;
}

    .rating-box h4 {
        margin: 0;
        line-height: 70px;
        font-size: 24px;
    }

    .rating-box i {
        color: #53b90a;
        line-height: 70px
    }


.rating-radio {
    line-height: 70px;
    font-size: 18px;
}

input[type=radio].with-font,
input[type=checkbox].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

    input[type=radio].with-font ~ label:before,
    input[type=checkbox].with-font ~ label:before {
        font-family: FontAwesome;
        display: inline-block;
        content: "\f1db";
        letter-spacing: 10px;
        font-size: 1.2em;
        color: #535353;
        width: 1.4em;
    }

    input[type=radio].with-font:checked ~ label:before,
    input[type=checkbox].with-font:checked ~ label:before {
        content: "\f00c";
        font-size: 1.2em;
        color: #53b90a;
        letter-spacing: 5px;
    }

    input[type=checkbox].with-font ~ label:before {
        content: "\f096";
    }

    input[type=checkbox].with-font:checked ~ label:before {
        content: "\f046";
        color: #53b90a;
    }

.rate-button {
    height: 50px;
    border-radius: 6px;
    border: none;
    max-width: none;
    width: 100%;
    background-color: #4BB543;
    color: #fff;
    font-size: 20px;
}

    .rate-button:hover {
        background-color: #4BB533;
    }


/*Footer*/

footer {
    min-height: 280px;
    padding: 40px;
    background: #47525e;
    color: #fff;
}

    footer h4 {
        margin-bottom: 20px;
    }

    footer li {
        list-style: none;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    footer ul {
        padding: 0;
    }

        footer ul li a {
            color: #fff;
            text-decoration: none;
            outline: none;
        }

            footer ul li a:hover, footer ul li a:focus {
                color: #fff;
                text-decoration: none;
                outline: none;
            }

.fa-footer {
    display: block;
    padding: 10px;
    font-size: 24px !important;
    width: 47px;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 5px;
    border: 3px solid #fff;
}

    .fa-footer:hover {
        text-decoration: none;
        color: #fff;
    }

    .fa-footer:focus {
        text-decoration: none;
        color: #fff;
    }

.fa-facebook-footer {
    background: transparent;
    color: #fff;
}

.fa-twitter-footer {
    background: transparent;
    color: #fff;
}

.fa-youtube-footer {
    background: transparent;
    color: #fff;
}

.fa-instagram-footer {
    background: transparent;
    color: #fff;
}

@media screen and (max-width: 991px) {
    .footer-area {
        margin-bottom: 40px;
    }
}

/*----footer-Rasmus----*/
.footer-img {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../images/Rasmus.jpeg") no-repeat center;
    height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    .footer-img h2 {
        color: white;
    }

.omBestfluence h1 {
    padding-bottom: 20px;
    padding-top: 20px;
}

.circular-square {
    width: 200px;
    height: 200px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.circular-square {
    border-radius: 50%;
}


.kontaktMail {
    margin: 20px auto;
    padding: 4px 16px;
    max-width: 450px;
    height: 45px;
    width: 100%;
    border-radius: 3px;
    border: solid 1px;
}

.kontaktMailtext {
    width: 100%;
    max-width: 450px;
    height: 100%;
    padding: 15px 15px;
    margin-bottom: 30px;
    font-size: 16px;
    border: 1px solid;
    border-radius: 6px;
    outline: none;
    margin-top: 20px;
}

    .kontaktMail:focus, .kontaktMailtext:focus {
        outline: none;
    }

.mail-button {
    height: 45px;
    border-radius: 6px;
    border: none;
    max-width: 450px;
    width: 100%;
    background-color: #4BB543;
    color: #fff;
    font-size: 18px;
}

    .mail-button:hover {
        background-color: #4BB533;
    }

.img-Presse {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.checkbox-inline {
    padding-bottom: 5px;
}

.dropdown-toggle {
    background-color: white;
    border: 1px solid;
}

.circular-square job {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
}

.circular-square job {
    border-radius: 50%;
}

.my-alert {
    position: absolute !important;
    z-index: 5000 !important;
}

/*Feedback side*/

.star-rating-feedback {
    display: flex;
    font-size: 28px;
    float: right;
    margin-top: 16px
}

.feedback-container {
    height: 70px;
    width: 100%;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 10px;
    color: #333;
    background: #f5f5f5;
    border-radius: 10px;
}


    .feedback-container.active {
        background: #f5f5f5;
    }

    .feedback-container:hover {
        background: #f5f5f5;
    }

    .feedback-container img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }

    .feedback-container p {
        padding: 6px 0 3px 0;
        margin: 0;
    }

    .feedback-container a {
        color: #303030
    }

.feedback-box {
    border-bottom: 1px solid #eee;
    height: 70px;
}

    .feedback-box h4 {
        margin: 0;
        line-height: 70px;
        font-size: 24px;
    }

    .feedback-box i {
        line-height: 70px
    }

.star-rating-response {
    display: flex;
    font-size: 40px;
}

.cursor {
    cursor: default
}

.bottom-container {
    background: #fff;
    min-height: 80vh;
    padding-bottom: 100px;
}

.feedback-rating-all-box {
    height: 100%;
    width: 100%;
    border: 1px solid #ddd;
    padding: 5px;
    color: #333;
    background: #f5f5f5;
    border-radius: 10px;
    margin-bottom: 10px;
}

.star-rating-feedback-all {
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

.feedback-rating-all-box-item {
    height: 100%;
    /*border-bottom: 1px solid #ddd;*/
    padding-top: 29px;
    padding-bottom: 29px;
}

    .feedback-rating-all-box-item h3 {
        margin: 0;
        margin-bottom: 15px;
    }

.readrating h1{
    text-align: center;
    
}

.readrating h4{
    text-align: center;
}


.feedback-containerRead {
    height: 100%;
    width: 100%;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 50px;
    color: #333;
    background: #f5f5f5;
    border-radius: 10px;
}




    .feedback-containerRead img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }

    .feedback-containerRead p {
        padding: 6px 0 3px 0;
        margin: 0;
    }

    .feedback-containerRead a {
        color: #303030
    }