body {
}

img.statisticIcon {
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
    border: 1px solid #eee;
    border-radius: 50%;
    margin-top:25px
}

div.statisticsProfileText p{
    margin:0;
    padding:0
}

ul.statisticsTabs li {
    width: 12.5%;
    height: 70px
}


h1.statisticsHeadLines {
    margin-top: 0px;
    font-weight: bolder;
}

#absolute {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50%;
    height: 50%;
    background: yellow;
    display: table;
}

.centerd {

    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

