@{
    ViewData["Title"] = "Om Bestfluence";
}

<div class="footer-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h2>Online fælleskab for anmeldelser af Influencers</h2>
            </div>
        </div>
    </div>
</div>


<div class="container" style="padding-bottom: 80px">
    <div class="col-md-12 omBestfluence">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>Om Bestfluence</h1>
                </div>
            </div>
        </div>

        <div class="col-md-12 footer-text">

            <p>
                Bestfluence tager kampen op mod mobning, løgne og utroværdighed på de sociale medier. Vi har en ambition om at skabe et trygt onlinefællesskab der bygger på passion fremfor click-bait og hylde dem, som skaber det fantastiske indhold vi hver dag bruger (alt for) lang tid på at se og læse. Det er store visioner - we know. Men vi ved, at det kan lade sig gøre, for fællesskaber kan flytte bjerge.
            </p>
            <br />

            <p>Bestfluence er en platform, hvor gensidigheden er i højsædet. Seerne og læsernes meninger bliver hørt gennem den feedback de giver deres favoritinfluencere, som får et unikt indblik i, hvordan de opfattes af omverden. Vi ved, at de sociale medier har enorm indflydelse på, hvordan vi opfører os, hvad vi køber, hvor vi spiser og hvordan vi taler. Influencerne har i denne sammenhæng et kæmpe ansvar for at være gode forbilleder og det vil vi hjælpe dem med at løfte. Det hele foregår i en god tone; vi har en politik om, at bandeord og hårdt sprog ikke accepteres. Vi vil ikke længere se passivt til, mens shitstorme raser og mennesker bliver hængt ud.
            </p>
            <br />

            <p> Vi ser os selv som en del af noget større; som en del af en bevægelse - og du er velkommen til at være med. Opret dig som bruger her på siden og giv din ærlige feedback til de influencere du følger. Hjælp dem med at skabe det bedst mulige indhold til alles glæde og hjælp andre med at opdage nye, dygtige indholdsskabere.</p>
            <br />

            <p> Brugerne er ikke de eneste vi spørger til råds når det kommer til at give feedback. Vi har nedsat et super dygtigt ekspertteam, som konstant holder sig opdaterede på, hvad der sker i blogosfæren og giver deres mening til kende om de enkelte influencere. Ekspertvurderingen er en ekstra hjælp til at vurdere om en influencer er noget for dig at følge (hint hint: det er også ment som en hjælp til forældre derude, der mangler overblik over den jungle af personligheder som findes online).</p>
            <br />

            <p><b><i> Vi håber du vil være med til at bringe passionen, integriteten og varmen tilbage på de sociale medier! Det hele starter hos Bestfluence.</i></b></p>

        </div>
    </div>

    <div class="col-sm-12">
        <br /><br /><br />
        <div class="col-md-3 col-sm-6 aboutPic">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <img class="circular-square" src="~/images/pp.jpg" />
                        <p style="margin-top: 5px;"><br />Christoffer Jespersen <br />Co-founder / Developer.</p>
                        <p>Arbejdsnarkoman som ved ALT om, hvad alt om hvad det vil sige at skabe et fedt website med en optimal brugeroplevelse. Desuden er han en med hang til hip hop.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 aboutPic">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <img class="circular-square" src="~/images/pp.jpg" />
                        <p style="margin-top: 5px;"><br />Rasmus Nøhr<br /> Co-founder / Developer.</p>
                        <p>Selvom han ikke har skrevet “Sommer i Europa” har han til gengæld skrevet flere kilometer kode - og det er Bestfluence taknemmelige for. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 aboutPic">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <img class="circular-square" src="~/images/pp.jpg" />
                        <p style="margin-top: 5px;"><br />Nikolaj Skov Jespersen <br />  Co-founder.</p>
                        <p>Slavepisker og hulemand, der ofte søger ud i naturen for at finde en indre ro, vi andre hos Bestfluence sjældent får lov at se frugterne af.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 aboutPic">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <img class="circular-square" src="~/images/pp.jpg" />
                        <p style="margin-top: 5px;"><br />Cecilia Elisabeth Demant <br />  Co-Founder.</p>
                        <p>Insider i SoMe branchen og ordsmed. Hun sidder aldrig stille - til resten af teamets store frustration - og ejer desuden mere makeup end hvad godt er.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>




@Html.Partial("_FooterPartial")

