@{
    ViewData["Title"] = "Kontakt";
}

<div class="footerkontakt-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1>How can we help you?</h1>


            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="col-md-12 omBestfluence noPadding">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>Kontakt Bestfluence</h1>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-xs-12 noPadding">
            <div class="footer-text">
                <p style="text-align:center;">
                    Hos Bestfluence tager vi altid glædeligt imod ris og ros fra vores brugere og du du er derfor altid velkommen at kontakte os. Vi vil også meget gerne hjælpe dig hvad enten det er hardcore tekniske- eller helt basale spørgsmål og vi forsøger altid at vende tilbage 24 timer efter din henvendelse.
                </p>
            </div>

            <div class="col-md-offset-2 col-md-8 col-xs-12 noPadding ">
                <div class="outer">
                    <div class="middle">
                        <div class="inner">
                            <h1 style="padding-bottom:0px;">Udfyld formularen</h1>
                            <h3>Så vender vi tilbage på mail hurtigst muligt!</h3>

                        </div>
                    </div>
                </div>
                <div class="outer">
                    <div class="middle">
                        <div class="inner">

                            <input title="name" class="kontaktMail" placeholder="Navn" />
                            <input title="name" class="kontaktMail" placeholder="Email" />
                            <input title="name" class="kontaktMail" placeholder="Emne" />
                            <textarea class="kontaktMailtext" rows="8" placeholder="Tekst"></textarea>
                            <input type="submit" class="mail-button" value="Send mail" />

                        </div>
                    </div>
                </div>



            </div>

            <div class="col-md-2">

            </div>







        </div>



    </div>




</div>



<br /><br /><br />
<br /><br /><br />


@Html.Partial("_FooterPartial")