@{
    ViewData["Title"] = "FAQ";
}

<div class="col-md-12 col-sm-12 footerFAQ-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1>Der findes ingen dumme spørgsmål</h1>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 80px;">
    <div class="col-md-12 omBestfluence">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>FAQ</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="footer-text">
            <h3> Hvordan bruger jeg Bestfluence?</h3>
            <p>
                Hos Bestfluence kan du frit søge blandt alle vores influencerprofiler og læse feedback fra deres følgere. Ønsker du selv at give feedback til din influencer, skal du først oprette dig som bruger og logge ind, hvorefter du frit vil kunne give feedback til de influencere du ønsker.
            </p>
            <br />
        </div>
        <div class="footer-text">
            <h3>Hvordan tilmelder jeg mig?</h3>
            <p>
                I øverste højre hjørne trykker du på “Opret” og udfylder formularen med e-mail, navn og alder. Ønsker du at benytte Facebook eller Google til at logge ind, kan du vælge dette nederst i tilmeldingsformularen.
            </p>
            <br />
        </div>


        <div class="footer-text">
            <h3>Hvordan logger jeg ind?</h3>
            <p>
                I øverste højre hjørne trykker du på Log in, hvorefter du skal udfylde din email og adgangskode. Hvis du har tilknyttet en Facebook eller Google konto til din profil kan du nøjes med at klikke på ikonerne.
            </p>
            <br />
        </div>

        <div class="footer-text">
            <h3>Koster det noget at oprette sig hos Bestfluence?</h3>
            <p>
                Det er 100% gratis at oprette sig hos Bestfluence og bruge sitet - både for følgere og influencere.
            </p>
            <br />

        </div>
        <div class="footer-text">
            <h3>Kan jeg blive influencer?</h3>
            <p>
                Du kan hver en tid omdanne din følger-profil til en influencer-profil. Gå blot ind under konto → rediger profil → influencer og sæt din nye profil op. Du skal udfylde hvilke medier du er influencer på og linke til disse. Derudover skal du skrive lidt om dig selv som influencer.
            </p>
            <br />
        </div>
        <div class="footer-text">
            <h3>Hvordan fungerer rating-systemet?</h3>
            <p>
                Det samlede antal stjerner du giver dine yndlingsinfluencere bliver udregnet som et gennemsnit af dine ratings på alle de forskellige parametre Bestfluence beder dig tage stilling til. Den enkelte score for influencerens individuelle sociale medier bliver udregnet som et vægtet gennemsnit. Alle felter skal udfyldes før du kan give din feedback.
            </p>
            <br />
        </div>
        <div class="footer-text">
            <h3>Hvor ofte kan jeg give feedback?</h3>
            <p>
                Du kan sagtens anmelde den samme influencer flere gange og du kan skrive en ny anmeldelse efter 24 timer.
            </p>
            <br />
        </div>
    </div>
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <form asp-controller="footer" asp-action="Contact">
                    <div class="faq-kontakt">
                        <h3>Har du yderligere spørgsmål, så kan du skrive til Bestfluence her:</h3>
                        <input type="submit" class="kontakt-button" value="Kontakt Bestfluence">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_FooterPartial")