@{
    ViewData["Title"] = "FAQ";
}

<div class="col-md-12 col-sm-12 footer-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h2>Online fælleskab for anmeldelser af Influencers</h2>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 80px;">
    <div class="col-md-12 omBestfluence">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>FAQ</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="footer-text">
            <h3> Hvordan bruger jeg Bestfluence?</h3>
            <p>
                Hos Bestfluence starter kan du frit søge blandt alle vores profiler og læse feedback fra fans og eksperter på udvalgte parametre. Ønsker du selv at skrive feedback til din influencer, skal du først logge ind i øverste menu hvorefter du kan give feedback
            </p>
            <br /><br />
        </div>
        <div class="footer-text">
            <h3>Hvordan tilmelder jeg mig?</h3>
            <p>
                I øverste højre hjørne trykker du på Tilmeld og udfylder formularen med email, navn og alder. Ønsker du at benytte Facebook eller Google til at logge ind, kan du vælge dette nederst i tilmeldingsformularen.
            </p>
            <br /><br />
        </div>


        <div class="footer-text">
            <h3>Hvordan logger jeg ind?</h3>
            <p>
                I øverste højre hjørne trykker du på login, hvorefter du skal udfylde din mail og adgangskode. Hvis du har tilknyttet en Facebook eller Google konto til din profil kan du nøjes med at klikke på ikonerne.
            </p>
            <br /><br />

        </div>

        <div class="footer-text">
            <h3>Koster det noget at oprette sig hos Bestfluence?</h3>
            <p>
                Det er 100% gratis at oprette sig hos Bestfluence og bruge sitet - både for fans og influencers.
            </p>
            <br /><br />

        </div>
        <div class="footer-text">
            <h3>Kan jeg blive influencer?</h3>
            <p>
                Du kan hver en tid omdanne din fan-profil til en influencer-profil. Bestfluence vil gerne gøre det muligt for alle at følge deres drøm om at blive influencer. Gå blot ind under Konto → Rediger profil → Influenter og sæt din nye profil op. Du kan altid skifte tilbage til en fan-konto, hvis du ønsker.
            </p>
            <br /><br />
        </div>
        <div class="footer-text">
            <h3>Hvordan fungerer rating-systemet?</h3>
            <p>
                Det samlede antal stjerner du giver dine yndlingsinfluencere bliver udregnet på baggrund af et gennemsnit af dine ratings på alle de forskellige parametre. Har du kun udfyldt nogle af de forskellige parametre, tæller de uudfyldte felter stadig med som 0, for at give en mere retfærdig anmeldelse og forebygge snyd.
            </p>
            <br /><br />
        </div>
        <div class="footer-text">
            <h3>Hvor ofte kan jeg anmelde?</h3>
            <p>
                Du kan sagtens anmelde den samme influencer flere gange og du får mulighed for at skrive en ny anmeldelse, når influenceren har lagt nyt indhold op på sin primære kanal. Hvis du har mere end en score, vil disse blive vægtet således der ikke kan opstå snyd f.eks. vil 2 score fra samme person ikke tælle det samme som 2 andre personers feedback.
            </p>
            <br /><br />
        </div>
        <div class="footer-text">
            <h3>Hvem er eksperterne?</h3>
            <p>
                Vores ekspertteam er en samling af dygtige fagfolk inden for fagområderne journalistik, psykologi og social media-forskning. De giver deres vurdering af de største influencers for at skabe objektivitet på sitet. Læs mere om vores eksperter her.
            </p>
            <br /><br />
        </div>
        <div class="footer-text">
            <h3>Er jeg sikker på, at eksperterne er objektive?</h3>
            <p>
                Eksperterne som udtaler sig om de største influencers er objektive. De kender ikke de anmeldte influencers personligt og har intet at vinde ved at give hhv. gode eller dårlige anmeldelser. Bestfluence sørger desuden for, at eksperternes anmeldelser jævnligt opdateres så de giver et retvisende billede af influencerne. Vi mener, at tvivlen skal kunne komme folk til gode og det gør eksperterne også - derfor er de altid klar til at give folk en ny chance for at få en bedre anmeldelse.
            </p>
        </div>
    </div>
</div>


@Html.Partial("_FooterPartial")