@{
    ViewData["Title"] = "FAQ";
}

<div class="col-md-12 col-sm-12 footerFAQ-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1>Der findes ingen dumme spørgsmål</h1>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 80px;">
    <div class="col-md-12 omBestfluence">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>FAQ</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="footer-text">
            <h3> Hvordan bruger jeg Bestfluence?</h3>
            <p>
                Hos Bestfluence kan du frit søge blandt alle vores infuencerprofiler og læse feedback fra følgere og eksperter på udvalgte parametre.<br /> Ønsker du selv at skrive feedback til din influencer, skal du først logge ind i øverste menu hvorefter du kan give feedback.
            </p>
            <br />
        </div>
        <div class="footer-text">
            <h3>Hvordan tilmelder jeg mig?</h3>
            <p>
                I øverste højre hjørne trykker du på Opret. Her kan du vælge mellem Facebook, Google eller manuelt oprettelse. 
            </p>
            <br />
        </div>


        <div class="footer-text">
            <h3>Hvordan logger jeg ind?</h3>
            <p>
                I øverste højre hjørne trykker du på Log in, hvorefter du skal udfylde din email og adgangskode. Hvis du har tilknyttet en Facebook eller Google konto til din profil kan du nøjes med at klikke på ikonerne.
            </p>
            <br />

        </div>

        <div class="footer-text">
            <h3>Koster det noget at oprette sig hos Bestfluence?</h3>
            <p>
                Det er 100% gratis at oprette sig hos Bestfluence og bruge sitet - både for følgere og influencere.
            </p>
            <br />

        </div>
        <div class="footer-text">
            <h3>Kan jeg blive influencer?</h3>
            <p>
                Du kan til hver en tid omdanne din følger-profil til en influencer-profil. Bestfluence vil gerne gøre det muligt for alle at følge deres drøm om at blive influencer. Gå ind under din Konto → Rediger profil → Vælg Influencer og sæt din nye profil op. 
            </p>
            <br />
        </div>
        <div class="footer-text">
            <h3>Hvordan fungerer rating-systemet?</h3>
            <p>
                Den samlede rating, der gives til en influencer, bliver udregnet på baggrund af gennemsnittet, af de forskellige parametre der er givet. Alle parametrene skal være udfyldt, før at der kan gives en samlet rating. 
            </p>
            <br />
        </div>
        <div class="footer-text">
            <h3>Hvor ofte kan jeg give feedback?</h3>
            <p>
               Det er muligt at give feedback til en influencer hver 24 time.
            </p>
            <br />
        </div>
        <div class="footer-text">
            <h3>Hvem er eksperterne?</h3>
            <p>
                Vores ekspertteam er en samling af dygtige fagfolk inden for fagområderne journalistik, psykologi og social media-forskning. De giver deres vurdering af de største influencere for, at skabe objektivitet på siden.
            </p>
            <br />
        </div>
        <div class="footer-text">
            <h3>Er jeg sikker på, at eksperterne er objektive?</h3>
            <p>
                Eksperterne som udtaler sig om de største influencere er objektive. De kender ikke de anmeldte influencere personligt og har intet at vinde ved at give hhv. god eller dårligt feedback. Bestfluence sørger desuden for, at eksperternes feedback jævnligt opdateres så de giver et retvisende billede af influencerne. Vi mener, at tvivlen skal kunne komme folk til gode og det gør eksperterne også - derfor er de altid klar til at give folk en ny chance for at få en bedre feedback.
            </p>
        </div>
    </div>
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <form asp-controller="footer" asp-action="Contact">
                    <div class="faq-kontakt">
                        <h3>Har du yderligere spørgsmål, så kan du skrive til Bestfluence her:</h3>
                        <input type="submit" class="kontakt-button" value="Kontakt Bestfluence">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_FooterPartial")