@{
    ViewData["Title"] = "FAQ";
}

<div class="col-md-12 col-sm-12 footerFAQ-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1>Der findes ingen dumme spørgsmål</h1>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 80px;">
    <div class="col-md-12 omBestfluence">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>FAQ</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="footer-text">
            <h3> Hvordan bruger jeg Bestfluence?</h3>
            <p>
                 Hos Bestfluence kan du frit søge blandt alle vores influencerprofiler og læse feedback fra deres følgere. Ønsker du selv at give feedback til din influencer, skal du først oprette dig som bruger, hvorefter du kan give feedback til de influencere du ønsker.
            </p>
            <br />
        </div>
        <div class="footer-text">
            <h3>Koster det noget at oprette sig hos Bestfluence?</h3>
            <p>
                Det er 100% gratis at oprette sig hos Bestfluence og bruge sitet - både for følgere og influencere.            
            </p>
            <br />
        </div>
        <div class="footer-text">
            <h3>Hvordan tilmelder jeg mig?</h3>
            <p>
                I øverste højre hjørne trykker du på “Opret” og vælger om du vil oprettes med Facebook, Google eller email. Derefter skal du udfylde formularen med profiltype, navn, e-mail, fødselsdag, postnummer, kodeord, køn og acceptere vores Vilkår & Betingelser og Persondatapolitik. Bemærk at du ikke behøver at skrive kodeord ved oprettelse med Facebook og Google, da du i fremtiden logger ind gennem deres hjemmesider.
            </p>
            <br />
        </div>
        <div class="footer-text">
            <h3>Hvordan logger jeg ind?</h3>
            <p>
                I øverste højre hjørne trykker du på ”Log ind” og vælger den metode som du oprettede dig med: Facebook, Google eller e-mail. Vælges e-mail skal denne og dit kodeord skrives. 
            </p>
            <br />
        </div>
        <div class="footer-text">
            <h3>Hvordan giver jeg feedback?</h3>
            <p>
                Når du har fundet en influencer, hvis indhold du har set, skal du klikke på ”Giv feedback” og logge ind. Herefter skal du tage stilling til hvilke sociale medier du baserer din feedback på og efterfølgende rate influenceren fra 1-5 på parametrene: troværdighed, opførsel, kvalitet og interaktion. Derefter skal du uddybe din rating ved først at give feedback på det influenceren gør godt og derefter, hvad som kan gøres bedre. Til sidst skal du tage stilling til om du vil anbefale influenceren til andre og trykke ”Send svar”.    
            </p>
            <br />
        </div>
        <div class="footer-text">
            <h3>Hvor ofte kan jeg give feedback?</h3>
            <p>
                Du kan give feedback til den samme influencer igen efter 24 timer. 
            </p>
            <br />
        </div>
        <div class="footer-text">
            <h3>Hvordan fungerer rating-systemet?</h3>
            <p>
                Det samlede antal stjerner du giver dine influencere bliver udregnet som et gennemsnit af dine ratings på de forskellige parametre: troværdighed, opførsel, kvalitet og interaktion. Influencerens samlede score er et vægtet gennemsnit af alle dem som har givet feedback.  
            </p>
            <br />
        </div>
        <div class="footer-text">
            <h3>Hvad vil det sige at være influencer hos Bestfluence?</h3>
            <p>Vores definition på en influencer fra vores retningslinjer er:</p>
            <p><i>Du har mindst én profil på sociale medier og/eller en blog, hvor du regelmæssigt ligger <br> indhold op med henblik på at inspirere, underholde, berige eller informere andre.</i></p>
            <p>Vi kigger altså ikke på hvor mange følgere du har eller på antallet af dine sociale medier, men derimod på dit motiv for at være influencer.</p>
            <br />
        </div>
        <div class="footer-text">
            <h3>Hvordan opretter jeg en influencerprofil?</h3>
            <p>
                Du kan hver en tid omdanne din følger-profil til en influencer-profil. Gå blot ind under Konto → Bliv influencer og sæt din nye profil op. Du skal udfylde dit alias, dine kategorier og de sociale medier du er influencer på. Derudover skal du skrive lidt om dig selv som influencer, så andre kan danne sig et indtryk af dit indhold. 
            </p>
            <br />  
        </div>
        <div class="footer-text">
            <h3>Hvor lang tid går der før min influencerprofil bliver godkendt?</h3>
            <p>
                Vi bruger op til 24 timer på at kigge din profil igennem og godkende denne, således at vores brugere får den bedste oplevelse hos Bestfluence. 
            </p>
            <br />
        </div>
    </div>
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <form asp-controller="footer" asp-action="Contact">
                    <div class="faq-kontakt">
                        <h3>Har du yderligere spørgsmål, så kan du skrive til Bestfluence her:</h3>
                        <input type="submit" class="kontakt-button" value="Kontakt Bestfluence">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_FooterPartial")