<div class="footer-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
               
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 80px;">
    <div class="col-md-12 omBestfluence">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>Feedback og Svar</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-text">

        <p>Bestfluence har et mål om at det skal være sjovt at give, læse og modtage feedback for følgere og influencere. I denne artikel vil vi hjælpe dig med at gøre din feedback konstruktiv og brugbar, så vi alle kan få glæde af kvalitetsindhold i fremtiden.</p>

        <h2>
            Inden du giver din feedback
        </h2>
        <p>Det er vigtigt at din feedback tager udgangspunkt i egne meninger og oplevelser med en influencer og dennes indhold, således at feedbacken kan sættes i rette kontekst. Egne oplevelser inkluderer minimum et af følgende punkter:</p>

        <ul>
            <li>Du har set influenceren og dennes indhold jævnligt, men uden nødvendigvis at være fast følger </li>
            <li>Du følger, subscriber, liker eller på anden måde er en del af influencerens sociale medier </li>
            <li>Du har mødt influenceren offentligt, hvor vedkommende agerede som influencer og således ikke som privatperson </li>
        </ul>

        <p>Ved at klikke på influencerens sociale medier på deres Bestfluenceprofil, kan du komme i gang med at lære influenceren og dennes indhold bedre at kende, så du kan kvalificeres til at give feedback.</p>

        <h2>
            Feedbackens opbygning og råd til hvordan du giver en god feedback
        </h2>
        Feedbacken er delt op i fire dele, hvor hver del bidrager til at gøre din feedback konstruktiv og brugbar for influenceren og andre følgere. <br>
        <br>
        Første del handler om hvilke sociale medier du giver feedback ud fra, således at influenceren kan konkretisere feedbacken. Der kan være kæmpe forskel på f.eks. sprog og kvalitet på tværs af medierne, så det er vigtigt at vælge de medier resten af din feedback bygger på. <br>
        <br>
        Anden del handler om at vurdere influenceren med stjerner fra 1-5 på parametrene troværdighed, opførsel, kvalitet og interaktion. Det kan være svært for influenceren at forstå resten af feedbacken og vide om det er troværdigheden eller kvaliteten der skal arbejdes på. Sørg derfor for at afkrydse så præcist du kan. <br>
        <br>
        Tredje del handler om at fortælle influenceren hvad vedkommende gør godt og hvad der kan gøres bedre. Da feedbacken ikke er tænkt som en tråd, er det vigtigt du sætter dig i influencerens sted når du giver vedkommende din feedback, således at der ikke opstår misforståelser. Sørg for at være konkret, give eksempler og referere til ting, det er muligt at ændre. <br>
        <br>
        Fjerde del handler om i hvilken grad du vil anbefale influenceren til andre. Dette punkt er tænkt til andre følgere og de har derfor brug for at få overblik over om influenceren og dennes indhold er værd at følge. <br>
        <br>
        Når du har udfyldt ovenstående er din feedback klar til at blive offentliggjort og influenceren kan svare på sin modtagne feedback. Husk på at du kan læse din feedback under Min feedback og at du kan give samme influencer feedback igen efter 24 timer.

        <h2>
            Svar på feedback
        </h2>
        Når du modtager feedback som influencer kan du finde denne under Min feedback. Her har du mulighed for at svare og lade følgeren vide hvad du mener om feedbacken. Hver gang du læser en feedback, kan følgeren se at denne er blevet læst, hvilket i sig selv betyder en del for følgeren. Vi anbefaler dog altid at man svare på feedback, således at andre følgere kan lære dig bedre at kende.
    </div>
</div>

    @Html.Partial("_FooterPartial")
