@{
    ViewData["Title"] = "Forældre";
}

<div class="footer-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h2>Online fælleskab for anmeldelser af Influencers</h2>


            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 80px;">
    <div class="col-md-12">
        <br /><br /><br />

        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h3>Hvad kan Bestfluence gøre for mig som forælder?</h3>
                    <p>
                        Bestfluence kan agere værktøj for dig som ønsker at skabe sig et overblik over, hvilke personligheder dit barn følger online.<br /> Vi bestræber os på at give objektive vurderinger af de største profiler og en hurtig sammenfatning af deres indhold.<br /> Desuden giver vi vores bud på en eventuel aldersbegrænsning hos de forskellige personligheder,<br /> såfremt deres indhold omhandler emner uegnet for mindre børn eller groft sprog.<br /> Vi håber at kunne være udgangspunkt for samtaler med dit barn om emner som god internetetik, onlinemobning og sprogbrug.
                    </p>
                </div>
            </div>
        </div>

        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h3>Hvordan bruger jeg Bestfluence?</h3>
                    <p>
                        Du kan frit klikke rundt her på siden for at se de forskellige onlinepersonligheders - dem, vi kalder influencers - vurderinger.<br /> Brug søgefunktionen for at finde frem til specifikke influencers ved at indtaste deres navn eller alias, eller kig på hele segmenter af influencers som en helhed.<br /> Deres profiler giver direkte links til de platforme hvorpå de er aktive, så du hurtigt selv kan orientere dig i deres indhold.
                    </p>
                    <br /><br /><br /><br />
                    <p style="font-size: 15px;">
                        <b>
                            Har du yderligere interesse i emner som god internet etik, hvad du skal være opmærksom på online og hvordan man kan bekæmpe online mobning<br /> så besøg vores blog her.<br /> Der finder du en masse gode indlæg om netop disse emner.
                        </b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="col-md-12">
        <div class="col-md-3 footer-area">
            <h4><b>OM BESTFLUENCE</b></h4>
            <ul>
                <li><a asp-controller="Footer" asp-action="About">Om Bestfluence</a></li>
                <li><a asp-controller="Footer" asp-action="Presse">Presse</a></li>
                <li><a asp-controller="Footer" asp-action="Job">Job</a></li>
                <li><a asp-controller="Footer" asp-action="Blog">Blog</a></li>
                <li><a asp-controller="Footer" asp-action="Kontakt">Kontakt os</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-area">
            <h4><b>FANS OG INFLUENTERS</b></h4>
            <ul>
                <li><a asp-controller="Footer" asp-action="How">Sådan virker det</a></li>
                <li><a asp-controller="Footer" asp-action="Forældre">Forældre</a></li>
                <li><a asp-controller="Footer" asp-action="FAQ">FAQ</a></li>
                <li><a asp-controller="Footer" asp-action="Kommunikation">God kommunikation</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-area">
            <h4><b>VIRKSOMHEDER</b></h4>
            <ul>
                <li><a href="#">Markedføring</a></li>
                <li><a href="#">Find en influenter</a></li>
                <li><a href="#">Ambasadør</a></li>
            </ul>
        </div>

        <div class="col-md-3 footer-area">
            <a href="http://www.facebook.com/" target="_blank" class="fa fa-footer fa-facebook fa-facebook-footer"></a>
            <a href="http://www.instagram.com/" target="_blank" class="fa fa-footer fa-instagram fa-instagram-footer"></a>
            <a href="http://www.youtube.com/" target="_blank" class="fa fa-footer fa-youtube fa-youtube-footer"></a>
            <a href="http://www.twitter.com/" target="_blank" class="fa fa-footer fa-twitter fa-twitter-footer"></a>
            <ul>
                <li><a href="#">Vilkår og betingelser</a></li>
                <li><a href="#">Persondatapolitik</a></li>
                <li><a href="#">Retningslinjer for brugere</a></li>
            </ul>

        </div>

    </div>
</footer>
