@{
    ViewData["Title"] = "Forældre";
}

<div class="navbar-allaround">
</div>

<div class="footer-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h2>Online fælleskab for anmeldelser af Influencers</h2>


            </div>
        </div>
    </div>
</div>




<br /><br /><br />
<br /><br /><br />
<br /><br /><br />
<br /><br /><br />


<footer>
    <div class="col-md-12">
        <div class="col-md-3 footer-area">
            <h4><b>OM BESTFLUENCE</b></h4>
            <ul>
                <li><a asp-controller="Footer" asp-action="About">Om Bestfluence</a></li>
                <li><a asp-controller="Footer" asp-action="Presse">Presse</a></li>
                <li><a asp-controller="Footer" asp-action="Job">Job</a></li>
                <li><a asp-controller="Footer" asp-action="Blog">Blog</a></li>
                <li><a asp-controller="Footer" asp-action="Kontakt">Kontakt os</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-area">
            <h4><b>FANS OG INFLUENTERS</b></h4>
            <ul>
                <li><a asp-controller="Footer" asp-action="How">Sådan virker det</a></li>
                <li><a asp-controller="Footer" asp-action="Forældre">Forældre</a></li>
                <li><a asp-controller="Footer" asp-action="FAQ">FAQ</a></li>
                <li><a asp-controller="Footer" asp-action="Kommunikation">God kommunikation</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-area">
            <h4><b>VIRKSOMHEDER</b></h4>
            <ul>
                <li><a href="#">Markedføring</a></li>
                <li><a href="#">Find en influenter</a></li>
                <li><a href="#">Ambasadør</a></li>
            </ul>
        </div>

        <div class="col-md-3 footer-area">
            <a href="http://www.facebook.com/" target="_blank" class="fa fa-footer fa-facebook fa-facebook-footer"></a>
            <a href="http://www.instagram.com/" target="_blank" class="fa fa-footer fa-instagram fa-instagram-footer"></a>
            <a href="http://www.youtube.com/" target="_blank" class="fa fa-footer fa-youtube fa-youtube-footer"></a>
            <a href="http://www.twitter.com/" target="_blank" class="fa fa-footer fa-twitter fa-twitter-footer"></a>
            <ul>
                <li><a href="#">Vilkår og betingelser</a></li>
                <li><a href="#">Persondatapolitik</a></li>
                <li><a href="#">Retningslinjer for brugere</a></li>
            </ul>

        </div>

    </div>
</footer>
