@{
    ViewData["Title"] = "Job";
}

<div class="footerjob-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1>Bliv en del af Bestfluence</h1>


            </div>
        </div>
    </div>
</div>


<div class="container" style="padding-bottom: 80px">
 

    <div class="col-sm-12">
        <br /><br /><br />
        <div class="col-sm-6">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <img class="circular-square job" src="~/images/programing.jpeg" />
                        <h3 style="margin-top: 5px;"><br />Bliv en del af vores udviklingsteam</h3>
                        <p style="line-height: 150%;">Er du en haj til at programmere, et kreativt geni med speciale i brugeroplevelser eller kan du slet ikke stoppe med at få idéer til hvordan Bestfluence skal se ud i fremtiden, så er du meget velkommen til, at sende en mail til Job@bestfluence.dk</p>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <img class="circular-square job" src="~/images/kommunikation.jpeg" />
                        <h3 style="margin-top: 5px;"><br />Bliv en del af vores businessteam </h3>

                        <p style="line-height: 150%;">Kan du sælge is på Nordpolen, ved du hvad brugerne vil have eller har du mod og kræfter på at få vores koncept ud til verdens hjørner, så er du meget velkommen til at sende en mail til Job@bestfluence.dk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_FooterPartial")