@{
    ViewData["Title"] = "Job";
}

<div class="footerjob-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1>Join our team</h1>


            </div>
        </div>
    </div>
</div>


<div class="container" style="padding-bottom: 80px">
 

    <div class="col-sm-12">
        <br /><br /><br />
        <div class="col-sm-6">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <img class="circular-square job" src="~/images/programing.jpeg" />
                        <h3 style="margin-top: 5px;"><br />Bliv en del af vores udviklingsteam</h3>
                        <p><br />Skriv en mail til Job@bestfluence.dk</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <img class="circular-square job" src="~/images/kommunikation.jpeg" />
                        <h3 style="margin-top: 5px;"><br />Bliv en del af vores businessteam </h3>
                        <p><br />Skriv en mail til Job@bestfluence.dk</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_FooterPartial")