@{
    ViewData["Title"] = "God kommunikation";
}

<div class="footer-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h2>Online fælleskab for anmeldelser af Influencers</h2>


            </div>
        </div>
    </div>
</div>


<div class="container" style="padding-bottom: 100px;">
    <div class="col-md-12 omBestfluence">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>Bestfluence - Blog</h1>

                </div>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_FooterPartial")