@{
    ViewData["Title"] = "Forældre";
}

<div class="footer-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1>Tid til at engagere dig!</h1>


            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 80px;">
    <div class="col-md-12 omBestfluence">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>Forældre</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="footer-text">
            <h3>Hvad kan Bestfluence gøre for mig som forælder?</h3>
            <p>
                Bestfluence kan agere værktøj for dig som ønsker at skabe sig et overblik over, hvilke personligheder dit barn følger online. Vi bestræber os på at give objektive vurderinger af de største profiler og en hurtig sammenfatning af deres indhold. Desuden giver vi vores bud på en eventuel aldersbegrænsning hos de forskellige personligheder, såfremt deres indhold omhandler emner uegnet for mindre børn eller groft sprog. Vi håber at kunne være udgangspunkt for samtaler med dit barn om emner som god internetetik, onlinemobning og sprogbrug.
            </p>
        </div>
        <br />
        <div class="footer-text">
            <h3>Hvordan bruger jeg Bestfluence?</h3>
            <p style="padding-bottom: 40px;">
                Du kan frit klikke rundt her på siden for at se de forskellige onlinepersonligheders - dem, vi kalder influencere - vurderinger. Brug søgefunktionen for at finde frem til specifikke influencere ved at indtaste deres navn eller alias, eller kig på hele segmenter af influencere som en helhed. Deres profiler giver direkte links til de platforme hvorpå de er aktive, så du hurtigt selv kan orientere dig i deres indhold.
            </p>

            <p style=" font-size: 15px;">
                <b>
                    Har du yderligere interesse i emner som god internet etik, hvad du skal være opmærksom på online og hvordan man kan bekæmpe online mobning så besøg vores kommende blog. Der finder du en masse gode indlæg om netop disse emner.
                </b>
            </p>
        </div>
    </div>
</div>

@Html.Partial("_FooterPartial")
