@{
    ViewData["Title"] = "Presse";
}

<div class="footer-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h2>Hvad har pressen skrevet om Bestfluence</h2>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 80px;">
    <div class="col-md-12 omBestfluence">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>Bestfluence i pressen</h1>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="outer">
                <div class="middle">
                    <div class="inner">                        
                        <img class="img-Presse" src="~/images/Jyllandsposten.png" style="width:250px"> 
                        <p><br /> Her kan du læse om Bestfluense i JyllandsPosten <br /></p>
                    </div>
                </div>
            </div>            
        </div>

        <div class="col-md-4">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <img class="img-Presse" src="~/images/Jyllandsposten.png" style="width:250px">
                        <p><br /> Her kan du læse om Bestfluense i JyllandsPosten</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="outer">
                <div class="middle">
                    <div class="inner">
                        <img class="img-Presse" src="~/images/Jyllandsposten.png" style="width:250px">
                        <p><br /> Her kan du læse om Bestfluense i JyllandsPosten</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_FooterPartial")