@{
    ViewData["Title"] = "Persondatapolitik";
}

<div class="footerPrivacy-img">
</div>

<div class="container" style="padding-bottom: 80px">
    <div class="col-md-12 omBestfluence">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>Persondatapolitik</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-guidelines">

        <h3>
            PERSONDATAPOLITIK (AUGUST 2017)
        </h3>
        Følgende persondatapolitik (herefter ”Persondatapolitik”) informerer dig om hvordan Bestfluence behandler dine persondata. Ved at benytte Bestfluence.dk (Herefter ”Website”) acceptere du at vi indsamler data på dig som beskrevet i Persondatapolitikken.
        <br>
        <br>

        Hvis du har spørgsmål eller betænkeligheder vedrørende vores Politik, hvordan vi behandler dine personlige oplysninger, eller gerne vil have os til at rette dine personlige oplysninger, bedes du kontakte os på: <br> <br>
        Bestfluence <br>
        Baunehøjvej 7, st. tv. <br>
        2800 Kgs. Lyngby <br>
        26274514 <br>
        support@bestfluence.com <br>
        bestfluence.dk <br>
        CVR: 38803166 <br> <br>


        <ol>
            <li>
                <b>Typer af oplysninger vi indsamler og hvad vi bruger dem til</b> <br>
                Vi anvender data om dig for at gøre vores service bedre og sikre kvalitet i vores produkter og tjenester samt i vores kontakt med dig. <br>
                De data, vi anvender, omfatter:
                <br> <br>

                <ol>
                    <li> Almindelige persondata </li>
                    Når du opretter en profil, indsamler vi følgende data om dig - Navn, email, adgangskode, fødselsdag, postnummer, køn og profilbillede.
                    <br>
                    Hvis du opretter en influencerprofil, indsamler vi udover ovenstående også dit telefonnummer.
                    <br>
                    <br>

                    <li> Andre data </li>
                    Vi opsamler din profiltekst og for influencerprofilen også alias og de tilhørende kategorier og sociale medier.
                    <br>
                    <br>

                    <li> Oplysninger i feedback og rating samt svar til denne </li>
                    Når du giver feedback til en influencer eller svarer på feedback fra en følger, indsamler vi også de oplysninger du medtager i din feedback og svar, såsom - Hvilken type influencer du giver feedback, hvilke platforme du baserer din feedback på, din vurdering af influenceren på baggrund af din rating og datoen for din feedback samt svar på denne.
                    <br>
                    <br>

                    <li> Oplysninger fra andre tjenester, herunder sociale netværk </li>
                    Hvis du vælger at tilknytte dine sociale netværk såsom Facebook eller Google, kan vi automatisk indsamle følgende oplysninger, hvis dine profilindstillinger tillader det - Navn eller brugernavn, email, køn, fødselsdato, profilbillede, dine sociale forbindelser og andre tilgængelige offentlige oplysninger.
                    <br>
                    Når du tilkobler Bestfluence med dine sociale netværk, vil du af disse blive informeret om hvilke oplysninger der viderebringes og kan vælge at acceptere eller afvise disse, inden oplysningerne er os i hænde.
                    <br>
                    <br>

                    <li> Cookies </li>
                    Websitet bruger cookies. Cookies er digitale oplysninger, som gemmes på din computer. Cookies identificerer din computer i stedet for dig som en individuel bruger, og anvendes til forskellige formål. Læs mere om cookies i punkt 5.
                    <br>
                    <br>

                    <li> Oplysninger fra tilmelding til nyhedsbrev </li>
                    Vi indsamler navn og email ved tilmelding til nyhedsbrev. Hvis du ikke længere ønsker at være tilmeldt, kan du afmelde dig i dine indstillinger.
                    <br>
                    <br>

                    <li>
                        Sådan bruger vi dine oplysninger <br>
                        Vi kan bruge de oplysninger du giver os til at:
                        <ol>
                            <li> Levere vores tjenester til dig, herunder vise din profil, feedback eller svar og give dig adgang til vores Website. </li>
                            <li> Identificere dig som en registreret bruger, når du logger ind på Website. </li>
                            <li> Kontrollere legitimiteten af feedback og ratings samt svar dertil. </li>
                            <li> Forbedre Website og vores tjenester. </li>
                            <li> Invitere dig til at skrive flere feedback. </li>
                            <li> Svare på dine spørgsmål og levere relateret kundeservice. </li>
                            <li> Kontakte dig, hvis din feedback markeres af andre brugere. </li>
                            <li> Sende dig vores nyhedsbreve. </li>
                            <li> Informere dig, når andre brugere finder din feedback nyttig, eller på anden måde give feedback i forhold til din feedback. </li>
                            <li> Udføre diverse interne forretningsformål, såsom dataanalyse, revisioner, monitorering og forebyggelse af misbrug, udvikling af nye produkter og tjenester, forbedre eller ændre Website eller vores tjenester, identificere brugstendenser, bestemme effektiviteten af vores reklamekampagner, samt drive og udvide vores forretningsaktiviteter. </li>
                            <li> Overholde gældende lovkrav og juridisk proces, efterkomme anmodninger fra offentlige og statslige myndigheder, samt overholde relevante branchestandarder og vores interne politikker. </li>
                            <li> Håndhæve vores Vilkår og Betingelser. </li>
                            <li> Beskytte vores forretningsaktiviteter eller dem tilhørende ethvert af vores associerede selskaber. </li>
                            <li> Beskytte vores rettigheder, personlige oplysninger, sikkerhed eller ejendom og/eller dem tilhørende vores associerede selskaber, dig eller andre. </li>
                        </ol>
                    </li>
                    Vi kan også bruge oplysningerne på andre måder, og vil levere specifik meddelelse herom på indsamlingstidspunktet. Vi kan bruge eller videregive oplysninger, der ikke er personlige oplysninger, til ethvert formål i det omfang tilladt ved gældende lov.
                    <br>
                </ol>
            </li>
            <br>

            <li>
                <b> Videregivelse af personlige oplysninger </b>
                <br>
                <ol>

                    <li> Videregivelse af personlige oplysninger på Websitet </li>
                    Din accept af denne Politik indebærer også samtykke til at videregive oplysninger om dig på Websitet. Videregivelsen af dine personlige oplysninger inkluderer:
                    <br>
                    <br>

                    Almindelige persondata
                    <br>
                    Når du opretter en profil, vil dit navn, køn og alder være synligt for andre brugere af Websitet.
                    <br>
                    <br>

                    Andre oplysninger
                    <br>
                    Andre oplysninger, der gives af dig på Websitet, herunder fotos og feedback, gøres automatisk synlige på Websitet. De influencere, som du giver feedback kan også modtage oplysninger om din rating. Din profiltekst vil også være synlig for andre brugere og for influencerprofilen vil alias, kategorier og sociale medier være ligeså.
                    <br>
                    <br>

                    Sociale Netværk
                    <br>
                    Hvis du forbinder til et socialt netværk, vil oplysninger såsom dit profilbillede, dit navn, fødselsår blive indsamlet fra din sociale netværksprofil og brugt til at identificere dig på Websitet. Med forbehold for privatindstillinger og niveauet af oplysninger, der er tilgængelige fra det sociale netværk, kan brugere af Websitet bruge disse oplysninger til at identificere, hvilke feedback du har skrevet.
                </ol>
            </li>
            <br>


            <li>
                <b> Dataansvarlig </b>
                <ol>
                    <li>Oplysninger, som vi er dataansvarlige for </li>
                    Vi er den dataansvarlige for almindelige persondata, som du indtaster i forbindelse med din oprettelse af en profil, som omfatter, men ikke er begrænset til dit navn, din adgangskode og e-mailadresse.
                    <br>
                    Danske databeskyttelseslove regulerer Bestfluences indsamling af data.
                    <br>
                    <br>

                    <li> Oplysninger, som du er dataansvarlig for </li>
                    Du er den dataansvarlige for det indhold, som du vælger at offentliggøre på Websitet, og for de oplysninger, der videregives, når du forbinder din(e) sociale netværk med din profil på Websitet.
                </ol>
            </li>
            <br>


            <li> <b> Sikkerhedsforanstaltninger </b> </li>
            Vi søger at anvende rimelige organisatoriske, tekniske og administrative foranstaltninger for at beskytte dine personlige oplysninger i vores organisation, og vi reviderer jævnligt vores system for sårbarheder. Men da internettet ikke er et 100 % sikkert miljø, kan vi ikke sikre eller garantere sikkerheden af oplysninger, som du sender til Bestfluence. Emails, der sendes via Websitet, er ikke krypteret, og vi råder dig derfor til ikke at inkludere fortrolige oplysninger i dine e-mails til os.
            <br>
            <br>

            <li>
                <b> Cookies </b> <br>
                Websitet bruger cookies og lignende teknologier ("Cookies"). Ved at bruge vores Websitet accepterer du, at vi bruger Cookies som beskrevet nedenfor.
                <br>

                <ol>
                    <li> Hvad er Cookies? </li>
                    Cookies er små stykker information, som Websitet placerer på din computers harddisk, på din tablet eller på din smartphone. Cookies indeholder oplysninger, som Websitet bruger til at gøre kommunikationen mellem dig og din webbrowser mere effektiv. Cookies identificerer din computer i stedet for dig som en individuel bruger.
                    <br>
                    <br>

                    <li>
                        Hvad bruger vi Cookies til? <br>
                        Vi bruger Cookies til:
                        <ol>
                            <li> Generering af statistic </li>
                            <li> Monitorering af Websitets ydeevne og din brug af vores Website </li>
                            <li> Godkendelse samt forbedring af funktionaliteten af vores Website </li>
                            <li> Forbinde dig til sociale netværk </li>
                            <li> Kvalitetssikring </li>
                            <li> Målrettede announcer </li>
                        </ol>
                    </li>
                    Hvis ikke du ønsker at gemme Cookies kan du indstille din browser til dette.
                </ol>
            </li>
            <br>


            <li>
                <b> Adgang, rettelse og sletning </b>
                <br>

                <ol>
                    <li> Adgang til oplysninger om dine personlige oplysninger </li>
                    På din anmodning, vil vi informere dig om det formål, til hvilket vi behandler dine personlige oplysninger, hvilke personlige oplysninger, vi har om dig, hvem, der modtager dine personlige oplysninger, og hvorfra de personlige oplysninger stammer.
                    <br>
                    <br>

                    <li> Rettelse og sletning af dine personlige oplysninger </li>
                    Du bedes informere os, hvis nogen af de personlige oplysninger, som vi, som den dataansvarlige, behandler om dig, er urigtige eller vildledende, og så vil vi rette dem. Du vil selv kunne rette de fleste af disse oplysninger på vores Website. Hvis det er muligt, anbefaler vi, at du selv retter dine oplysninger.
                    <br>
                    <br>

                    Du kan til enhver tid rette eller få slettet eventuelt indhold og personlige oplysninger på Websitet, for hvilke du er den dataansvarlige. Hvis dine personlige oplysninger ændrer sig, kan du opdatere oplysningerne ved at logge ind på din brugerprofil. Hvis du ikke længere ønsker at blive vist på Websitet, kan du sende os en mail og vi sletter derefter din profil
                    <br>
                    <br>



                    Når din profil er slettet, bliver alle oplysninger i forbindelse med din brugerprofil slettet, herunder dine almindelige persondata og feedback på Websitet.
                    <br>
                    <br>


                    Vi forbeholder os retten til at blokere adgangen til din profil og/eller slette din profil, hvis profilen eller indholdet forbundet med din profil eller din(e) feedback på websitet er, efter vores vurdering, diskriminerende, racistisk, seksuelt orienteret, uetisk, truende, stødende, chikanerende eller på anden måde overtræder gældende love, tredjepartsrettigheder, Retningslinjerne for brugere eller er uforenelig med formålet med Websitet. Hvis vi blokerer adgangen til eller sletter din brugerprofil, vil vi informere dig om årsagen til blokeringen eller sletningen af din profil ved at sende en e-mail til den adresse, som du oplyste, da du oprettede din konto.
                </ol>

            </li>
            <br />




            <li>
                <b>
                    Ændring af Persondatapolitikken
                </b>
            </li>

            Vi kan ændre denne Politik til enhver tid. Datoen, der vises i starten af denne Persondatapolitik angiver, hvornår den sidst blev revideret. Eventuelle ændringer træder i kraft, når vi offentliggør den reviderede Persondatapolitik på Websitet. Du accepterer, at din fortsatte brug af Websitet efter eventuelle offentliggjorte ændringer udgør din accept af den nye version af Persondatapolitikken.



    </div>

</div>

@Html.Partial("_FooterPartial")