@{
    ViewData["Title"] = "Persondatapolitik";
}

<div class="footerPrivacy-img">
</div>

<div class="container" style="padding-bottom: 80px">
    <div class="col-md-12 omBestfluence">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>Persondatapolitik</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-guidelines">

        <h3>
            PERSONDATAPOLITIK (AUGUST 2017)
        </h3>
        Følgende persondatapolitik (herefter ”Persondatapolitik”) informerer dig om hvordan Bestfluence behandler dine data. Ved at benytte Bestfluence.dk (Herefter ”Website”) acceptere du at vi indsamler data på dig som beskrevet i Persondatapolitikken.
        <br>
        <br>
        Har du kommentarer eller rettelser til dine data kan du finde vores kontaktoplysninger nederst på siden.

        <ol>
            <li>
                Dataansvar
                <ol>
                    <li>
                        Vi anvender denne type data om dig
                        Vi anvender data om dig for at gøre vores service bedre og sikre kvalitet i vores produkter og tjenester samt i vores kontakt med dig. De data, vi anvender, omfatter:
                        <ol>
                            <li>Almindelige persondata som inkluderer, men ikke begrænser sig til, navn, email, køn og alder</li>
                            <li>Data om interesser og vaner som inkluderer, men ikke begrænser sig til dine søgemønstre, brug af og bidrag til vores Website</li>
                            <li>Unikke numre på netværksenheder som inkluderer, men ikke begrænser sig til dine browserindstillinger og enheder</li>
                        </ol>
                    </li>

                    <li>
                        Vi indsamler og opbevarer dine data i forbindelse med bestemte formål eller andre lovlige forretningsmæssige formål. Det sker, når vi har brug for at:
                        <ol>
                            <li>Forbedring af vores produkter og tjenester</li>
                            <li>Tilpasning af vores kommunikation og markedsføring til dig</li>
                            <li>Tilpasning af samarbejdspartneres kommunikation og markedsføring til dig</li>
                            <li>Administration af din relation til os</li>
                        </ol>
                    </li>

                    <li>Vi behandler kun relevante persondata</li>
                    Vi behandler kun data om dig, der er relevante og tilstrækkelige i forhold til de formål, der er defineret ovenfor. Formålet er afgørende for, hvilken type data om dig, der er relevante for os.

                    <li>Vi behandler kun nødvendige persondata</li>
                    Vi indsamler, behandler og opbevarer kun de persondata, der er nødvendige i forhold til at opfylde vores fastsatte formål.

                    <li>Vi kontrollerer og opdaterer dine persondata</li>
                    Vi kontrollerer, at de persondata, vi behandler om dig, ikke er urigtige eller vildledende. Vi sørger også for at opdatere dine persondata løbende. Da vores service er afhængig af, at dine data er korrekte og opdaterede, beder vi dig oplyse os om relevante ændringer i dine data.

                    <li>Vi sletter dine persondata, når de ikke længere er nødvendige</li>
                    Vi sletter dine persondata, når de ikke længere er nødvendige i forhold til det formål, som var grunden til vores indsamling, behandling og opbevaring af dine data.
                </ol>
            </li>

            <li>Sikkerhed</li>
            Vi har vedtaget interne regler om informationssikkerhed, som indeholder instrukser og foranstaltninger, der beskytter dine persondata mod at blive tilintetgjort, gå tabt eller blive ændret, mod uautoriseret offentliggørelse, og mod at uvedkommende får adgang eller kendskab til dem.

            <li>
                Cookies
                <br>
                Websitet bruger cookies. Cookies er digitale oplysninger, som gemmes på din computer. Cookies identificerer din computer i stedet for dig som en individuel bruger, og anvendes til forskellige formål, som inkluderer:
                <ol>
                    <li>Generering af statistik</li>
                    <li>Monitorering af Websitets ydeevne og din brug af vores Website</li>
                    <li>Godkendelse samt forbedring af funktionaliteten af vores Website</li>
                    <li>Forbinde dig til sociale netværk</li>
                    <li>Kvalitetssikring</li>
                    Hvis du ikke ønsker at gemme cookies kan du indstille din browser til dette, hvilket kan medfører at du ikke kan bruge vores Website fuldt ud.
                </ol>
            </li>


            <li>
                Dine rettigheder
                <ol>
                    <li>Adgang</li>
                    Du har til en enhver tid ret til at få oplyst, hvilke data vi behandler om dig, hvor de stammer fra, og hvad vi anvender dem til. Du kan også få oplyst, hvor længe vi opbevarer dine persondata, og hvem, der modtager data om dig. Hvis du anmoder om det, kan vi oplyse dig om til de data, vi behandler om dig. Adgangen kan dog være begrænset af hensyn til andre personers privatlivsbeskyttelse, til forretningshemmeligheder og immaterielle rettigheder.
                    <li>Rettelser og sletning</li>
                    Hvis du mener, at de persondata, vi behandler om dig, er unøjagtige, har du ret til at få dem rettet eller slettet.
                    <li>Indsigelse</li>
                    Du har ret til at gøre indsigelse mod vores behandling af dine persondata. Du kan også gøre indsigelse mod vores videregivelse af dine data til markedsføringsformål. Du kan bruge kontaktoplysningerne øverst til at sende en indsigelse. Hvis din indsigelse er berettiget, sørger vi for at ophøre med behandlingen af dine persondata.
                </ol>
            </li>

            <li>Ændring af politikken</li>
            Vi kan ændre Datapolitikken til enhver tid. Eventuelle ændringer træder i kraft, når vi offentliggør den reviderede Politik på Webstedet. Du accepterer, at din fortsatte brug af Webstedet efter eventuelle offentliggjorte ændringer udgør din accept af den nye version af Politikken.




        </ol>

    </div>

</div>

@Html.Partial("_FooterPartial")