@{
    ViewData["Title"] = "Retningslinjer for brugere";
}

<div class="footer-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1>Do it right</h1>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 80px">
    <div class="col-md-12 omBestfluence">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>Retningslinjer</h1>
                </div>
            </div>
        </div>

        <div class="col-md-12 footer-text">

            <p>
                Disse retningslinjer gælder for hvert brug af Bestfluences website i det følgende betegnet ”vores website”. I retningslinjerne refereres brugerne af vores website som ”du”, ”dig” og ”din”.<br /><br />
            </p><b>
                1.	Hvornår kan du give feedback?<br />
            </b>
            <p class="footerp">
                1.1.	Du kan give feedback når du har kendskab til en influencer og dennes indhold. Dette indebærer at du:<br />
            </p>
            <p class="footerp-punkt">
                •	Har set influenceren og dennes indhold jævnligt, men uden nødvendigvis at være fast følger<br />
                •	Følger, subscriber, liker eller på anden måde er en del af influencerens sociale medier<br />
                •	Har mødt influenceren offentligt, hvor vedkommende agerede som influencer og således ikke som privatperson<br /><br />
            </p>

            <p class="footerp">
                1.2.	Du må kun skrive om din egen personlige oplevelse af influenceren og dennes indhold. Det er ikke tilladt at skrive en anmeldelse af en anden persons oplevelse af influenceren eller dennes indhold.<br /><br />
                1.3.	For at give feedback skal du have en brugerprofil og en brugerkonto. Du må kun have én profil og brugerkonto. Brugerprofilen skal være tilknyttet en faktisk e-mail adresse, hvor vi kan komme i kontakt med dig.<br /><br />
                1.4.	Du kan tidligst give feedback til samme person 24 timer efter din seneste feedback.<br /><br />
            </p>
            <p>
                <b>
                    2.	Hvad bør du give feedback på?<br />
                </b>
                    Du bør give feedback på din oplevelse af influenceren og dennes indhold. Vi opfordrer til at give konstruktiv feedback - influencerne skal kunne tage vedligeholdelses- og udviklingspunkter med sig videre fra feedbacken. Andre brugere af websitet skal også kunne bruge anmeldelserne til at afgøre om en influencer er relevant for dem at følge.
                    Vi opfordrer derfor til at feedbacken er specifik og faktuel.
               
            </p><br /><br />
            <p>
                <b>3.	Hvornår kan du redigere din feedback?</b><br />
                Du kan til enhver tid redigere din feedback.<br /><br />
            </p>
            <p>
                <b>4.	Hvornår beder vi dig ændre din feedback?</b><br />
                Vi vil aldrig censurere feedback blot fordi den er negativ, ej heller overvåge eller modernisere indhold på vores website. Vi kører dog automatiske test af feedbacken og tillader os at bede dig redigere din feedback hvis den indeholder, men ikke er begrænset til:<br />
            </p>
            <p class="footerp">
                •	Personlige oplysninger der krænker personens privatliv, fortrolighed og/eller personlighedsrettigheder<br />
                •	Personlige angreb og uunderbyggede påstande<br />
                •	Manglende konstruktivitet
            </p><br />

            <p>
                <b> 5.	Hvornår fjerner vi din feedback?</b><br />
                Vi forbeholder os retten til at fjerne din feedback, hvis den strider mod vores retningslinjer og/eller gældende lovgivning. Eksempler på, hvornår vi fjerner feedback omfatter, men er ikke begrænset til:<br />
            </p>

            <p class="footerp">
                •	Manglende ændring af feedback inden for den til rådighed stillede tidsramme<br />
                •	Din feedback lader ikke til at basere sig på egen erfaring med influenceren og dennes indhold<br />
                •	Din feedback krænker andre personens privatliv, fortrolighed og/eller personlighedsrettigheder<br />
                •	Du har oprettet flere profiler og givet feedback til samme influencer flere gange<br />
                •	Åbenlyst falsk feedback<br />
                •	Feedback der indeholder voldelig eller grov sprogbog<br />
                •	Feedback der indeholder demografisk diskriminerende sprogbrug<br />
                •	Feedback der indeholder provokerende eller injurijerende sprogbrug i strid med vores retningslinjer eller gældende lovgivning<br />
                •	Mobning eller anden krænkende adfærd<br /><br />
            </p>
            <p>
                <b>6.	Hvornår sletter vi din brugerprofil og –konto?</b><br />
                Som udgangspunkt sletter vi ikke brugerprofiler og –kontoer. Vi forbeholder os dog retten til at slette din profil og konto, hvis vi mener, at du overtræder eller har overtrådt vores retningslinjerne og/eller gældende lovgivning, eller hvis din profil er stødende eller upassende.<br /><br />
                <b> 7.	Har du spørgsmål, brug for mere information eller feedback til os?</b><br />
                På vores website under ”kontakt os” er du velkommen til at sende dine spørgsmål og feedback angående vores tjenester og retningslinjer.<br /><br />
                <b>8.	Ændring af disse retningslinjer</b><br />
                Vi kan til enhver tid ændre disse retningslinjer uden forudgående varsel. Vi vil informere dig om ændringer via vores website. Du accepterer, at din fremtidige brug af vores website og vores tjenester, efter vi har slået nye versioner af disse retningslinjer op, udgør din accept af disse opdateringer.
            </p>

        </div>
    </div>





</div>




@Html.Partial("_FooterPartial")
