@{
    ViewData["Title"] = "Retningslinjer for brugere";
}

<div class="footer-img">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1>Gør det ordenligt</h1>
            </div>
        </div>
    </div>
</div>

<div class="container" style="padding-bottom: 80px">
    <div class="col-md-12 omBestfluence">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h1>Retningslinjer</h1>
                </div>
            </div>
        </div>
    </div>



    <div class="footer-guidelines">
        <h3>
            RETNINGSLINJER FOR BRUG AF BESTFLUENCE (AUGUST 2017)
        </h3>
        Følgende retningslinjer (herefter "Retningslinjer") gælder for enhver brug af Bestfluences website (herefter "Website"). I Retningslinjerne refereres brugerne af vores Website som ”du”, ”dig” og ”din”.

        <ol>
            <li>
                Hvem kan oprette en profil?
                Der findes to profiltyper på vores Website: følger (Følgerprofil) og influencer (herefter ”Influencerprofil”). For at oprette en profil gælder følgende:
                <ol>
                    <li>Følgerprofil</li>
                    Du kan til enhver tid oprette dig
                    <li>Influencerprofil</li>
                    Du har mindst én profil på sociale medier og/eller en blog, hvor du regelmæssigt ligger indhold op med henblik på at inspirere, underholde, berige eller informere andre
            </li>
        </ol>

        <li>
            Hvornår kan du give eller svare på feedback?
            <ol>
                <li>
                    Du kan give feedback når du har kendskab til en influencer og dennes indhold. Dette indebærer at du:
                    <ol>
                        <li>Har set influenceren og dennes indhold jævnligt, men uden nødvendigvis at være fast følger</li>
                        <li>Følger, subscriber, liker eller på anden måde er en del af influencerens sociale medier</li>
                        <li>Har mødt influenceren offentligt, hvor vedkommende agerede som influencer og således ikke som privatperson</li>
                    </ol>
                </li>
                <li>Du må kun skrive om din egen personlige oplevelse af influenceren og dennes indhold. Det er ikke tilladt at skrive en anmeldelse af en anden persons oplevelse af influenceren eller dennes indhold.</li>
                <li>For at give feedback skal du have en Følgerprofil. Du må kun have én Følgerprofil. Følgerprofilen skal være tilknyttet en faktisk e-mail adresse, hvor vi kan komme i kontakt med dig.</li>
                <li>Du kan tidligst give feedback til samme person 24 timer efter din seneste feedback.</li>
                <li>Du kan svare på feedback, når du har modtaget denne på din Influencerprofil. Du må kun have én Influencerprofil. Influencerprofilen skal være tilknyttet en faktisk e-mail adresse, hvor vi kan komme i kontakt med dig.</li>
            </ol>
        </li>

        <li>Hvad bør du give feedback på?</li>
        Du bør give feedback på din oplevelse af influenceren og dennes indhold. Vi opfordrer til at give konstruktiv feedback - influencerne skal kunne tage fastholdelses- og udviklingspunkter med sig videre fra feedbacken. Andre brugere af websitet skal også kunne bruge anmeldelserne til at afgøre om en influencer er relevant for dem at følge. Vi opfordrer derfor til at feedbacken er specifik og faktuel.

        <li>Hvornår kan du redigere din feedback og svar til denne?</li>
        Du kan til enhver tid redigere din feedback og dit svar til denne med en Følger- og Influencerprofil. Du kan ikke ændre din rating, når den først er givet.

        <li>
            Hvornår beder vi dig ændre din feedback?
            Vi vil aldrig censurere feedback blot fordi den er negativ, ej heller overvåge eller modernisere indhold på vores website. Vi kører dog automatiske test af feedbacken og tillader os at bede dig redigere din feedback hvis den indeholder, men ikke er begrænset til:
            <ol>
                <li>Personlige oplysninger der krænker personens privatliv, fortrolighed og/eller personlighedsrettigheder</li>
                <li>Personlige angreb og uunderbyggede påstande</li>
                <li>Manglende konstruktivitet</li>
            </ol>
        </li>



        <li>
            Hvornår fjerner vi din feedback?
            Vi forbeholder os retten til at fjerne din feedback, hvis den strider mod vores Retningslinjer og/eller gældende lovgivning. Eksempler på, hvornår vi fjerner feedback omfatter, men er ikke begrænset til:
            <ol>
                <li>Manglende ændring af feedback inden for den til rådighed stillede tidsramme</li>
                <li>Din feedback lader ikke til at basere sig på egen erfaring med influenceren og dennes indhold</li>
                <li>Din feedback krænker andre personens privatliv, fortrolighed og/eller personlighedsrettigheder</li>
                <li>Du har oprettet flere profiler og givet feedback til samme influencer flere gange</li>
                <li>Åbenlyst falsk feedback</li>
                <li>Feedback der indeholder voldelig eller grov sprogbog</li>
                <li>Feedback der indeholder demografisk diskriminerende sprogbrug</li>
                <li>Feedback der indeholder provokerende eller injurijerende sprogbrug i strid med vores retningslinjer eller gældende lovgivning</li>
                <li>Mobning eller anden krænkende adfærd</li>
            </ol>
        </li>

        <li>Hvornår sletter vi din Følger- eller Influencerprofil?</li>
        Som udgangspunkt sletter vi ikke din Følger- eller Influencerprofil. Vi forbeholder os dog retten til at slette din profil, hvis vi mener, at du overtræder eller har overtrådt vores Retningslinjerne og/eller gældende lovgivning, og/eller hvis din profil er stødende eller upassende.

        <li>Har du spørgsmål, brug for mere information eller feedback til os?</li>
        På vores Website under ”Kontakt oS” er du velkommen til at sende dine spørgsmål og feedback angående vores tjenester og Retningslinjer.

        <li>Ændring af disse Retningslinjer</li>
        Vi kan til enhver tid ændre disse Retningslinjer uden forudgående varsel. Vi vil informere dig om ændringer via vores website. Du accepterer, at din fremtidige brug af vores website og vores tjenester, efter vi har slået nye versioner af disse retningslinjer op, udgør din accept af disse opdateringer.
        </ol>


        
    </div>





</div>




@Html.Partial("_FooterPartial")
