

<div class="icon-bar-admin">
    <a asp-controller="Admin" asp-action="Index"><i class="fa fa-home"></i></a>
    <a asp-controller="Admin" asp-action="Statistic"><i class="fa fa-bar-chart"></i></a>
    <a asp-controller="Admin" asp-action="BlogArticles"><i class="fa fa-folder-open-o"></i></a>
</div>