@model ApplicationUser


<div class="navbar-allaround"></div>

<div class="container">
    <div class="col-md-offset-3 col-md-6">
        <h2 style="text-align: center">Skift kodeordet </h2>
        <hr />
        <form asp-controller="Admin" asp-action="ChangePassword" method="post">
            <input type="hidden" name="id" value="@Model.Id" />
            <input class="edit-input" name="newPassword" />
            <input class="edit-button" value="Skift kodeordet" type="submit" />
        </form>
    </div>
</div>



