@model ApplicationUser

<div class="background-all">



    <div class="navbar-allaround"></div>

    <div class="container">
        <div class="col-md-offset-3 col-md-6" style="padding-top: 40px">
            <div class="white-box">


                <h3 style="text-align: center">Skift kodeordet </h3>
                <hr />
                <div class="edit-user-container" style="padding-top: 0">


                    <form asp-controller="admin" asp-action="changePassword" method="post">
                        <p>Nye kodeord</p>
                        <input type="hidden" name="id" value="@Model.Id" />
                        <input type="text" name="newPassword" />
                        <button value="Skift kodeordet" type="submit" >Skift</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



</div>