
@model RateBlog.Models.InfluenterViewModels.IndexViewModel
@inject RateBlog.Repository.IPlatformRepository PlatformRepository
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Admin Side";
}
    

<div class="navbar-allaround">
    
</div>
<div class="container">
    <div class="">
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h2>Søg på alle brugere</h2>
                    <form method="get" asp-area="" asp-controller="Admin" asp-action="ShowUser">
                        <input type="text" name="searchString" id="searchString" class="search-input" style="border: solid 1px" placeholder="F.eks. ud fra navn eller platform" />
                        <span>
                            <input class="search-button" type="submit" value="Søg" />
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>



 


















</div>



