
@{
    ViewData["Title"] = "ProfilePage";
}


<div class="navbar-allaround">

</div>
<div class="container">
    <div class="col-md-12">
        <h1 style="text-align:center;">Miki Møller</h1>
        <br />
    </div>

    <div class="col-md-12">


        <div class="col-md-4">

            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/131611/avatar.jpg" class="admin-img center-block" alt="Avatar Korra" />

        </div>
      

        <div class="col-md-6">


            <table class="table table-striped">
                <thead></thead>
                <tbody>
                    <tr>
                        <td class="col-md-2">Navn</td>
                        <td class="col-md-4">Miki Møller</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>mikimoller@gmail.com</td>
                    </tr>

                    <tr>
                        <td>Årgang</td>
                        <td>1993</td>
                    </tr>
                    <tr>
                        <td>Postnummer</td>
                        <td>4400</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>Bruger</td>
                    </tr>

                    <tr>
                        <td>Telefon nummer</td>
                        <td>42752467</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <a style="background:green;" class="admin-btn">Rediger</a>
            <a style="background:blue;" class="admin-btn">Feedback</a>
            <a style="background:red;" class="admin-btn">Slet</a>
            <a style="background:orange;" class="admin-btn">Ban </a>
        </div>
    </div>
</div>
<div class="admin-middle">


    <div class="container">


        <div class="col-md-12">


            <div class="col-md-12 text-center">


                <div class="col-md-12">

                    <h2 style="margin-bottom:30px;">Influencer</h2>
                    <div class="col-md-3">
                        <h4>8</h4>
                        <h5>Rating</h5>
                    </div>

                    <div class="col-md-3">
                        <h4>12</h4>
                        <h5>svaret</h5>
                    </div>

                    <div class="col-md-3">
                        <h4>87%</h4>
                        <h5>Svar procent</h5>
                    </div>

                    <div class="col-md-3">
                        <h4>3,2</h4>
                        <h5>Score</h5>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<div class="admin-profile-middle">


    <div class="container">
        <h2 style="text-align:center; margin-bottom:30px;">Profil tekst</h2>
        <h4 style="text-align:center; max-width: 600px;margin:0 auto; margin-bottom:60px">En lang og kedelig tekst her som skal udstrække sig forevigt og evigt og evigt og evigt og evigt og evigt og evigt og evigt</h4>
    </div>
</div>