@model RateBlog.Models.AdminViewModels.SeMereViewModel
@inject UserManager<ApplicationUser> UserManager



@{
    ViewData["Title"] = "Se mere om brugeren";

}
<div class="navbar-allaround">
</div>

    @Html.HiddenFor(x => x.ApplicationUser.Id)
    <table class="table table-striped">
    
     
        <thead>
            
            <tr>
                <th colspan="2">Profil</th>
                <th colspan="2">Platform</th>
                <th colspan="2">Rating</th>
                <th colspan="2">Feedbak</th>
                <th>Anbefaling</th>
            </tr>
            
            <tr>
                <th>Bruger</th>
                <th>Influencer</th>
                <th>Blank</th>
                <th>Kvalitet</th>
                <th>Opførsel</th>
                <th>Troværdighed</th>
                <th>Posetiv</th>
                <th>Negativ</th>
                <th>Anbefalings information</th>
                <th>Knapper</th>
            </tr>
        </thead>
     
        <tbody>
            <tr>
                <th>Information</th>
                <td> @Model.ApplicationUser.Name</td>
                <td> influenter.id her</td>
                <td> Kvalitet info her</td>
                <td> Kvalitet info her</td>
                <td>Troværdigheds info her</td>
                <td> Posetiv feedback?</td>
                <td> Negativ feedback?</td>
                <td> Anbefalings info her</td>
                <td> Knapper</td>
              
            </tr>
        </tbody>
    </table>
   
